<!DOCTYPE html>
<div ng-include="'partials/surveys/index-menu.html'"></div>
<main>
  <oddin-preloader load-var="load" side-bar="true"></oddin-preloader>
  <div class="container">
    <p class="empty-message center-align" ng-if="surveys.length == 0">Nenhuma enquete foi criada</p>
    <div class="card pergunta" ng-repeat="survey in surveys | orderBy: 'created_at' : true">
      <div class="card-content">
        <div class="custom-card__header"><span class="title">{{survey.title}}</span><span class="secondary-info"><span class="secondary-info--leading">{{survey.created_at | date:"dd/MM/yyyy"}}</span><span class="chosen-tag" ng-if="!survey.closed &amp;&amp; survey.my_vote">Votada</span><span class="closed-tag" ng-if="survey.closed">Encerrada</span></span>
          <p class="survey-question">{{survey.question}}</p>
        </div>
      </div>
      <div class="card-action custom-card__action">
        <div class="row">
          <div class="col s12">
            <div class="ver-resposta--prof survey-button-answer"><a class="waves-effect btn-flat" ng-click="displayAnswers(survey)"><span>{{displayAlternativesButton(survey)}}</span></a></div>
          </div>
        </div>
      </div>
      <div class="resposta survey-answer-container" ng-attr-id="answers-{{survey.id}}">
        <div class="resposta__content choices-content clearfix">
          <form ng-submit="makeChoice(survey)" ng-if="!survey.closed &amp;&amp; !survey.my_vote">
            <p ng-repeat="alternative in survey.alternatives">
              <input class="with-gap" name="group-{{survey.id}}" ng-model="survey.choice" value="{{alternative.id}}" type="radio" ng-attr-id="alternative-{{alternative.id}}">
              <label for="alternative-{{alternative.id}}">{{alternative.description}}</label><span class="badge" data-badge-caption="votos">{{alternative.choice_count}}</span>
            </p>
            <button class="btn waves-effect waves-light right" type="submit" name="action">Votar</button>
          </form>
          <p ng-repeat="alternative in survey.alternatives" ng-if="survey.closed || survey.my_vote">
            <label class="closed-alternatives" for="alternative-{{alternative.id}}">{{alternative.description}}</label><span class="chosen-alternative" ng-if="survey.my_vote == alternative.id">Meu Voto</span><span class="badge" data-badge-caption="votos">{{alternative.choice_count}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>