doctype html
div(ng-include="'partials/surveys/index-menu.html'")

main
	oddin-preloader(load-var="load" side-bar="true")
	//- Modals
	#modal-create.modal.bottom-sheet
		.modal-content.modal-criar-item
			.row
				form.offset-m2.offset-l3.col.s12.m8.l6(ng-submit="createSurvey(newSurvey)")
					h1.modal-criar-item__titulo Criar Enquete
					.row
						.input-field.col.s12
							input#new-survey-title(type="text" ng-model="newSurvey.title" required)
							label(for="new-survey-title") Título
						.input-field.col.s12
							textarea#new-survey-question.materialize-textarea(ng-model="newSurvey.question" required)
							label(for="new-survey-question") Pergunta
						.choices(ng-repeat="alternative in newSurvey.alternatives")
							.input-field.col.s11.remove-choice-field
								input(id="alternative-{{newSurvey.alternatives.indexOf(alternative)}}" type="text" ng-model="newSurvey.alternatives[newSurvey.alternatives.indexOf(alternative)].description" required)
								label(for="alternative-{{newSurvey.alternatives.indexOf(alternative)}}") Alternativa {{newSurvey.alternatives.indexOf(alternative) + 1}}
							.input-field.col.s1.remove-choice-button(ng-show="$last")
								a.right(href="" ng-click="removeAlternative(newSurvey)")
									i.material-icons close
						.input-field.col.s12
							a.btn-floating.waves-effect.waves-light.right(ng-click="addNewAlternative(newSurvey)")
								i.material-icons add
					button.btn.waves-effect.waves-light.modal-close(type="submit", name="action") Enviar
	#modal-edit.modal.bottom-sheet
		.modal-content.modal-criar-item
			.row
				form.offset-m2.offset-l3.col.s12.m8.l6(ng-submit="updateSurvey(modalSurvey)")
					h1.modal-criar-item__titulo Editar Enquete
					.row
						.input-field.col.s12
							input#modal-survey-title(type="text" ng-model="modalSurvey.title" required)
							label(for="modal-survey-title") Título
						.input-field.col.s12
							textarea#modal-survey-question.materialize-textarea(ng-model="modalSurvey.question" required)
							label(for="modal-survey-question") Pergunta
						.choices(ng-repeat="alternative in modalSurvey.alternatives")
							.input-field.col.s12.remove-choice-field
								input(ng-attr-id="alternative-{{modalSurvey.alternatives.indexOf(alternative)}}" type="text" ng-model="modalSurvey.alternatives[modalSurvey.alternatives.indexOf(alternative)].description" required)
								label(for="alternative-{{modalSurvey.alternatives.indexOf(alternative)}}") Alternativa {{modalSurvey.alternatives.indexOf(alternative) + 1}}
					button.btn.waves-effect.waves-light.modal-close(type="submit" name="action") Atualizar
	#modal-delete.modal
		.modal-content
			h4.custom-modal__header Excluir Enquete
			p Tem certeza que deseja excluir "{{modalSurvey.title}}"?
		.modal-footer
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="" ng-click="deleteSurvey(modalSurvey)") Confirmar
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="") Cancelar
	#modal-close.modal
		.modal-content
			h4.custom-modal__header Encerrar Enquete
			p Tem certeza que deseja encerrar "{{modalSurvey.title}}"?
		.modal-footer
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="" ng-click="closeSurvey(modalSurvey)") Confirmar
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="") Cancelar
	//- Main Content
	.container
		oddin-fab(trigger="modal-create" modal-trigger="true" icon="add")
		p.empty-message.center-align(ng-if="surveys.length == 0") Nenhuma enquete foi criada
		.card.pergunta(ng-repeat="survey in surveys | orderBy: 'created_at' : true")
			.card-content
				.custom-card__header
					span.title {{survey.title}}
					span.secondary-info
						span.secondary-info--leading(ng-if="!survey.closed") {{survey.created_at | date:"dd/MM/yyyy"}}
						span.closed-tag(ng-if="survey.closed") Encerrada
					p.survey-question {{survey.question}}
			.card-action.custom-card__action
				.row
					.col.s12
						a(href="" ng-click="modalDelete(survey)")
							i.material-icons delete
						a(href="" ng-click="modalEdit(survey)")
							i.material-icons edit
						a(href="" ng-click="modalClose(survey)" ng-if="!survey.closed")
							i.material-icons close
						.ver-resposta--prof.survey-button-answer
							a.waves-effect.btn-flat(ng-click="displayAnswers(survey)")
								span {{displayAlternativesButton(survey)}}
			.resposta.survey-answer-container(ng-attr-id="answers-{{survey.id}}")
				.resposta__content.survey-answer-content
					ul.collection.survey-answer-list
						li.collection-item(ng-repeat="alternative in survey.alternatives")
							| {{alternative.description}}
							span.new.badge(data-badge-caption="Votos") {{alternative.choice_count}}
