doctype html
div(ng-include="'partials/faqs/index-menu.html'")

main
	oddin-preloader(load-var="load" side-bar="true")
	//- Modals
	#modal-create.modal.bottom-sheet
		.modal-content.modal-criar-item
			.row
				form.offset-m2.offset-l3.col.s12.m8.l6(ng-submit="createFAQ(newFAQ)")
					h1.modal-criar-item__titulo Adicionar FAQ
					.row
						.input-field.col.s12
							textarea#new-faq-question.materialize-textarea(ng-model="newFAQ.question" required)
							label(for="new-faq-question") Pergunta
						.input-field.col.s12
							textarea#new-faq-answer.materialize-textarea(ng-model="newFAQ.answer" required)
							label(for="new-faq-answer") Resposta
					button.btn.waves-effect.waves-light.modal-close(type="submit" name="action") Enviar
	#modal-edit.modal.bottom-sheet
		.modal-content.modal-criar-item
			.row
				form.offset-m2.offset-l3.col.s12.m8.l6(ng-submit="updateFAQ(modalFAQ)")
					h1.modal-criar-item__titulo Editar FAQ
					.row
						.input-field.col.s12
							textarea#modal-faq-question.materialize-textarea(ng-model="modalFAQ.question" required)
							label(for="modal-faq-question") Pergunta
						.input-field.col.s12
							textarea#modal-faq-answer.materialize-textarea(ng-model="modalFAQ.answer" required)
							label(for="modal-faq-answer") Resposta
					button.btn.waves-effect.waves-light.modal-close(type="submit" name="action") Atualizar
	#modal-delete.modal
		.modal-content
			h4.custom-modal__header Excluir FAQ
			p Tem certeza que deseja excluir FAQ?
		.modal-footer
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="" ng-click="deleteFAQ(modalFAQ)") Confirmar
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="") Cancelar
	//- Main Content
	.container
		oddin-fab(trigger="modal-create" modal-trigger="true" icon="add")
		p.empty-message.center-align(ng-if="faqs.length == 0") Nenhuma FAQ foi postada
		.card.pergunta(ng-repeat="faq in faqs")
			.card-content
				.custom-card__header
					span.title {{faqs.indexOf(faq) + 1}}
				p {{faq.question}}
			.card-action.custom-card__action
				.row
					.col.s12
						a(href="" ng-click="modalDelete(faq)")
							i.material-icons delete
						a(href="" ng-click="modalEdit(faq)")
							i.material-icons edit
						.ver-resposta--prof.faq-button-answer
							a.waves-effect.btn-flat(ng-click="displayAnswer(faq)")
								span {{answerButtonText}}
			.resposta.faq-answer-container(ng-attr-id="answer-{{faq.id}}")
				.resposta__content.faq-answer
					p  {{faq.answer}}
