doctype html
header
	oddin-header(title="{{event.name}}", btn-type="back", to-state-url="/admin-cursos")
	ul#slide-out.side-nav.fixed.barra-lateral
		.barra-lateral__header
			i.barra-lateral__user-avatar.material-icons account_circle
			p.barra-lateral__user-name {{user.name}}
			p.barra-lateral__user-email {{user.email}}
		li.no-padding
			ul.collapsible(data-collapsible="expandable")
				li.barra-lateral__item
					a.barra-lateral__item--collapsible.collapsible-header.active.truncate Principal
					.collapsible-body
						ul
							li.barra-lateral__subitem
								a(ui-sref="admin-events") Cursos
							li.barra-lateral__subitem
								a(ui-sref="admin-lectures") Disciplinas
							li.barra-lateral__subitem
								a(ui-sref="admin-users") Usuarios
		li.no-padding.barra-lateral__item(data-ng-controller="LoginController")
			a(href="" data-ng-click="logout()") Logout

main
	oddin-preloader(load-var="load", side-bar="true")
	//- Modals
	#modal-delete-instruction.modal
		.modal-content
			h4.custom-modal__header Remover Disciplina
			p Tem certeza que deseja remover '{{modalContent.lecture.name}}'?
		.modal-footer
			a(href='' data-ng-click="deleteInstruction(modalContent)").modal-action.modal-close.waves-effect.btn-flat.custom-modal__button Confirmar
			a(href='').modal-action.modal-close.waves-effect.btn-flat.custom-modal__button Cancelar
	//- Main Content
	.container
		oddin-fab(trigger="/add-instructions/{{event.id}}")
		//- .fixed-action-btn(style="bottom: 24px; right: 24px;")
		//- 	a.btn-floating.btn-large.waves-effect.waves-light.modal-trigger(ui-sref="add-instructions({cursoID: curso.id})")
		//- 		i.large.material-icons add
		.card.custom-card
			.card-content
				.custom-card__header
					span.title.info-title Informações do curso
				.custom-card__content
					ul.info
						li
							span Nome:
							p {{event.name}}
						li
							span Código:
							p {{event.code}}
						li
							span Carga Horária:
							p {{event.workload}}
		ul.collection.with-header.custom-list
			li.collection-header.custom-list__header
				h2 Disciplinas do curso
			li.collection-item.avatar.custom-list__item(data-ng-repeat="disciplina in instructions | orderBy : 'season' : true")
				i.material-icons.circle book
				a(ui-sref="instruction-show({disciplinaID: disciplina.id})")
					span.title {{disciplina.lecture.name}} - Turma: {{disciplina.class_number}}
					p {{disciplina.lecture.code}}
						br
						| {{disciplina.season}}
				a.secondary-content(href="" data-ng-click="openModalDeleteInstruction(disciplina)")
					i.material-icons remove_circle
