doctype html
header.add-header
	.navbar-fixed
		nav.navbar-fixed.barra-navegacao
			.nav-wrapper.barra-navegacao__container
				a.barra-navegacao__voltar(ui-sref='curso-status({cursoID: curso.id})')
						i.material-icons close
				h1.barra-navegacao__title.truncate Adicionar Disciplinas
main.add-main(data-ng-init="buscaInfo()")
	#modal-add-disciplina.modal.modal-fixed-footer
		.modal-content
			h4.custom-modal__header Adicionar '{{modalContent.name}}'
			.row
				.input-field.col.s12
					input#instruction_class_number(type="number", data-ng-model="modalContent.class_number")
					label(for="instruction_class_number") Número da Turma
				.input-field.col.s12
					input#instruction_start_date(type="text", data-ng-model="modalContent.start_date" ui-mask="99/99/9999", ui-options="{addDefaultPlaceholder:false}")
					label(for="instruction_start_date") Data de Início
				.input-field.col.s12
					input#instruction_end_date(type="text", data-ng-model="modalContent.end_date" ui-mask="99/99/9999", ui-options="{addDefaultPlaceholder:false}")
					label(for="instruction_end_date") Data de Encerramento
		.modal-footer
			a(href='' data-ng-click="createInstruction(modalContent)").modal-action.modal-close.waves-effect.btn-flat.custom-modal__button Confirmar
			a(href='').modal-action.modal-close.waves-effect.btn-flat.custom-modal__button Cancelar
	.container(data-ng-init="setRegistrableUsers()")
		.fixed-action-btn(style="bottom: 24px; right: 24px;")
			a.btn-floating.btn-large.waves-effect.waves-light.modal-trigger(ui-sref='curso-status({cursoID: curso.id})')
				i.large.material-icons check
		h5.main-title {{curso.name}}
		.row
			.col.l6.s12
				ul.collection.with-header.custom-list(data-ng-init="buscaLectures()")
					li.collection-header.custom-list__header
						h2 Disciplinas Disponíveis
					li.collection-item.avatar.custom-list__item(data-ng-repeat="lecture in lectures")
						i.material-icons.circle book
						span.title {{lecture.name}}
						p {{lecture.code}}
						a.secondary-content(href="" data-ng-click="openModalAddLecture(lecture)")
							i.material-icons add_circle
			.col.l6.s12
				ul.collection.with-header.custom-list(data-ng-init="buscaInstructions()")
					li.collection-header.custom-list__header
						h2 Disciplinas do Curso
					li.collection-item.avatar.custom-list__item(data-ng-repeat="instruction in instructions")
						i.material-icons.circle book
						span.title {{instruction.lecture.name}}
						p Turma: {{instruction.class_number}}
						a.secondary-content(href="" data-ng-click="openModalDeleteInstruction(instruction)")
							i.material-icons remove_circle
