doctype html
header
  .navbar-fixed
    nav.navbar-fixed.barra-navegacao
      .nav-wrapper.barra-navegacao__container
        a.button-collapse.hide-on-large-only(href="" data-activates="slide-out", data-sidenav="left", data-closeonclick="true")
          i.material-icons menu
        h1.barra-navegacao__title.truncate Disciplinas
        a.brand-logo.right.hide-on-small-only(href="/")
          img.barra-navegacao__logo(src="/images/horizontal_logo.png")
  ul#slide-out.side-nav.fixed.barra-lateral
    .barra-lateral__header
      i.barra-lateral__user-avatar.material-icons account_circle
      p.barra-lateral__user-name {{usuario.nome}}
      p.barra-lateral__user-email {{usuario.email}}
    li.no-padding.barra-lateral__item
      a(ui-sref='cursos-admin') Cursos
    li.no-padding.barra-lateral__item
      a.active Disciplinas
    li.no-padding.barra-lateral__item
      a(ui-sref='usuarios-admin') Usuários
    li.no-padding.barra-lateral__item(data-ng-controller="LoginController")
      a(href="" data-ng-click="logout()") Logout
main(data-ng-init="buscaDisciplinas()")
  #modal-deleta-disciplina.modal
    .modal-content
      h4.custom-modal__header Excluir Disciplina
      p Tem certeza que deseja excluir '{{modalContent.name}}'?
    .modal-footer
      a(href='' data-ng-click="deleteDisciplina(modalContent)").modal-action.modal-close.waves-effect.btn-flat.custom-modal__button Confirmar
      a(href='').modal-action.modal-close.waves-effect.btn-flat.custom-modal__button Cancelar
  .preloader-wrapper.big.active.custom-preloader(ng-hide="data_loaded")
    .spinner-layer
      .circle-clipper.left
        .circle
  .container
    .fixed-action-btn(style="bottom: 24px; right: 24px;")
      a.btn-floating.btn-large.waves-effect.waves-light.modal-trigger(href="#cadastrar-disciplina", modal)
        i.large.material-icons add
    #cadastrar-disciplina.modal.bottom-sheet
      .modal-content.modal-criar-item
        .row
          form.offset-m2.offset-l3.col.s12.m8.l6(data-ng-submit="cadastraDisciplina()")
            h1.modal-criar-item__titulo Cadastrar disciplina
            .row
              .input-field.col.s12
                input#nome-disciplina(type="text", data-ng-model="disciplina.name")
                label(for="nome-disciplina") Nome
              .input-field.col.s12
                input#codigo-disciplina(type="text", data-ng-model="disciplina.code")
                label(for="codigo-disciplina") Código
              .input-field.col.s12
                input#carga-curso(type="text", data-ng-model="disciplina.workload")
                label(for="carga-disciplina") Carga Horária
                button.btn.waves-effect.waves-light.modal-close(type="submit", name="action") Cadastrar
    ul.collection.with-header.custom-list
      li.collection-header.custom-list__header
        h2 Disciplinas cadastradas
      li.collection-item.avatar.custom-list__item(data-ng-repeat="disciplina in disciplinas")
        i.material-icons.circle book
        a(ui-sref='disciplina-status({disciplinaID: disciplina.id})')
          span.title {{disciplina.name}}
          p {{disciplina.code}}
        a.secondary-content(href="" data-ng-click="openModalDeleteDisciplina(disciplina)")
          i.material-icons delete
