doctype html
header
	.navbar-fixed
		nav.navbar-fixed.barra-navegacao
			.nav-wrapper.barra-navegacao__container
				a.button-collapse.hide-on-large-only(href="" data-activates="slide-out", data-sidenav="left", data-closeonclick="true")
					i.material-icons menu
				h1.barra-navegacao__title.truncate Cursos
				a.brand-logo.right.hide-on-small-only(href="/")
					img.barra-navegacao__logo(src="/images/horizontal_logo.png")
	ul#slide-out.side-nav.fixed.barra-lateral
		.barra-lateral__header
			i.barra-lateral__user-avatar.material-icons account_circle
			p.barra-lateral__user-name {{usuario.nome}}
			p.barra-lateral__user-email {{usuario.email}}
		li.no-padding.barra-lateral__item
			a.active Cursos
		li.no-padding.barra-lateral__item
			a(ui-sref='disciplinas-admin') Disciplinas
		li.no-padding.barra-lateral__item
			a(ui-sref='usuarios-admin') Usuários
		li.no-padding.barra-lateral__item(data-ng-controller="LoginController")
			a(href="" data-ng-click="logout()") Logout
main(data-ng-init="buscaCursos()")
	#modal-deleta-curso.modal
		.modal-content
			h4.custom-modal__header Excluir Curso
			p Tem certeza que deseja excluir '{{modalContent.name}}'?
		.modal-footer
			a(href='' data-ng-click="deleteCurso(modalContent)").modal-action.modal-close.waves-effect.btn-flat.custom-modal__button Confirmar
			a(href='').modal-action.modal-close.waves-effect.btn-flat.custom-modal__button Cancelar
	.preloader-wrapper.big.active.custom-preloader(ng-hide="data_loaded")
		.spinner-layer
			.circle-clipper.left
				.circle
	.container
		.fixed-action-btn(style="bottom: 24px; right: 24px;")
			a.btn-floating.btn-large.waves-effect.waves-light.modal-trigger(href="#cadastrar-curso", modal)
				i.large.material-icons add
		#cadastrar-curso.modal.bottom-sheet
			.modal-content.modal-criar-item
				.row
					form.offset-m2.offset-l3.col.s12.m8.l6(data-ng-submit="cadastraCurso()")
						h1.modal-criar-item__titulo Cadastrar curso
						.row
							.input-field.col.s12
								input#nome-curso(type="text", data-ng-model="curso.name")
								label(for="nome-curso") Nome
							.input-field.col.s12
								input#codigo-curso(type="text", data-ng-model="curso.code")
								label(for="codigo-curso") Código
							.input-field.col.s12
								input#carga-curso(type="text", data-ng-model="curso.workload")
								label(for="carga-curso") Carga Horária
						button.btn.waves-effect.waves-light.modal-close(type="submit", name="action") Cadastrar
		#modal-edita-curso.modal.bottom-sheet
			.modal-content.modal-criar-item
				.row
					form.offset-m2.offset-l3.col.s12.m8.l6(data-ng-submit="updateCurso(modalContent)")
						h1.modal-criar-item__titulo Editar curso
						.row
							.input-field.col.s12
								input#nome-curso(type="text", data-ng-model="modalContent.name")
								label(for="nome-curso") Nome
							.input-field.col.s12
								input#codigo-curso(type="text", data-ng-model="modalContent.code")
								label(for="codigo-curso") Código
							.input-field.col.s12
								input#carga-curso(type="text", data-ng-model="modalContent.workload")
								label(for="carga-curso") Carga Horária
						button.btn.waves-effect.waves-light.modal-close(type="submit", name="action") Atualizar
		ul.collection.with-header.custom-list
			li.collection-header.custom-list__header
				h2 Cursos cadastrados
			li.collection-item.avatar.custom-list__item(data-ng-repeat="curso in cursos")
				i.material-icons.circle collections_bookmark
				a(ui-sref='curso-status({cursoID: curso.id})')
					span.title {{curso.name}}
					p {{curso.code}}
				.secondary-content
					a.list-double-secondary(href="" data-ng-click="openModalEditCurso(curso)")
						i.material-icons edit
					a(href="" data-ng-click="openModalDeleteCurso(curso)")
						i.material-icons delete
