doctype html
header
  .navbar-fixed
    nav.navbar-fixed.barra-navegacao
      .nav-wrapper.barra-navegacao__container
        a.button-collapse.hide-on-large-only(href="", data-activates="slide-out", data-sidenav="left", data-closeonclick="true")
          i.material-icons menu
        a.barra-navegacao__voltar.hide-on-med-and-down(ui-sref='disciplinas')
          i.material-icons arrow_back
        h1.barra-navegacao__title.truncate {{disciplina.lecture.name}} - Aulas
        a.brand-logo.right.hide-on-small-only(href="/")
          img.barra-navegacao__logo(src="/images/horizontal_logo.png")
  ul#slide-out.side-nav.fixed.barra-lateral
    .barra-lateral__header
      i.barra-lateral__user-avatar.material-icons account_circle
      p.barra-lateral__user-name {{usuario.nome}}
      p.barra-lateral__user-email {{usuario.email}}
    li.no-padding
      ul.collapsible(data-collapsible="expandable")
        li.barra-lateral__item
          a.barra-lateral__item--collapsible.collapsible-header.active.truncate {{disciplina.lecture.name}}
          .collapsible-body
            ul
              li.barra-lateral__subitem.active
                p Aulas
              li.barra-lateral__subitem
                a(ui-sref="avisos({disciplinaID: disciplina.id})") Avisos
              li.barra-lateral__subitem
                a(ui-sref="datas({disciplinaID: disciplina.id})") Datas Importantes
              li.barra-lateral__subitem
                a(ui-sref="tarefas({disciplinaID: disciplina.id})") Tarefas
              li.barra-lateral__subitem
                a(ui-sref="materiais({disciplinaID: disciplina.id})") Material
              li.barra-lateral__subitem
                a(ui-sref="participantes({disciplinaID: disciplina.id})") Participantes
    li.hide-on-large-only.no-padding.barra-lateral__item
      a(ui-sref='disciplinas') Disciplinas
    li.no-padding.barra-lateral__item(data-ng-controller="LoginController")
      a(href="" data-ng-click="logout()") Logout
main(data-ng-init="buscaAulas()")
  .container
    .row
      .col.s12
        ul.tabs.lista-tab(tabs, reload="allTabContentLoaded")
          li.tab.col.s6.lista-tab__item
            a(href="#aulas-abertas") Abertas
          li.tab.col.s6.lista-tab__item
            a(href="#aulas-encerradas") Encerradas
      #aulas-abertas.col.s12
        ul.collection.lista-aulas
          li.collection-item.avatar.lista-aulas__item(data-ng-repeat="aula in aulas | filter: {status: 0}: true")
            i.material-icons.circle.green.lighten-2 lock_open
            a(ui-sref="duvidas({aulaID: aula.id})")
              span.title {{aula.subject}}
              p
                | {{aula.created_at | date:&apos;dd/MM/yyyy&apos;}}
                br
                |  {{aula.created_at | date:&apos;HH:mm:ss&apos;}}
      #aulas-encerradas.col.s12
        ul.collection.lista-aulas
          li.collection-item.avatar.lista-aulas__item(data-ng-repeat="aula in aulas | filter: {status: 1}: true")
            i.material-icons.circle.red.lighten-2 lock_outline
            a(ui-sref="duvidas({aulaID: aula.id})")
              span.title {{aula.subject}}
              p
                | {{aula.created_at | date:&apos;dd/MM/yyyy&apos;}}
                br
                |  {{aula.created_at | date:&apos;HH:mm:ss&apos;}}
