doctype html
header
	oddin-header(title="{{disciplina.lecture.name}} - Aulas", btn-type="back", to-state-url="/disciplinas")
	ul#slide-out.side-nav.fixed.barra-lateral
		.barra-lateral__header
			i.barra-lateral__user-avatar.material-icons account_circle
			p.barra-lateral__user-name {{usuario.name}}
			p.barra-lateral__user-email {{usuario.email}}
		li.no-padding
			ul.collapsible(data-collapsible="expandable")
				li.barra-lateral__item
					a.barra-lateral__item--collapsible.collapsible-header.active.truncate {{disciplina.lecture.name}}
					.collapsible-body
						ul
							li.barra-lateral__subitem.active
								p Aulas
							li.barra-lateral__subitem
								a(ui-sref="avisos({disciplinaID: disciplina.id})") Avisos
							li.barra-lateral__subitem
								a(ui-sref="datas({disciplinaID: disciplina.id})") Datas Importantes
							li.barra-lateral__subitem
								a(ui-sref="tarefas({disciplinaID: disciplina.id})") Tarefas
							li.barra-lateral__subitem
								a(ui-sref="materiais({disciplinaID: disciplina.id})") Material
							li.barra-lateral__subitem
								a(ui-sref="participantes({disciplinaID: disciplina.id})") Participantes
							li.barra-lateral__subitem
								a(ui-sref="faqs({disciplinaID: disciplina.id})") FAQs
							li.barra-lateral__subitem
								a(ui-sref="enquetes({disciplinaID: disciplina.id})") Enquetes
		li.hide-on-large-only.no-padding.barra-lateral__item
			a(ui-sref='disciplinas') Disciplinas
		li.no-padding.barra-lateral__item(data-ng-controller="LoginController")
			a(href="" data-ng-click="logout()") Logout

main(data-ng-init="buscaAulas()")
	.container
		.row
			.col.s12
				ul.tabs.lista-tab(tabs, reload="allTabContentLoaded")
					li.tab.col.s6.lista-tab__item
						a(href="#aulas-abertas") Abertas
					li.tab.col.s6.lista-tab__item
						a(href="#aulas-encerradas") Encerradas
			#aulas-abertas.col.s12
				ul.collection.lista-aulas
					li.collection-item.avatar.lista-aulas__item(data-ng-repeat="aula in aulas | filter: {status: 0}: true")
						i.material-icons.circle.green.lighten-2 lock_open
						a(ui-sref="duvidas({aulaID: aula.id})")
							span.title {{aula.subject}}
							p
								| {{aula.created_at | date:&apos;dd/MM/yyyy&apos;}}
								br
								|  {{aula.created_at | date:&apos;HH:mm:ss&apos;}}
			#aulas-encerradas.col.s12
				ul.collection.lista-aulas
					li.collection-item.avatar.lista-aulas__item(data-ng-repeat="aula in aulas | filter: {status: 1}: true")
						i.material-icons.circle.red.lighten-2 lock_outline
						a(ui-sref="duvidas({aulaID: aula.id})")
							span.title {{aula.subject}}
							p
								| {{aula.created_at | date:&apos;dd/MM/yyyy&apos;}}
								br
								|  {{aula.created_at | date:&apos;HH:mm:ss&apos;}}
