doctype html
header
  .navbar-fixed
    nav.barra-navegacao
      .nav-wrapper.barra-navegacao__container
        a.button-collapse.hide-on-large-only(href="" data-activates="slide-out", data-sidenav="left", data-closeonclick="true")
          i.material-icons menu
        a.barra-navegacao__voltar.hide-on-med-and-down(href="#/disciplinas")
          i.material-icons arrow_back
        h1.barra-navegacao__title.truncate {{disciplina.lecture.name}}
        a.brand-logo.right.hide-on-small-only(href="/")
          img.barra-navegacao__logo(src="/images/horizontal_logo.png")
  ul#slide-out.side-nav.fixed.barra-lateral
    .barra-lateral__header
      i.barra-lateral__user-avatar.material-icons account_circle
      p.barra-lateral__user-name {{usuario.nome}}
      p.barra-lateral__user-email {{usuario.email}}
    li.no-padding
      ul.collapsible(data-collapsible="expandable")
        li.barra-lateral__item
          a.barra-lateral__item--collapsible.collapsible-header.active.truncate {{disciplina.lecture.name}}
          .collapsible-body
            ul
              li.barra-lateral__subitem.active
                p Aulas
              li.barra-lateral__subitem
                a(href="" data-ng-click="goToMaterial()") Material
              li.barra-lateral__subitem
                a(href="#/disciplinas/{{disciplina.id}}/participantes") Participantes
    li.hide-on-large-only.no-padding.barra-lateral__item
      a(href="#/disciplinas") Disciplinas
    li.no-padding.barra-lateral__item(data-ng-controller="LoginController")
      a(href="" data-ng-click="logout()") Logout
main(data-ng-init="buscaAulas()")
  .preloader-wrapper.big.active.custom-preloader(ng-hide="data_loaded")
    .spinner-layer
      .circle-clipper.left
        .circle
  .container
    .fixed-action-btn(style="bottom: 24px; right: 24px;")
      a.btn-floating.btn-large.waves-effect.waves-light.modal-trigger(href="#criar-aula", modal)
        i.large.material-icons add
    #criar-aula.modal.bottom-sheet
      .modal-content.modal-criar-item
        .row
          form.offset-m2.offset-l3.col.s12.m8.l6(data-ng-submit="criaAula()")
            h1.modal-criar-item__titulo Criar Nova Aula
            .row
              .input-field.col.s12
                input#presentation-subject(type="text", data-ng-model="aula.subject")
                label(for="presentation-subject") Tema
            button.btn.waves-effect.waves-light.modal-close(type="submit", name="action") Iniciar
    .row
      .col.s12
        ul.tabs.lista-tab(tabs, reload="allTabContentLoaded")
          li.tab.col.s6.lista-tab__item
            a(href="#aulas-abertas") Abertas
          li.tab.col.s6.lista-tab__item
            a(href="#aulas-encerradas") Encerradas
      #aulas-abertas.col.s12
        ul.collection.lista-aulas
          li.collection-item.avatar.lista-aulas__item(data-ng-repeat="aula in aulas | filter: {status: 0}: true")
            a(href="" data-ng-click="fechaAula(aula)")
              i.material-icons.circle.green.lighten-2 lock_open
            a(href="" data-ng-click="goToDoubts(aula)")
              span.title {{aula.subject}}
              p
                | {{aula.created_at | date:&apos;dd/MM/yyyy&apos;}}
                br
                |  {{aula.created_at | date:&apos;HH:mm:ss&apos;}}
      #aulas-encerradas.col.s12
        ul.collection.lista-aulas
          li.collection-item.avatar.lista-aulas__item(data-ng-repeat="aula in aulas | filter: {status: 1}: true")
            i.material-icons.circle.red.lighten-2 lock_outline
            a(href="" data-ng-click="goToDoubts(aula)")
              span.title {{aula.subject}}
              p
                | {{aula.created_at | date:&apos;dd/MM/yyyy&apos;}}
                br
                |  {{aula.created_at | date:&apos;HH:mm:ss&apos;}}
