header
  .navbar-fixed
    nav.navbar-fixed.barra-navegacao
      .nav-wrapper.barra-navegacao__container
        a.button-collapse.hide-on-large-only(data-activates="slide-out", data-sidenav="left", data-closeonclick="true")
          i.material-icons menu
        a.barra-navegacao__voltar.hide-on-med-and-down(href="#/disciplina/{{aula.instruction.id}}/aulas")
          i.material-icons arrow_back
        h1.barra-navegacao__title.truncate {{aula.subject}}
        a.brand-logo.right.hide-on-small-only(href="/")
          img.barra-navegacao__logo(src="/images/horizontal_logo.png")

  ul#slide-out.side-nav.fixed.barra-lateral
    .barra-lateral__header
      i.barra-lateral__user-avatar.material-icons account_circle
      p.barra-lateral__user-name {{usuario.nome}}
      p.barra-lateral__user-email {{usuario.email}}

    li.no-padding
      ul.collapsible(data-collapsible="expandable")
        li.barra-lateral__item
          a.barra-lateral__item--collapsible.collapsible-header.active.truncate {{aula.subject}}
          .collapsible-body
            ul
              li.barra-lateral__subitem.active
                p Dúvidas
              li.barra-lateral__subitem
                a(href="#/aulas/{{aula.id}}/material") Material
    li.hide-on-large-only.no-padding.barra-lateral__item
      a(href="#/disciplina/{{aula.instruction.id}}/aulas") Aulas
    li.no-padding.barra-lateral__item
      a(href="#/disciplinas") Disciplinas
    li.no-padding.barra-lateral__item(data-ng-controller="LoginController")
      a(data-ng-click="logout()") Logout

main(data-ng-init="buscaDuvidas()")
  .container
    #responder-duvida.modal.bottom-sheet
      .modal-content.modal-criar-item.modal-post-resposta
        .row
          form.offset-m2.offset-l3.col.s12.m8.l6(data-ng-submit="postaResposta()")
            h1.modal-criar-item__titulo Responder Dúvida
            .row
              .input-field.col.s12
                textarea#textarea_duvida.materialize-textarea(name="texto", data-ng-model="resposta.text")
                label(for="textarea_duvida") Resposta
            .row
              .col.s12.m9
                .modal-post-resposta__options
                  a.btn-floating: i.material-icons text_fields
                  a.btn-floating.disabled(disabled)
                    i.material-icons mic
                  a.btn-floating.disabled(disabled)
                    i.material-icons videocam
                  a.btn-floating.disabled(disabled)
                    i.material-icons attach_file
              .col.s12.m3
                button.btn.waves-effect.waves-light.modal-post-resposta__submit.modal-close(type="submit", name="action") Enviar

    .card.pergunta(data-ng-repeat="duvida in duvidas")
      .card-content
        .pergunta__header
          span.autor {{duvida.person.name}}
          span.datahora {{duvida.created_at | date:"dd/MM/yyyy à's' HH:mm"}}
        .pergunta__content
          p {{duvida.text}}
      .card-action.pergunta__action
        .row
          .col.s12.m4
            .status
              .upvote-disabled--prof
                i.material-icons keyboard_arrow_up
                span.custom-badge-disabled {{duvida.upvotes - duvidas.downvotes}}
              div(data-ng-class="{'check-entendi--prof': duvida.answered, 'check-nao-entendi--prof': !duvida.answered}")
                i.material-icons check
          .col.m4
            .responder
              a.waves-effect.btn-flat.modal-trigger(data-ng-click="setLastDoubt(duvida)", href="#responder-duvida", modal) Responder
          .col.m4
            .ver-resposta--prof(data-ng-if="duvida.has_answer")
              a.waves-effect.btn-flat(id="button_{{duvida.id}}", data-ng-click="buscaRespostas(duvida)")
                span Ver Respostas

    .resposta(data-ng-attr-id="{{answer.id}}", data-ng-repeat="answer in duvida.answers")
      .resposta__header
        span.autor {{answer.person.name}}
        span.datahora {{answer.created_at | date:"dd/MM/yyyy à's' HH:mm"}}
      .resposta__content
        p  {{answer.text}}
      .resposta__action
        .upvote-disabled--prof
          a: i.material-icons keyboard_arrow_up
          span.custom-badge-disabled--prof {{answer.upvotes - answer.downvotes}}
        div(data-ng-class="{'check-entendi': answer.accepted, 'check-disabled': !answer.accepted}")
          i.material-icons check
