doctype html
header
	oddin-header(title="{{aula.subject}}", btn-type="back", to-state-url="/disciplinas/{{aula.instruction.id}}/aulas")
	ul#slide-out.side-nav.fixed.barra-lateral
		.barra-lateral__header
			i.barra-lateral__user-avatar.material-icons account_circle
			p.barra-lateral__user-name {{usuario.name}}
			p.barra-lateral__user-email {{usuario.email}}
		li.no-padding
			ul.collapsible(data-collapsible="expandable")
				li.barra-lateral__item
					a.barra-lateral__item--collapsible.collapsible-header.active.truncate {{aula.subject}}
					.collapsible-body
						ul
							li.barra-lateral__subitem.active
								p D&uacute;vidas
							li.barra-lateral__subitem
								a(ui-sref="material-aula({aulaID: aula.id})") Material
		li.hide-on-large-only.no-padding.barra-lateral__item
			a(ui-sref="aulas({disciplinaID: aula.instruction.id})") Aulas
		li.no-padding.barra-lateral__item
			a(ui-sref='disciplinas') Disciplinas
		li.no-padding.barra-lateral__item(data-ng-controller="LoginController")
			a(href="" data-ng-click="logout()") Logout

main(data-ng-init="buscaDuvidas()")
	.preloader-wrapper.big.active.custom-preloader(ng-hide="data_loaded")
		.spinner-layer
			.circle-clipper.left
				.circle
	#responder-duvida.modal.bottom-sheet
		.modal-content.modal-criar-item.modal-post-resposta
			.row
				form.offset-m2.offset-l3.col.s12.m8.l6(data-ng-submit="postaResposta(resposta)")
					h1.modal-criar-item__titulo Responder D&uacute;vida
					.row
						.input-field.col.s12
							textarea#textarea_duvida.materialize-textarea(name="texto", data-ng-model="resposta.text")
							label(for="textarea_duvida") Resposta
					.row
						.col.s12.m9
							.modal-post-resposta__options
								a.btn-floating
									i.material-icons text_fields
								a.btn-floating.disabled(disabled)
									i.material-icons mic
								a.btn-floating.disabled(disabled)
									i.material-icons videocam
								a.btn-floating.disabled(disabled)
									i.material-icons attach_file
						.col.s12.m3
							button.btn.waves-effect.waves-light.modal-post-resposta__submit.modal-close(type="submit", name="action") Enviar
	.container
		.row.dropdown-row
			.offset-m3.col.m6.s12
				a.dropdown-button.btn.custom-dropdown(href='' data-activates='dropdownOrderBy' data-beloworigin="true" data-alignment="right" data-hover="true" dropdown) Ordenar Dúvidas
				ul#dropdownOrderBy.dropdown-content
					li
						a#post-order.filter-item-active(href='' data-ng-click="disableFilter()") Por Postagem
					li
						a#ranking-order(href='' data-ng-click="enableFilter()") Por Ranking
		.card.pergunta(data-ng-repeat="duvida in duvidas | orderBy: ((filter || '') && '(upvotes - downvotes)') : (filter ? true : false)")
			.card-content
				.pergunta__header
					span.autor {{duvida.anonymous ? 'Anônimo' : duvida.person.name}}
					span.datahora {{duvida.created_at | date:&quot;dd/MM/yyyy &agrave;&apos;s&apos; HH:mm&quot;}}
				.pergunta__content
					p {{duvida.text}}
			.card-action.pergunta__action
				.row
					.col.s12.m4
						.status
							.upvote-disabled--prof
								i.material-icons keyboard_arrow_up
								span.custom-badge-disabled {{duvida.upvotes - duvidas.downvotes}}
							div(data-ng-class="{'check-entendi--prof': duvida.answered, 'check-nao-entendi--prof': !duvida.answered}")
								i.material-icons check
					.col.m4
						.responder
							a.waves-effect.btn-flat.modal-trigger(data-ng-click="setLastDoubt(duvida)", href="#responder-duvida", modal) Responder
					.col.m4
						.ver-resposta--prof(data-ng-if="duvida.has_answer")
							a.waves-effect.btn-flat(id="button_{{duvida.id}}", data-ng-click="duvida.answers ? fecharRespostas(duvida) : buscaRespostas(duvida)")
								span Ver Respostas
			.resposta(data-ng-attr-id="{{answer.id}}", data-ng-repeat="answer in duvida.answers")
				.resposta__header
					span.autor {{answer.person.name}}
					span.datahora {{answer.created_at | date:&quot;dd/MM/yyyy &agrave;&apos;s&apos; HH:mm&quot;}}
				.resposta__content
					p  {{answer.text}}
				.resposta__action
					.upvote-disabled--prof
						a: i.material-icons keyboard_arrow_up
						span.custom-badge-disabled--prof {{answer.upvotes - answer.downvotes}}
					div(data-ng-class="{'check-entendi': answer.accepted, 'check-disabled': !answer.accepted}")
						i.material-icons check
