doctype html
header
	oddin-header(title="{{titulo}}")

	ul#slide-out.side-nav.fixed.barra-lateral
		.barra-lateral__header
			i.barra-lateral__user-avatar.material-icons account_circle
			p.barra-lateral__user-name {{usuario.name}}
			p.barra-lateral__user-email {{usuario.email}}
		li.no-padding.barra-lateral__item(data-ng-controller="LoginController")
			a(href="" data-ng-click="logout()") Logout
main
	.container
		ul.collapsible.lista-disciplinas(data-collapsible="expandable", ng-repeat="season in seasons | orderBy : 'label' : true" watch="")
			li
				.collapsible-header.lista-disciplinas__header
					i.material-icons collections_bookmark
					|  {{season.label}}
				.collection.collapsible-body.lista-disciplinas__body
					a.collection-item(href="", data-ng-click="buscarPerfil(disciplina)", data-ng-repeat="disciplina in season.instructions") {{disciplina.lecture.name}} - Turma: {{disciplina.class_number}}
