doctype html
header
	oddin-header(title="Disciplinas")
	ul#slide-out.side-nav.fixed.barra-lateral
		.barra-lateral__header
			i.barra-lateral__user-avatar.material-icons account_circle
			p.barra-lateral__user-name {{user.name}}
			p.barra-lateral__user-email {{user.email}}
		li.no-padding.barra-lateral__item(ng-controller="LoginController")
			a(href="" ng-click="logout()") Logout

main
	oddin-preloader(load-var="load" side-bar="true")
	.container
		p.empty-message.center-align(ng-if="seasons.length == 0") Você não está cadastrado(a) em nenhuma disciplina
		ul.collapsible.lista-disciplinas(data-collapsible="expandable", ng-repeat="season in seasons | orderBy : 'label' : true")
			li
				.collapsible-header.lista-disciplinas__header
					i.material-icons collections_bookmark
					|  {{season.label}}
				.collection.collapsible-body.lista-disciplinas__body
					a.collection-item(href="", ng-click="enterInstruction(instruction)", ng-repeat="instruction in season.instructions") {{instruction.lecture.name}} - Turma: {{instruction.class_code}}
