doctype html
oddin-preloader(load-var="load")

h1.login-box__title Login
form(ng-submit="login(user)")
	.row
		.input-field.col.s12
			input#user-email(type="text" required ng-model="user.email")/
			label(for="user-email") Usuário
		.input-field.col.s12
			input#user-password(type="password" required ng-model="user.password")/
			label(for="user-password") Senha
	.login-box__options
		.row
			.col.m6.s12
				p
					input#user-persist(type="checkbox" class="filled-in" ng-model="user.persist")/
					label(for="user-persist") Manter conectado
			.col.m6.s12
				a(ui-sref="recuperar_senha") Esqueci minha senha
	button.login-box__main-button.btn.waves-effect.waves-light(type="submit") Entrar
