doctype html
header
	.navbar-fixed
		nav.navbar-fixed.barra-navegacao
			.nav-wrapper.barra-navegacao__container
				a.button-collapse.hide-on-large-only(href="", data-activates="slide-out", data-sidenav="left", data-closeonclick="true")
					i.material-icons menu
				a.barra-navegacao__voltar.hide-on-med-and-down(ui-sref="aulas({disciplinaID: aula.instruction.id})")
					i.material-icons arrow_back
				h1.barra-navegacao__title.truncate {{aula.subject}} - Material
				a.brand-logo.right.hide-on-small-only(href="/")
					img.barra-navegacao__logo(src="/images/horizontal_logo.png")
	ul#slide-out.side-nav.fixed.barra-lateral
		.barra-lateral__header
			i.barra-lateral__user-avatar.material-icons account_circle
			p.barra-lateral__user-name {{usuario.nome}}
			p.barra-lateral__user-email {{usuario.email}}
		li.no-padding
			ul.collapsible(data-collapsible="expandable")
				li.barra-lateral__item
					a.barra-lateral__item--collapsible.collapsible-header.active.truncate {{aula.subject}}
					.collapsible-body
						ul
							li.barra-lateral__subitem
								a(ui-sref="duvidas({aulaID: aula.id})") D&uacute;vidas
							li.barra-lateral__subitem.active
								p Material
		li.hide-on-large-only.no-padding.barra-lateral__item
			a(ui-sref="aulas({disciplinaID: aula.instruction.id})") Aulas
		li.no-padding.barra-lateral__item
			a(ui-sref='disciplinas') Disciplinas
		li.no-padding.barra-lateral__item(data-ng-controller="LoginController")
			a(href="" data-ng-click="logout()") Logout
main(data-ng-init="buscaMateriais()")
	#hidden-link
	.preloader-wrapper.big.active.custom-preloader(ng-hide="data_loaded")
		.spinner-layer
			.circle-clipper.left
				.circle
	.container
		ul.collection.with-header.lista-material
			li.collection-header.lista-material__header
				h2 Material da Aula
			li.collection-item.avatar.lista-material__item(data-ng-repeat="material in materiais")
				i.material-icons.circle insert_drive_file
				span.title
					a(href="" data-ng-click="downloadMaterial(material)") {{material.name}}
				p {{material.mime}}
