doctype html
h1.login-box__title Recuperar Senha
form(ng-submit="recoverPassword()")
    .row
        .login-box__alert.col.s12
            p Insira o mesmo e-mail cadastrado em nosso sistema. Você receberá um link para a redefinição de senha
        .input-field.col.s12
            input#user-email(type="text" required ng-model="recover.email")/
            label(for="user-email") E-mail de cadastro
    .login-box__buttons
        input.btn.waves-effect.waves-light(type="button", value="Voltar", onclick="javascript:history.back()")
        button.btn.waves-effect.waves-light(type="submit", name="action") Enviar
