<!DOCTYPE html>
<oddin-preloader load-var="load"></oddin-preloader>
<h1 class="login-box__title">Recuperar Senha</h1>
<form ng-submit="recoverPassword(user)">
  <div class="row">
    <div class="login-box__alert col s12">
      <p>Insira o mesmo e-mail cadastrado em nosso sistema. Você receberá um link para a redefinição de senha</p>
    </div>
    <div class="input-field col s12">
      <input id="user-email" type="text" required ng-model="user.email"/>
      <label for="user-email">E-mail de cadastro</label>
    </div>
  </div>
  <div class="login-box__buttons">
    <button class="btn waves-effect waves-light" ui-sref="login">Voltar</button>
    <button class="btn waves-effect waves-light" type="submit">Enviar</button>
  </div>
</form>