doctype html
oddin-preloader(load-var="load")
h1.login-box__title Recuperar Senha
form(ng-submit="recoverPassword(user)")
	.row
		.login-box__alert.col.s12
			p Insira o mesmo e-mail cadastrado em nosso sistema. Você receberá um link para a redefinição de senha
		.input-field.col.s12
			input#user-email(type="text" required ng-model="user.email")/
			label(for="user-email") E-mail de cadastro
	.login-box__buttons
		button.btn.waves-effect.waves-light(ui-sref="login") Voltar
		button.btn.waves-effect.waves-light(type="submit") Enviar
