doctype html
oddin-preloader(load-var="load")
h1.login-box__title Redefinir Senha
form(ng-submit="redefinePassword(user)")
	.row
		.input-field.col.s12
			input#user-password(type="password" ng-model="user.password")
			label(for="user-password") Nova Senha
		.input-field.col.s12
			input#user-password-confirmation(type="password" ng-model="user.passwordConfirmation")
			label(for="user-password-confirmation") Confirmar Nova Senha
	.login-box__buttons
		button.btn.waves-effect.waves-light(type="submit") Redefinir
