doctype html
h1.login-box__title Redefinir Senha
form(ng-submit="redefinePassword()")
    .row
        .input-field.col.s12
            input#usuario-nova-senha(type="password")
            label(for="usuario-nova-senha") Nova Senha
        .input-field.col.s12
            input#usuario-confirmar-nova-senha(type="password")
            label(for="usuario-confirmar-nova-senha") Confirmar Nova Senha
    .login-box__buttons
        input.btn.waves-effect.waves-light(type="submit", value="Redefinir")
