doctype html
header
		.navbar-fixed
				nav.navbar-fixed.barra-navegacao
						.nav-wrapper.barra-navegacao__container
								a.button-collapse.hide-on-large-only(href="" data-activates="slide-out", data-sidenav="left", data-closeonclick="true")
										i.material-icons menu
								a.barra-navegacao__voltar.hide-on-med-and-down(ui-sref='disciplinas')
										i.material-icons arrow_back
								h1.barra-navegacao__title.truncate {{disciplina.lecture.name}} - Tarefas
								a.brand-logo.right.hide-on-small-only(href="/")
										img.barra-navegacao__logo(src="/images/horizontal_logo.png")
		ul#slide-out.side-nav.fixed.barra-lateral
				.barra-lateral__header
						i.barra-lateral__user-avatar.material-icons account_circle
						p.barra-lateral__user-name {{usuario.name}}
						p.barra-lateral__user-email {{usuario.email}}
				li.no-padding
						ul.collapsible(data-collapsible="expandable")
								li.barra-lateral__item
										a.barra-lateral__item--collapsible.collapsible-header.active.truncate {{disciplina.lecture.name}}
										.collapsible-body
												ul
														li.barra-lateral__subitem
																a(ui-sref="aulas({disciplinaID: disciplina.id})") Aulas
														li.barra-lateral__subitem
																a(ui-sref="avisos({disciplinaID: disciplina.id})") Avisos
														li.barra-lateral__subitem
																a(ui-sref="datas({disciplinaID: disciplina.id})") Datas Importantes
														li.barra-lateral__subitem.active
																p Tarefas
														li.barra-lateral__subitem
																a(ui-sref="materiais({disciplinaID: disciplina.id})") Material
														li.barra-lateral__subitem
																a(ui-sref="participantes({disciplinaID: disciplina.id})") Participantes
														li.barra-lateral__subitem
															a(ui-sref="faqs({disciplinaID: disciplina.id})") FAQs
														li.barra-lateral__subitem
															a(ui-sref="enquetes({disciplinaID: disciplina.id})") Enquetes
				li.hide-on-large-only.no-padding.barra-lateral__item
						a(ui-sref='disciplinas') Disciplinas
				li.no-padding.barra-lateral__item(data-ng-controller="LoginController")
						a(href="" data-ng-click="logout()") Logout
main(data-ng-init="buscaTarefas()")
		#hidden-link
		.preloader-wrapper.big.active.custom-preloader(ng-hide="data_loaded")
				.spinner-layer
						.circle-clipper.left
								.circle
		.container
				.fixed-action-btn(style="bottom: 24px; right: 24px;")
						a.btn-floating.btn-large.waves-effect.waves-light.modal-trigger(href="#criar-tarefa", modal)
								i.large.material-icons add
				#modal-deleta-tarefa.modal
					.modal-content
						h4.custom-modal__header Excluir Tarefa
						p Tem certeza que deseja excluir '{{modalContent.subject}}'?
					.modal-footer
						a(href='' data-ng-click="deletaTarefa(modalContent)").modal-action.modal-close.waves-effect.btn-flat.custom-modal__button Confirmar
						a(href='').modal-action.modal-close.waves-effect.btn-flat.custom-modal__button Cancelar
				#criar-tarefa.modal.bottom-sheet
						.modal-content.modal-criar-item
								.row
										form.offset-m2.offset-l3.col.s12.m8.l6(enctype="multipart/form-data" data-ng-submit="criaTarefa(tarefa)" name="uploadArchive")
												h1.modal-criar-item__titulo Criar tarefa
												.row
													.input-field.col.s12.m8
														input#create_tarefa_assunto(type="text", name="assunto", data-ng-model="tarefa.subject" required)
														label(for="create_tarefa_assunto") Assunto
													.input-field.col.s12.m4
														input#create_tarefa_data(type="text" name="data" data-ng-model="tarefa.deadline" ui-mask="99/99/9999" ui-options="{addDefaultPlaceholder:false}" required)
														label(for="create_tarefa_data") Data de Entrega
													.input-field.col.s12
														textarea#create_tarefa_descricao.materialize-textarea(name="descricao", data-ng-model="tarefa.description" required)
														label(for="create_tarefa_descricao") Descrição
													.file-field.input-field.col.s12
														.btn.modal-criar-item__file-button
															span Anexo
															input#create_tarefa_file(name="file", type="file")
														.file-path-wrapper
															input.file-path.validate(type="text", ng-model="tarefa.materials[0]" placeholder="Acresente um arquivo com a descrição do trabalho")
												button.btn.waves-effect.waves-light.modal-close(type="submit", name="action") Criar
				#editar-tarefa.modal.bottom-sheet
						.modal-content.modal-criar-item
								.row
										form.offset-m2.offset-l3.col.s12.m8.l6(enctype="multipart/form-data" data-ng-submit="atualizaTarefa(modalContent)" name="updateArchive")
												h1.modal-criar-item__titulo Editar tarefa
												.row
													.input-field.col.s12.m8
														input#edit_tarefa_assunto(type="text", name="assunto", data-ng-model="modalContent.subject" required)
														label(for="edit_tarefa_assunto") Assunto
													.input-field.col.s12.m4
														input#edit_tarefa_data(type="text" name="data" data-ng-model="modalContent.deadline" ui-mask="99/99/9999" ui-options="{addDefaultPlaceholder:false}" required)
														label(for="edit_tarefa_data") Data de Entrega
													.input-field.col.s12
														textarea#edit_tarefa_descricao.materialize-textarea(name="descricao", data-ng-model="modalContent.description" required)
														label(for="edit_tarefa_descricao") Descrição
													.file-field.input-field.col.s12
														.btn.modal-criar-item__file-button
															span Anexo
															input#edit_tarefa_file(name="file", type="file")
														.file-path-wrapper
															input.file-path.validate(type="text", ng-model="modalContent.materialName" placeholder="Acresente um arquivo com a descrição do trabalho")
												button.btn.waves-effect.waves-light.modal-close(type="submit", name="action") Atualizar
				.card.custom-card(data-ng-repeat="tarefa in tarefas")
					.card-content
						.custom-card__header
							a(ui-sref="tarefa-status({tarefaID: tarefa.id})")
								span.title.link-title {{tarefa.subject}}
							span.secondary-info Entrega:&nbsp
								span.secondary-info--leading {{tarefa.deadline | date:"dd/MM/yyyy"}}
						p {{tarefa.description}}
					.card-action.custom-card__action
							.row
								.col.m6
									a(href='' data-ng-click="openModalDeleteWork(tarefa)")
										i.material-icons delete
									a(href='' data-ng-click="openModalEditWork(tarefa)")
										i.material-icons edit
								.col.m6.s12
									.card-attachment(data-ng-if="tarefa.materials[0]")
										p Especificação:&nbsp
										a(href='' data-ng-click="downloadEspecificacao(tarefa)")
											//- i.material-icons attachment
											span.card-filename(data-ng-if="tarefa.materials") {{tarefa.materials[0].name}}
