doctype html
header
		.navbar-fixed
				nav.navbar-fixed.barra-navegacao
						.nav-wrapper.barra-navegacao__container
								a.button-collapse.hide-on-large-only(href="" data-activates="slide-out", data-sidenav="left", data-closeonclick="true")
										i.material-icons menu
								a.barra-navegacao__voltar.hide-on-med-and-down(ui-sref='tarefas({disciplinaID: tarefa.instruction.id})')
										i.material-icons arrow_back
								h1.barra-navegacao__title.truncate {{tarefa.subject}} - Submissão
								a.brand-logo.right.hide-on-small-only(href="/")
										img.barra-navegacao__logo(src="/images/horizontal_logo.png")
		ul#slide-out.side-nav.fixed.barra-lateral
				.barra-lateral__header
						i.barra-lateral__user-avatar.material-icons account_circle
						p.barra-lateral__user-name {{usuario.nome}}
						p.barra-lateral__user-email {{usuario.email}}
				li.hide-on-large-only.no-padding.barra-lateral__item
						a(ui-sref='tarefas({disciplinaID: tarefa.instruction.id})') Tarefas
				li.no-padding.barra-lateral__item
						a(ui-sref='disciplinas') Disciplinas
				li.no-padding.barra-lateral__item(data-ng-controller="LoginController")
						a(href="" data-ng-click="logout()") Logout
main(data-ng-init="buscaSubmissoesAluno()")
		#hidden-link
		.preloader-wrapper.big.active.custom-preloader(ng-hide="data_loaded")
				.spinner-layer
						.circle-clipper.left
								.circle
		.container
			#modal-deleta-submissao.modal
				.modal-content
					h4.custom-modal__header Excluir Trabalho
					p Tem certeza que deseja excluir '{{modalContent.materials[0].name}}'?
				.modal-footer
					a(href='' data-ng-click="deleteSubmission(modalContent)").modal-action.modal-close.waves-effect.btn-flat.custom-modal__button Confirmar
					a(href='').modal-action.modal-close.waves-effect.btn-flat.custom-modal__button Cancelar
			#submeter-trabalho.modal.bottom-sheet
					.modal-content.modal-criar-item
							.row
									form.offset-m2.offset-l3.col.s12.m8.l6(enctype="multipart/form-data" data-ng-submit="createSubmission()" name="uploadArchive")
										h1.modal-criar-item__titulo Submeter trabalho
										.row
											.input-field.col.s12
												textarea#textarea_create_submission.materialize-textarea(name="texto", data-ng-model="submission.text" required)
												label(for="textarea_create_submission") Descrição
											.file-field.input-field.col.s12
												.btn.modal-criar-item__file-button
													span Arquivo
													input#create_submission_file(name="file", type="file")
												.file-path-wrapper
													input.file-path.validate(type="text", data-ng-model="submission.materials[0]" placeholder="Adicione o arquivo com o seu trabalho")
										button.btn.waves-effect.waves-light.modal-close(type="submit", name="action") Enviar
			#editar-trabalho.modal.bottom-sheet
					.modal-content.modal-criar-item
							.row
									form.offset-m2.offset-l3.col.s12.m8.l6(enctype="multipart/form-data" data-ng-submit="updateSubmission()" name="updateArchive")
										h1.modal-criar-item__titulo Editar trabalho
										.row
											.input-field.col.s12
												textarea#textarea_edit_submission.materialize-textarea(name="texto", data-ng-model="modalContent.text" required)
												label(for="textarea_edit_submission") Descrição
											.file-field.input-field.col.s12
												.btn.modal-criar-item__file-button
													span Arquivo
													input#edit_submission_file(name="file", type="file")
												.file-path-wrapper
													input.file-path.validate(type="text", data-ng-model="modalContent.materialName" placeholder="Adicione o arquivo com o seu trabalho")
										button.btn.waves-effect.waves-light.modal-close(type="submit", name="action") Enviar
			.card.custom-card(data-ng-if="submissoes.length === 0")
				.card-content
					.custom-card__header
						span.title Nenhum arquivo foi postado
						span.secondary-info Entrega:&nbsp
							span.secondary-info--leading {{tarefa.deadline | date:"dd/MM/yyyy"}}
				.card-action.custom-card__action
						.row
							.offset-m6.col.m6
								.card-right-button
									a.btn-flat(href="#submeter-trabalho", modal) Postar tarefa
			.card.custom-card(data-ng-repeat="submissao in submissoes" data-ng-init="buscaSubmissaoMaterial(submissao)")
				.card-content
					.custom-card__header
						a(href='' data-ng-click="downloadSubmission(submissao)")
							span.title.file-title {{submissao.materials[0].name}}
							span.datahora {{submissao.created_at | date:"dd/MM/yyyy à's' HH:mm"}}
					p {{submissao.text}}
				.card-action.custom-card__action
					.row
						.col.m4
							a(href='' data-ng-click="openModalDeleteSubmission(submissao)")
								i.material-icons delete
							a(href='' data-ng-click="openModalEditSubmission(submissao)")
								i.material-icons edit
