doctype html
header
	oddin-header(title="{{tarefa.subject}} - Submissão", btn-type="back", to-state-url="disciplinas/{{tarefa.instruction.id}}/tarefas")
	ul#slide-out.side-nav.fixed.barra-lateral
		.barra-lateral__header
			i.barra-lateral__user-avatar.material-icons account_circle
			p.barra-lateral__user-name {{usuario.name}}
			p.barra-lateral__user-email {{usuario.email}}
		li.hide-on-large-only.no-padding.barra-lateral__item
			a(ui-sref='tarefas({disciplinaID: tarefa.instruction.id})') Tarefas
		li.no-padding.barra-lateral__item
			a(ui-sref='disciplinas') Disciplinas
		li.no-padding.barra-lateral__item(data-ng-controller="LoginController")
			a(href="" data-ng-click="logout()") Logout

main(data-ng-init="buscaSubmissoes()")
	#hidden-link
	.preloader-wrapper.big.active.custom-preloader(ng-hide="data_loaded")
		.spinner-layer
			.circle-clipper.left
				.circle
	.container
		.card.custom-card(data-ng-repeat="submissao in submissoes | orderBy: 'created_at'")
			.card-content
				.custom-card__header
					span.title {{submissao.person.name}}
					span.datahora {{submissao.created_at | date:"dd/MM/yyyy à's' HH:mm"}}
				p {{submissao.text}}
			.card-action.custom-card__action
				.row
					.col.m6
						.card-attachment.attachment-unique(data-ng-if="submissao.materials[0]")
							p Baixar trabalho:&nbsp
							a(href='' data-ng-click="downloadSubmission(submissao)")
								span.card-filename {{submissao.materials[0].name}}
