doctype html
header
		.navbar-fixed
				nav.navbar-fixed.barra-navegacao
						.nav-wrapper.barra-navegacao__container
								a.button-collapse.hide-on-large-only(href="" data-activates="slide-out", data-sidenav="left", data-closeonclick="true")
										i.material-icons menu
								a.barra-navegacao__voltar.hide-on-med-and-down(ui-sref='disciplinas')
										i.material-icons arrow_back
								h1.barra-navegacao__title.truncate {{disciplina.lecture.name}} - Tarefas
								a.brand-logo.right.hide-on-small-only(href="/")
										img.barra-navegacao__logo(src="/images/horizontal_logo.png")
		ul#slide-out.side-nav.fixed.barra-lateral
				.barra-lateral__header
						i.barra-lateral__user-avatar.material-icons account_circle
						p.barra-lateral__user-name {{usuario.nome}}
						p.barra-lateral__user-email {{usuario.email}}
				li.no-padding
						ul.collapsible(data-collapsible="expandable")
								li.barra-lateral__item
										a.barra-lateral__item--collapsible.collapsible-header.active.truncate {{disciplina.lecture.name}}
										.collapsible-body
												ul
														li.barra-lateral__subitem
																a(ui-sref="aulas({disciplinaID: disciplina.id})") Aulas
														li.barra-lateral__subitem
																a(ui-sref="avisos({disciplinaID: disciplina.id})") Avisos
														li.barra-lateral__subitem
																a(ui-sref="datas({disciplinaID: disciplina.id})") Datas Importantes
														li.barra-lateral__subitem.active
																p Tarefas
														li.barra-lateral__subitem
																a(ui-sref="materiais({disciplinaID: disciplina.id})") Material
														li.barra-lateral__subitem
																a(ui-sref="participantes({disciplinaID: disciplina.id})") Participantes
														li.barra-lateral__subitem
															a(ui-sref="faqs({disciplinaID: disciplina.id})") FAQs
														li.barra-lateral__subitem
															a(ui-sref="enquetes({disciplinaID: disciplina.id})") Enquetes
				li.hide-on-large-only.no-padding.barra-lateral__item
						a(ui-sref='disciplinas') Disciplinas
				li.no-padding.barra-lateral__item(data-ng-controller="LoginController")
						a(href="" data-ng-click="logout()") Logout
main(data-ng-init="buscaTarefas()")
		.preloader-wrapper.big.active.custom-preloader(ng-hide="data_loaded")
				.spinner-layer
						.circle-clipper.left
								.circle
		.container
			.card.custom-card(data-ng-repeat="tarefa in tarefas"  data-ng-init="buscaTarefaMaterial(tarefa)")
				.card-content
					.custom-card__header
						a(ui-sref="tarefa-status({tarefaID: tarefa.id})")
							span.title.link-title {{tarefa.subject}}
						span.secondary-info Entrega:&nbsp
							span.secondary-info--leading {{tarefa.deadline | date:"dd/MM/yyyy"}}
					p {{tarefa.description}}
				.card-action.custom-card__action
						.row
							.col.m6.s12
								.card-attachment.attachment-unique(data-ng-if="tarefa.materials[0]")
									p Especificação:&nbsp
									a(href='' data-ng-click="downloadEspecificacao(tarefa)")
										//- i.material-icons attachment
										span.card-filename {{tarefa.materials[0].name}}
