# Options -Indexes

RewriteEngine on

RewriteRule ^controller/(.*) controller/index.php [L,NC]

RewriteRule ^$ view/pages/login.html [L,NC]
RewriteRule ^app/?$ view/pages/login.html [L,NC]
RewriteRule ^app/(.*) app/index.php [L,NC]

PassEnv DATABASE_URL
