version: "2"
services:
  web-server:
    build: .
    command: npm run-script dev
    environment:
      WS_URL:
    volumes:
      - .:/home/app
      - /home/app/node_modules
      - /home/app/public/vendor
