doctype html
div(ng-include="'partials/tests/index-menu.html'")

main
	oddin-preloader(load-var="load" side-bar="true")
	//- Modals
	#modal-create.modal(style="width: 90%;")
		.modal-content.modal-criar-item
			.row
				form.offset-m2.offset-l20.col.s12.m8.l20
					h1.modal-criar-item__titulo Criar Teste
					.row
						.input-field.col.s12
							input#new-test-title(type="text" ng-model="newTest.title" required)
							label(for="new-test-title") Título
						.input-field.col.s6
							input#new-test-date(type="text" ng-model="newTest.date" ui-mask="99/99/9999" ui-options="{addDefaultPlaceholder:false}" required)
							label(for="new-test-date") Disponível em
						.input-field.col.s2
							input#new-test-time(type="text" ng-model="newTest.time" ui-mask="99:99" ui-options="{addDefaultPlaceholder:false}")
							label(for="new-test-time") À partir das
			.row
				form.offset-m2.offset-l2.col.s12.m8.l8
					.card(ng-repeat="question in newTest.questions")
						.input-field.col.s2.remove-choice-button
							a.rigth(href="" ng-click="removeQuestion(newTest.questions.indexOf(question))")
								i.material-icons close
						.input-field.col.s12
							textarea#textarea-question.materialize-textarea(data-length="500")
							label(for="textarea-question") Pergunta {{newTest.questions.indexOf(question) + 1}}
							form.offset-m2.offset-l3.col.s12.m8.l6(enctype="multipart/form-data" ng-submit="" name="uploadArchive")
								.file-field.input-field.col.s10
									.btn.modal-criar-item__file-button
										span Arquivo
										input#new-test-file(name="file" type="file")
									.file-path-wrapper
										input#new-test-description.file-path.validate(type="text" placeholder="Faça Upload de um arquivo")
								.input-field.col.s2
									.switch
										label
											input(type="checkbox" id="kind-question-{{newTest.questions.indexOf(question)}}" ng-click="dissertativeQuestion(newTest.questions.indexOf(question))")
											.lever
											span Dissertativa
						.row
							.input-field.col.s10(ng-if="dissertativeQuestion(newTest.questions.indexOf(question))")
								textarea#textarea-answer.materialize-textarea(data-length="500")
								label(for="modal-answer") Resposta
						.row
							.col.s12(ng-repeat="alternative in question.alternatives" ng-if="!dissertativeQuestion(newTest.questions.indexOf(question))")
								.input-field.col.s12.m8.l2(action="#")
									input.with-gap(name="question-{{newTest.questions.indexOf(question)+1}}" type="radio" id="question-{{newTest.questions.indexOf(question)+1}}-alternative-{{question.alternatives.indexOf(alternative)+1}}")
									label(for="question-{{newTest.questions.indexOf(question)+1}}-alternative-{{question.alternatives.indexOf(alternative)+1}}") Correta
								.input-field.col.s8
									input#new-test-alternative(type="text")
									label(for="new-test-alternative") Alternativa {{question.alternatives.indexOf(alternative)+1}}
								.input-field.col.s1.remove-choice-button(ng-show="$last")
									a.right(href="" ng-click="removeAlternative(newTest.questions.indexOf(question))")
										i.material-icons close
						.row
							.input-field.col.s11(ng-if="!dissertativeQuestion(newTest.questions.indexOf(question))")
								a.btn-floating.tooltipped.right(data-position="left" data-delay="50" data-tooltip="Adicionar alternativa" style="margin-bottom: 15px;" ng-click="addNewAlternative(newTest.questions.indexOf(question))")
									i.material-icons add
			.row
				.col.s10
					a.btn-floating.tooltipped.right(data-position="left" data-delay="50" data-tooltip="Adicionar pergunta" type="submit" ng-click="addNewQuestion()")
						i.material-icons add
			.row
				.col.s12
					.input-field.col.s1.offset-s2
						button.btn.waves-effect.waves-light.modal-close(type="submit", name="action") Enviar
	//- Main Content
	.container
		oddin-fab(trigger="modal-create" modal-trigger="true" icon="add")
		p.empty-message.center-align Nenhum teste foi criado
