doctype html
div(ng-include="'partials/tests/index-menu.html'")

main
  oddin-preloader(load-var="load" side-bar="true")
  .container
    p.empty-message.center-align(ng-if="tests.length == 0") Nenhum teste foi criado
    .card(ng-repeat="test in tests | orderBy: 'created_at' : true")
      .card-content
        .custom-card__header
          span.title {{test.title}}
          span.secondary-info
            span.secondary-info--leading() Disponível em: {{test.date_available | date:"dd/MM/yyyy"}} - À partir das: {{test.available_at | date:"HH:mm"}} - Encerra às: {{test.closes_at | date:"HH:mm"}}    
      .card-action.custom-card__action
        .row
          .col.s12
            a(ui-sref="test-student({instructionID: instruction.id, testID: test.id})")
              i.material-icons create
            a(href="" id="" ng-click="")
              i.material-icons info