header
	oddin-header(title="{{instruction.lecture.name}} - Testes " btn-type="back" to-state-url="/disciplinas")
	ul#slide-out.side-nav.fixed.barra-lateral
		.barra-lateral__header
			i.barra-lateral__user-avatar.material-icons account_circle
			p.barra-lateral__user-name {{user.name}}
			p.barra-lateral__user-email {{user.email}}
		li.no-padding
			ul.collapsible(data-collapsible="expandable")
				li.barra-lateral__item
					a.barra-lateral__item--collapsible.collapsible-header.active.truncate {{instruction.lecture.name}}
					.collapsible-body
						ul
							li.barra-lateral__subitem
								a(ui-sref="presentations({instructionID: instruction.id})") Aulas
							li.barra-lateral__subitem
								a(ui-sref="notices({instructionID: instruction.id})") Avisos
							li.barra-lateral__subitem
								a(ui-sref="dates({instructionID: instruction.id})") Datas Importantes
							li.barra-lateral__subitem
								a(ui-sref="works({instructionID: instruction.id})") Tarefas
							li.barra-lateral__subitem
								a(ui-sref="materials({instructionID: instruction.id})") Material
							li.barra-lateral__subitem
								a(ui-sref="participants({instructionID: instruction.id})") Participantes
							li.barra-lateral__subitem
								a(ui-sref="faqs({instructionID: instruction.id})") FAQs
							li.barra-lateral__subitem
								a(ui-sref="surveys({instructionID: instruction.id})") Enquetes
							li.barra-lateral__subitem.active
								p Testes
		li.hide-on-large-only.no-padding.barra-lateral__item
			a(ui-sref="instructions") Disciplinas
		li.no-padding.barra-lateral__item(ng-controller="LoginController")
			a(href="" ng-click="logout()") Logout
