doctype html
div(ng-include="'partials/tests/index-menu.html'")

main
	oddin-preloader(load-var="load" side-bar="true")
	//- Modals
	#modal-create.modal(style="width: 90%; bottom: 10%; max-height: 90%;")
		.modal-content.modal-criar-item
			.row
				form.offset-m2.offset-l2.col.s12.m8.l8
					h1.modal-criar-item__titulo Criar Teste
					.row
						.input-field.col.s12
							input#new-test-title(type="text" ng-model="newTest.title" required)
							label(for="new-test-title") Título
						.input-field.col.s6
							input#new-test-date(type="text" ng-model="newTest.date_available" ui-mask="99/99/9999" ui-options="{addDefaultPlaceholder:false}" required)
							label(for="new-test-date") Disponível em
						.input-field.col.s2
							input#new-test-available-time(type="text" ng-model="newTest.available_at" ui-mask="99:99" ui-options="{addDefaultPlaceholder:false}" required)
							label(for="new-test-available-time") À partir das
						.input-field.col.s2
							input#new-test-time-closed(type="text" ng-model="newTest.closes_at" ui-mask="99:99" ui-options="{addDefaultPlaceholder:false}" required)
							label(for="new-test-time-closed") Encerra às
			.row
				form.offset-m2.offset-l2.col.s12.m8.l8
					.card(ng-repeat="question in newTest.questions")
						.row
							.input-field.col.s2.remove-choice-button
								a.rigth(href="" ng-click="removeQuestion(newTest.questions.indexOf(question))")
									i.material-icons close
						.row
							.input-field.col.s10
								textarea.materialize-textarea(id="text-question-{{newTest.questions.indexOf(question)+1}}" ng-maxlength="500" data-length="500" ng-model="newTest.questions[newTest.questions.indexOf(question)].description" required)
								label(for="text-question-{{newTest.questions.indexOf(question)+1}}") Pergunta {{newTest.questions.indexOf(question) + 1}}
							.input-field.col.s1
								input(id="note-question-{{newTest.questions.indexOf(question)+1}}" name="note" type="number" min="1" max="10" ng-model="newTest.questions[newTest.questions.indexOf(question)].value" required)
								label(for="note-question-{{newTest.questions.indexOf(question)+1}}") Nota
						form.offset-m2.offset-l3.col.s12.m8.l6(enctype="multipart/form-data" ng-submit="" name="uploadArchive")
							.file-field.input-field.col.s10
								.btn.modal-criar-item__file-button
									span Arquivo
									input#new-test-file(name="file" type="file")
								.file-path-wrapper
									input#new-test-description.file-path.validate(type="text" placeholder="Faça Upload de um arquivo")
							.input-field.col.s2
								.switch
									label
										input(type="checkbox" id="kind-question-{{newTest.questions.indexOf(question)}}" ng-click="dissertativeQuestion(newTest.questions.indexOf(question))" ng-model="newTest.questions[newTest.questions.indexOf(question)].kind")
										.lever
										span Dissertativa
						.row
							.input-field.col.s10(ng-if="dissertativeQuestion(newTest.questions.indexOf(question))")
								textarea.materialize-textarea(id="text-dissertative-question-{{newTest.questions.indexOf(question)+1}}" data-length="500" ng-model="newTest.questions[newTest.questions.indexOf(question)].answer" required)
								label(for="text-dissertative-question-{{newTest.questions.indexOf(question)+1}}") Resposta
						.row
							.col.s12(ng-repeat="alternative in question.alternatives" ng-if="!dissertativeQuestion(newTest.questions.indexOf(question))")
								.input-field.col.s12.m8.l2(action="#")
									input.with-gap(name="radio-question-{{newTest.questions.indexOf(question)}}" type="radio" id="radio-question-{{newTest.questions.indexOf(question)}}-alternative-{{question.alternatives.indexOf(alternative)}}" required)
									label(for="radio-question-{{newTest.questions.indexOf(question)}}-alternative-{{question.alternatives.indexOf(alternative)}}" ng-model="newTest.questions[newTest.questions.indexOf(question)].alternatives[question.alternatives.indexOf(alternative)].correct") Correta
								.input-field.col.s8
									input(id="new-test-question-{{newTest.questions.indexOf(question)+1}}-alternative-{{question.alternatives.indexOf(alternative)+1}}" type="text" ng-model="newTest.questions[newTest.questions.indexOf(question)].alternatives[question.alternatives.indexOf(alternative)].text" required)
									label(for="new-test-question-{{newTest.questions.indexOf(question)+1}}-alternative-{{question.alternatives.indexOf(alternative)+1}}") Alternativa {{question.alternatives.indexOf(alternative)+1}}
								.input-field.col.s1.remove-choice-button(ng-show="$last")
									a.right(href="" ng-click="removeAlternative(newTest.questions.indexOf(question))")
										i.material-icons close
						.row
							.input-field.col.s11(ng-if="!dissertativeQuestion(newTest.questions.indexOf(question))")
								a.btn-floating.tooltipped.right(data-position="left" data-tooltip="Adicionar alternativa" ng-click="addNewAlternative(newTest.questions.indexOf(question))")
									i.material-icons add
						.row
							.input-field.col.s10
								textarea.materialize-textarea(id="comment-question-{{newTest.questions.indexOf(question)+1}}" ng-model="newTest.questions[newTest.questions.indexOf(question)].comment" data-length="500")
								label(for="comment-question-{{newTest.questions.indexOf(question)+1}}") Comentário
			.row
				.col.s10
					a.btn-floating.tooltipped.right(id="btn2" data-position="left" data-tooltip="Adicionar pergunta" type="submit" ng-click="addNewQuestion()")
						i.material-icons add
			.row
				.col.s12
					.input-field.col.s1.offset-s2
						button.btn.waves-effect.waves-light.modal-close(type="submit" ng-click="createTest(newTest)" name="action") Enviar

	//- Modal Edit
	#modal-edit.modal(style="width: 90%; bottom: 10%; max-height: 90%;")
		.modal-content.modal-criar-item
			.row
				form.offset-m2.offset-l2.col.s12.m8.l8
					h1.modal-criar-item__titulo Editar Teste
					.row
						.input-field.col.s12
							input#modal-test-title(type="text" ng-model="modalTest.title" required)
							label(for="modal-test-title") Título
						.input-field.col.s6
							input#modal-test-date(type="text" ng-model="modalTest.date_available" ui-mask="99/99/9999" ui-options="{addDefaultPlaceholder:false}" required)
							label(for="modal-test-date") Disponível em
						.input-field.col.s2
							input#modal-test-available-time(type="text" ng-model="modalTest.available_at" ui-mask="99:99" ui-options="{addDefaultPlaceholder:false}" required)
							label(for="modal-test-available-time") À partir das 
						.input-field.col.s2
							input#modal-test-time-closed(type="text" ng-model="modalTest.closes_at" ui-mask="99:99" ui-options="{addDefaultPlaceholder:false}" required)
							label(for="modal-test-time-closed") Encerra às
			.row
				form.offset-m2.offset-l2.col.s12.m8.l8
					.card(ng-repeat="question in modalTest.questions")
						.row
							.input-field.col.s2
						.row
							.input-field.col.s10
								textarea.materialize-textarea(id="modal-text-question-{{modalTest.questions.indexOf(question)+1}}" ng-maxlength="500" data-length="500" ng-model="modalTest.questions[modalTest.questions.indexOf(question)].description" required)
								label(for="modal-text-question-{{modalTest.questions.indexOf(question)+1}}") Pergunta {{modalTest.questions.indexOf(question) + 1}}
							.input-field.col.s1
								input(id="modal-note-question-{{modalTest.questions.indexOf(question)+1}}" name="note" type="number" min="1" max="10" ng-model="modalTest.questions[modalTest.questions.indexOf(question)].value" required)
								label(for="modal-note-question-{{modalTest.questions.indexOf(question)+1}}") Nota
						form.offset-m2.offset-l3.col.s12.m8.l6(enctype="multipart/form-data" ng-submit="" name="uploadArchive")
							.file-field.input-field.col.s10
								.btn.modal-criar-item__file-button
									span Arquivo
									input#new-test-file(name="file" type="file")
								.file-path-wrapper
									input#new-test-description.file-path.validate(type="text" placeholder="Faça Upload de um arquivo")
						.row
							.input-field.col.s10(ng-if="question.kind == true")
								textarea.materialize-textarea(id="modal-text-dissertative-question-{{modalTest.questions.indexOf(question)+1}}" data-length="500" ng-model="modalTest.questions[modalTest.questions.indexOf(question)].answer" required)
								label(for="text-dissertative-question-{{modalTest.questions.indexOf(question)+1}}") Resposta
						.row
							.col.s12(ng-repeat="alternative in question.test_alternatives" ng-if="question.kind == false")
								.input-field.col.s12.m8.l2(action="#")
									input.with-gap(name="modal-radio-question-{{modalTest.questions.indexOf(question)}}" type="radio" id="modal-radio-question-{{modalTest.questions.indexOf(question)}}-alternative-{{question.test_alternatives.indexOf(alternative)}}" required)
									label(for="modal-radio-question-{{modalTest.questions.indexOf(question)}}-alternative-{{question.test_alternatives.indexOf(alternative)}}" ng-model="modalTest.questions[modalTest.questions.indexOf(question)].test_alternatives[question.test_alternatives.indexOf(alternative)].correct") Correta
								.input-field.col.s8
									input(id="modal-test-question-{{modalTest.questions.indexOf(question)+1}}-alternative-{{question.alternatives.indexOf(alternative)+1}}" type="text" ng-model="modalTest.questions[modalTest.questions.indexOf(question)].test_alternatives[question.test_alternatives.indexOf(alternative)].text" required)
									label(for="modal-test-question-{{modalTest.questions.indexOf(question)+1}}-alternative-{{question.alternatives.indexOf(alternative)+1}}") Alternativa {{question.test_alternatives.indexOf(alternative)+1}}
						.row
							.input-field.col.s10
								textarea.materialize-textarea(id="modal-comment-question-{{modalTest.questions.indexOf(question)+1}}" ng-model="modalTest.questions[modalTest.questions.indexOf(question)].comment" data-length="500")
								label(for="modal-comment-question-{{modalTest.questions.indexOf(question)+1}}") Comentário
			.row
				.col.s12
					.input-field.col.s1.offset-s2
						button.btn.waves-effect.waves-light.modal-close(type="submit" ng-click="updateSurvey(modalTest)" name="action") Atualizar
	
	//- Modal Participants
	#modal-participants.modal
		.modal-content
			ul.collection
				p.empty-message.center-align(ng-if="responseTests.length == 0") Ninguém respondeu esse teste
				li.collection-item.avatar(ng-repeat="participant in responseTests")
					i.material-icons.circle(style="margin-top: 11px;") person
					span.title {{responseTests[responseTests.indexOf(participant)].person.name}}
					.center-align(style="margin-bottom: -25px;")
						span NOTA FINAL: {{participant.score}}
					.right-align
						span(style="color:green; margin-right: 10px;" ng-if="responseTests[responseTests.indexOf(participant)].closed != false")
							i.material-icons done
						a(href="" ng-click="modalTestResponse(participant)")
							i.material-icons(style="color:#ff9850") edit


	//- Modal Test Response
	#modal-testResponse.modal(style="width: 90%; bottom: 10%; max-height: 90%;")
		.modal-content.modal-criar-item
			.row
				form.offset-m2.offset-l2.col.s12.m8.l8
					h1.modal-criar-item__titulo Corrigir Teste
					.row
						.input-field.col.s12
							label(for="test-title") Título: {{testResponse.test.title}}
					.row
						.input-field.col.s12
							label(for="test-person") Participante: {{testResponse.person.name}}
					.row(style="margin-bottom: 40px;")
						.input-field.col.s12
							label(for="test-score") Nota final: {{testResponse.score}}
					.row
						.col.s12
							.card.card-student-test-question(ng-repeat="question in testResponse.questions")
								.row
									.offset-m10.col.s2(style="margin-bottom: -30px;")
										label Nota {{testResponse.test_answers[testResponse.questions.indexOf(question)].value}}
									.offset-m11.col.s2(style="margin-bottom: -30px;" ng-if="question.kind == false")
										span(style="color:green" ng-if="testResponse.test_answers[testResponse.questions.indexOf(question)].value > 0")
											i.material-icons done
									.offset-m11.col.s2(style="margin-bottom: -30px;" ng-if="question.kind == false")
										span(style="color:red" ng-if="testResponse.test_answers[testResponse.questions.indexOf(question)].value == 0")
											i.material-icons clear
								.row
									.input-field.col.s10
										label Pergunta {{testResponse.questions.indexOf(question) + 1}}
									.input-field.col.s2
										label Vale {{testResponse.questions[testResponse.questions.indexOf(question)].value}}
								.row
									.input-field.col.s10
										label {{testResponse.questions[testResponse.questions.indexOf(question)].description}}
									.input-field.col.s2(ng-if="question.kind == true")
										input(id="response-note-question-{{testResponse.questions.indexOf(question)+1}}" type="number" min="1" max="10" ng-model="testResponse.test_answers[testResponse.questions.indexOf(question)].newValue" required)
										label(for="response-note-question-{{testResponse.questions.indexOf(question)+1}}" style="margin-top:10px;") Nota
								.row
									.input-field.col.s10(ng-if="question.kind == true")
										.row
											.input-field.col.s3
												label Resposta
										.row
											.input-field.col.s12
												label {{testResponse.test_answers[testResponse.questions.indexOf(question)].response}}
								.row
									.col.s12(ng-repeat="alternative in question.test_alternatives" ng-if="question.kind == false")
										.input-field.col.s10.m8.l10(style="margin-bottom:35px;")
											label(id="label-question-{{testResponse.questions.indexOf(question)}}-alternative-{{question.test_alternatives.indexOf(alternative)}}" style="width: 100%; padding: 10px;") {{testResponse.questions[testResponse.questions.indexOf(question)].test_alternatives[question.test_alternatives.indexOf(alternative)].text}}
								.row
									.input-field.col.s10(style="margin-top: 55px;")
										textarea.materialize-textarea(id="response-comment-question-{{testResponse.questions.indexOf(question)+1}}" ng-model="testResponse.test_answers[testResponse.questions.indexOf(question)].comment" data-length="500")
										label(for="response-comment-question-{{testResponse.questions.indexOf(question)+1}}") Comentário
					.row
						.col.s12
							.input-field.col.s3
								button.btn.waves-effect.waves-light.modal-close(type="submit" ng-click="correctTest(testResponse)" name="action") Corrigir

	//- Modal Delete
	#modal-delete.modal
		.modal-content
			h4.custom-modal__header Excluir Teste
			p Tem certeza que deseja excluir "{{modalTest.title}}"?
		.modal-footer
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="" ng-click="deleteTest(modalTest)") Confirmar
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="") Cancelar

	//- Main Content
	.container
		oddin-fab(trigger="modal-create" modal-trigger="true" icon="add")
		p.empty-message.center-align(ng-if="tests.length == 0") Nenhum teste foi criado
		.card.pergunta(ng-repeat="test in tests | orderBy: 'created_at' : true")
			.card-content
				.custom-card__header
					span.title {{test.title}}
					span.secondary-info
						span.secondary-info--leading {{test.created_at | date:"dd/MM/yyyy"}}
			.card-action.custom-card__action
				.row
					.col.s12
						a(href="" ng-click="modalDelete(test)")
							i.material-icons delete
						a(href="" ng-click="modalEdit(test)")
							i.material-icons edit
						a(href="" ng-click="modalParticipants(test)")
							i.material-icons person