/*Estilos Base*/
body {
  padding-top: 50px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.1em;
}
h2 {
  text-align: center;
}
ul {
    list-style: none;
}

.user_online {
  color: green;
}

.apresentacao_aberta {
  color: green;
}

.apresentacao_fechada {
  color: red;
}

@media (max-width: 768px) {
  .page-header {
    font-size: 0.7em;
    padding: 0;
    margin: 0 15px 15px;
    border-bottom: 1px solid #ddd;
  }
}
/*Edita navbar do bootstrap*/
.navbar {
  border: none;
}

/* Botões */
.custom-button-lg {
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  font-size: 1.1em;
  background-color: #aaa;
  color: #fff;
}

.custom-button-md {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  font-size: 1.1em;
  background-color: #aaa;
  color: #fff;
}

.custom-button-sm {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: none;
  background-color: #aaa;
  color: #fff;
}

.custom-button-lg:hover, .custom-button-sm:hover {
  background-color: #bbb;
}

/*Page_Login e Senha*/
.login_box {
    padding: 30px 15px 30px 15px;
    margin-top: -30px;
    background-color: #f8f8f8;
}

.div_logo {
    padding-top: 15px;
    padding-bottom: 15px
}

#link_esq_senha, #link_esq_senha a {
  text-align: center;
  font-size: 0.99em;
  color: #000;
}

@media (max-width: 768px) {
  #link_esq_senha a {
    font-size: 0.97em;
  }
}

.form-control {            /*Edita classe do bootstrap*/
    margin-bottom: 15px;
    padding: 0;
}

.form-horizontal .checkbox {
    margin-bottom: 10px;
    padding: 0;
}

.glyphicon-question-sign {
  color: #000;
  vertical-align: text-top;
}

.usuario_inexistente {
  margin-top: 10px;
}

/*Page Abrir e Encerrar Aulas + Tabela de Aulas e Material */

.bordered-section {         /*Coloca borda nas sections*/
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.section-header {
  border-bottom: 1px solid #ddd;
  background-color: #f8f8f8;
}

.section-header h2 {
  margin: 0;
  padding: 10px;
  font-size: 1.4em;
}

@media(max-width: 768px) {
  .section-header h2 {
  padding: 8px;
  font-size: 1.2em;
  }
}

.bordered-section form {
  padding: 15px;
}

.bordered-section table, .table-responsive {
  margin: 0;
}

.custom-file {
  margin-bottom: 15px;
  display: block;
  border: 1px solid #ddd;
  width: 100%;
}

/*CSS PARA CHECKBOX----------------------*/
.image-checkbox {
  background: url(../img/opened.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5em;
  height:1.5em;
  margin: 0;
  display: inline-block;
}
.image-checkbox-checked {
  background: url(../img/closed.png);
  background-size: contain;
  background-repeat: no-repeat;
  width:1.5em;
  height:1.5em;
  margin: 0;
  display: inline-block;
}

.invisible_checkbox {
  visibility: hidden;
  display: inline-block;
}

/* Page Participantes */

.list-group-item {             /*Edita list-group do Bootstrap*/
  padding: 4px 6px;
}

/* Page Apresentação/Dúvidas */
.espacamento-inferior {
  margin-bottom: 150px;
}                         /*Espaçamento da barra inferior fixa*/

.duvida-espacamento {              /*Espaçamento entre as dúvidas (cada row corresponde a uma dúvida) */
  margin-bottom: 20px;
}

    /*---Cabeçalhos Pergunta e Resposta */
.doubt, .resposta {
  background-color: #f8f8f8;
  padding: 0;
}

.doubt {
  padding-bottom: 15px;
}

.doubt__header {
  background-color: #aaa;
  color: #fff;
  padding: 10px;
}

.resposta__header {
  border-top: 1px solid #fff;
  color: #777;
  padding: 10px;
}

.doubt__header h4, .resposta__header h4 {
  margin: 0;
  margin: 5px 0 5px 0;
  font-size: 1.1em;
}

@media (max-width: 768px) {
  .doubt__header {
    padding: 2px;
  }

  .doubt__header h4, .resposta__header h4 {
    font-size: 0.98em;
  }

  .doubt__textbox p , .resposta__textbox p{
    font-size: 0.96em;
  }
}

.doubt__pessoa, .resposta__pessoa {
  text-align: center;
}

.doubt__time, .resposta__time {
  text-align: center;
}

@media (min-width: 768px) {
  .doubt__time, .resposta__time {
    text-align: right;
  }
  .doubt__pessoa, .resposta__pessoa {
    text-align: left;
  }

  slick .doubt__time, slick .doubt__pessoa {
    text-align: center;
  }
}

    /*---Corpo da Pergunta e Resposta */
.doubt__content {
  padding: 15px;
}


.doubt__textbox, .resposta__textbox {
  background-color: #fff;
  padding: 5px;
}
    /*---Parte da interação do Usuário */

.doubt__options {
  margin: 0 15px 0px 15px;  
 }

.resposta-btn-icon {    /*Cor do ícone de ver resposta */
  color: #229911;
}

.btn-respondido {         /*Estilo do botão de resposta */
  color: inherit;
  padding: 0;
  border: none;
}
    /*---Parte fixa - Formulário de pergunta*/

.fixed {
  position: fixed;
  background-color: #f8f8f8;
  bottom: 0;
  left: 0;
  width: 100%;
}

.form-group {         /*Edita form-group do Bootstrap*/
  margin-bottom: 0;
}

.form-duvida {
  padding: 15px 0;
}

#textarea_duvida {
  margin-bottom: 5px;
}

/*Abas de resposta */
.abas_respostas .tab-content {
  padding: 15px 15px 20px 15px;
}

.abas_respostas .nav-tabs a {
  padding-left: 13px;
  padding-right: 13px;
  color: #777;
  border-radius: 0;
}

.abas_respostas .nav-tabs a:hover {
  color: #888;
}

.abas_respostas .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #777;
  background-color: #f8f8f8;
}

.abas_respostas .nav {
  padding-left: 15px;
  padding-right: 15px;
}

/*Page_View_Carousel*/
.item {
  margin-left: 3px;
  margin-right: 3px;
}

slick .doubt__header {
  padding: 5px;
}

slick .doubt__content {
  padding: 0 15px 0 15px;
}

/* Owl Carousel
@media (max-width: 768px) {
  .owl-carousel .doubt__header {
    padding: 2px;
  }

  .owl-carousel .doubt__header h4 {
    font-size: 0.98em;
  }

  .owl-carousel .doubt__textbox p {
    font-size: 0.96em;
  }
  .owl-pagination {
    display: none;
  }
}
*/

@media (max-width: 768px) {
  slick .doubt__header {
    padding: 2px;
  }

  slick .doubt__header h4 {
    font-size: 0.98em;
  }

  slick .doubt__textbox p {
    font-size: 0.96em;
  }
}

.ranking {
  margin: 3px auto 0 auto;
  text-align: center;
}

.ranking .badge {
  background-color: #aaa;
}

.ranking .glyphicon-thumbs-up {
  color: #777;
  vertical-align: text-top;
  font-size: 1.1em;
}

slick .doubt {
  padding-bottom: 5px;
}

slick .doubt__textbox {
  margin-top: 4px;
  margin-bottom: 5px;
}

/* Owl-carousel
.owl-theme .owl-controls .owl-buttons div{
  border-radius: 0;
  background: #aaa;
}

.owl-theme .owl-controls .owl-page span{
  background: #aaa;
}*/

.more {
  margin-bottom: 0;
}

/*estilização botões e modal */

.modal-content {
  border-radius: 0;
}

.modal-header {
  background: #f8f8f8;
  border: none;
}

.modal-footer {
  background: #f8f8f8;
  border: none;
  padding: 0;
}

.tab-content textarea {
  margin-bottom: 10px;
}

#checkbox_resposta {
  text-align: left;
}

#status_resposta.with-font {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#status_resposta.with-font ~ label:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f14a";
  letter-spacing: 5px;
  color: #229911;
  width: 1.4em;
}

#status_resposta.with-font:checked ~ label:before  {
  content: "\f14a";
  color: #bb0;
  letter-spacing: 5px;
}

#status_resposta_label {
  font-weight: normal;
  color: #777;
  font-size: 0.9em;
}

/*Modal de Uploads*/

.upload-form {
  text-align: left;
  padding: 15px 15px 20px 15px;
}


















