/* MENU PRINCIPAL */

.menu-box {
	padding: 12px 0;
	margin-bottom: 12px;
	text-align: center;

	background-color: #f8f8f8;
	color: #777;
}

.menu-box h4 {
	margin-bottom: 0;
}

.menu-box:hover {
	background-color: #bbb;
	color: #fff;
	text-decoration: none;
}

.menu-link:link {
	text-decoration: none;
}

/* Page eventos */

.evento-padding-top {
	padding-top: 20px;
}

.admin_box {
	border: 1px solid #ddd;
	padding: 15px;
	margin-bottom: 20px;
}

.admin_box h4 {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.evento_info h5, .evento_info p {
	display: inline-block;
}

.evento_info h5 {
	font-weight: bold;
	margin-right: 5px;	
}

.evento_info ul {
	padding-left: 0;
}

.list-group-box {
	margin-top: 10px;
	overflow: auto;
}

.lista_eventos .list-group {	
	height: 416px;	
}

.lista_palestras .list-group {
	height: 411px;
}

.palestras_evento .list-group {	
	height: 200px;
}

.lista_palestras form {
	margin-top: 10px;
}

/*============*/



