/* MENU PRINCIPAL */

.menu-box {
	padding: 12px 0;
	margin-bottom: 12px;
	text-align: center;

	background-color: #f8f8f8;
	color: #777;
}

.menu-box h4 {
	margin-bottom: 0;
}

.menu-box:hover {
	background-color: #bbb;
	color: #fff;
	text-decoration: none;
}

.menu-link:link {
	text-decoration: none;
}

/* Page eventos */


.admin-padding-top {
	padding-top: 20px;
}

.admin_box {
	border: 1px solid #ddd;
	padding: 15px;
	margin-bottom: 20px;
}

.admin_box h4 {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

/* Box Info */
	.admin_info h5, .admin_info p {
		display: inline-block;
	}

	.admin_info h5 {
		font-weight: bold;
		margin-right: 5px;	
	}

	.admin_info ul {
		padding-left: 0;
	}

	.admin_info .info-list {
	padding-left: 15px;
	list-style: square;
	}

	.info-list li {
		margin-bottom: 5px;
	}
/*==============*/

/*Listas de eventos/palestras/usuários */
	.list-group-box {
		margin-top: 10px;
		overflow: auto;
	}

	.clearfix {
	  overflow: auto;
	}

	.custom-list-options {		
		float: right;		
	}

	@media (max-width: 700px) {
		.custom-list-options {
			float:none;
			display: block;
			text-align: right;		
		}
	}

	.custom-list-group .added, .custom-list-group .added:hover {
		background: #f2f2f2;
	}

	
	.custom-list-group li:hover {
		background-color: #f8f8f8;
	}

	.custom-list-group a {
		color: inherit;	
		margin-right: 25px;
	}

	.custom-list-group a:link {
		text-decoration: none;
	}

	.custom-list-group a:hover {
		color: #777;
	}	

	.evento_lista_palestras .custom-list-group li:hover .add-palestra,
	.palestra_lista_eventos .custom-list-group li:hover .add-palestra {
		display: inline-block;
	} 

/*Customiza cores do status da palestra */
	.fa-circle-o {
		color: #d24;
	}

	.fa-check-circle-o {
		color: #492;
	}

/*Botões da lista*/
	.btn-remove-list {
		background-color: transparent;
		color: #aaa;
		padding: 0 6px;
		border: none;
	}

	.btn-remove-list:hover {
		color: #777;
	}

	.add-palestra {
		padding: 0 6px;
		border: none;
		background-color: #aaa;
		color: white;		
		display: none;
	}

	.add-palestra[disabled], .add-palestra[disabled]:hover {
		background: transparent;
		color: #ccc;
		border: 1px solid #ccc;
	}

	.add-palestra:hover {
		background-color:#bbb;
	}
/*=================================*/

/*Pagina Usuários */

legend {
	font-size: 1em;
	color: #bbb;
	border-bottom:none;
}

hr {
	margin-bottom: 8px;
}

/*Customiza altura dos boxes*/

	.eventos_lista_eventos .list-group, .palestras_lista_palestras .list-group {	
		height: 363px;	
	}

	.evento_lista_palestras .list-group, .palestra_lista_eventos .list-group {
		height: 411px;
	}

	.evento_evento_palestras .list-group {	
		height: 200px;
	}	

	.palestra_palestra_eventos .list-group {
		height: 232px;
	}

/*==========================*/



