.fixed-action-btn(style="bottom: 24px; right: 24px;")
	a.btn-floating.btn-large.waves-effect.waves-light.modal-trigger(href="#{{trigger}}" ng-if="modalTrigger == 'true'" modal)
		i.large.material-icons {{icon}}
	a.btn-floating.btn-large.waves-effect.waves-light.modal-trigger(href="#{{trigger}}" ng-if="!modalTrigger")
		i.large.material-icons {{icon}}
