.navbar-fixed
	nav
		.nav-wrapper.barra-navegacao__container
			a.button-collapse(href="" data-activates="slide-out" data-sidenav="left" data-closeonclick="true" ng-if="sideBar != 'none'")
				i.material-icons menu
			a.barra-navegacao__voltar(ng-class="\{'hide-on-med-and-down': {{sideBar != 'none'}}\}" href="#{{toStateUrl}}" ng-if="btnType == 'close' || btnType == 'back'")
				i.material-icons {{btnType == 'close' ? 'close' : 'arrow_back'}}
			h1.barra-navegacao__title.truncate(ng-bind="title")
			a.brand-logo.right.hide-on-small-only(href="/" ng-if="logo != 'false'")
				img.barra-navegacao__logo(src="/images/horizontal_logo.png")
