doctype html
html(ng-app="oddin")
	head
		meta(charset="utf-8")/
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")/

		title Oddin

		link(rel="stylesheet" href="/stylesheets/material-icons.css")/
		link(rel="stylesheet" href="/stylesheets/materialize_custom.css")/
		link(rel="stylesheet" href="/stylesheets/user_style.css")/

	body
		div(ui-view)

		script(src="/vendor/jquery/dist/jquery.min.js")
		script(src="/vendor/materialize/dist/js/materialize.min.js")
		script(src="/vendor/socket.io-client/dist/socket.io.min.js")
		script(src="/vendor/angular/angular.min.js")
		script(src="/vendor/angular-ui-router/release/angular-ui-router.min.js")
		script(src="/vendor/angular-ui-mask/dist/mask.min.js")
		script(src="/vendor/angular-materialize/src/angular-materialize.js")
		script(src="/vendor/angular-cookies/angular-cookies.min.js")

		script(src="/javascripts/fix_modal_overlay.js")
		script(src="/javascripts/angular/app.js")
		script(src="/javascripts/angular/config.js")

		script(src="/javascripts/angular/directives/oddinHeader.js")
		script(src="/javascripts/angular/directives/oddinPreloader.js")
		script(src="/javascripts/angular/directives/oddinFab.js")

		script(src="/javascripts/angular/services/LoginAPI.js")
		script(src="/javascripts/angular/services/EventAPI.js")
		script(src="/javascripts/angular/services/LectureAPI.js")
		script(src="/javascripts/angular/services/PersonAPI.js")
		script(src="/javascripts/angular/services/EnrollAPI.js")
		script(src="/javascripts/angular/services/InstructionAPI.js")
		script(src="/javascripts/angular/services/PresentationAPI.js")
		script(src="/javascripts/angular/services/QuestionAPI.js")
		script(src="/javascripts/angular/services/AnswerAPI.js")
		script(src="/javascripts/angular/services/DateAPI.js")
		script(src="/javascripts/angular/services/WorkAPI.js")
		script(src="/javascripts/angular/services/SubmissionAPI.js")
		script(src="/javascripts/angular/services/MaterialAPI.js")
		script(src="/javascripts/angular/services/FaqAPI.js")
		script(src="/javascripts/angular/services/SurveyAPI.js")
		script(src="/javascripts/angular/services/AlternativeAPI.js")
		script(src="/javascripts/angular/filters/ToDateFilter.js")
		script(src="/javascripts/angular/services/CurrentUser.js")
		script(src="/javascripts/angular/services/ManageList.js")
		script(src="/javascripts/angular/controllers/InstructionsController.js")
		script(src="/javascripts/angular/controllers/PresentationsController.js")
		script(src="/javascripts/angular/controllers/PresentationShowController.js")
		script(src="/javascripts/angular/controllers/PresentationMaterialController.js")
		script(src="/javascripts/angular/controllers/NoticesController.js")
		script(src="/javascripts/angular/controllers/DatesController.js")
		script(src="/javascripts/angular/controllers/WorksController.js")
		script(src="/javascripts/angular/controllers/WorkShowController.js")
		script(src="/javascripts/angular/controllers/MaterialsController.js")
		script(src="/javascripts/angular/controllers/ParticipantsController.js")
		script(src="/javascripts/angular/controllers/FAQsController.js")
		script(src="/javascripts/angular/controllers/SurveysController.js")
		script(src="/javascripts/angular/controllers/LoginController.js")
		script(src="/javascripts/angular/controllers/AdminEventsController.js")
		script(src="/javascripts/angular/controllers/AdminEventShowController.js")
		script(src="/javascripts/angular/controllers/AdminInstructionShowController.js")
		script(src="/javascripts/angular/controllers/AdminUsersController.js")
		script(src="/javascripts/angular/controllers/AdminLecturesController.js")
