doctype html
html(ng-app="oddin")
	head
		meta(charset="utf-8")/
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")/

		title Oddin

		link(rel="stylesheet", href="/home.css")
	body
		div(ui-view)

		script(src="/vendor/jquery/dist/jquery.min.js")
		script(src="/vendor/materialize/dist/js/materialize.min.js")

		script(src="/javascripts/utils.js")
		script(type="application/javascript" src="/config?callback=setEnvironment")
		script(src="/home.js")
