doctype html
html(ng-app="oddin")
	head
		meta(charset="utf-8")/
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")/

		title Oddin

		link(rel="stylesheet" href="/build/oddin-home-build.min.css")/

	body
		div(ui-view)

		script(src="/vendor/jquery/dist/jquery.min.js")
		script(src="/vendor/materialize/dist/js/materialize.min.js")
		script(src="/vendor/socket.io-client/dist/socket.io.min.js")
		script(src="/vendor/angular/angular.min.js")
		script(src="/vendor/angular-ui-router/release/angular-ui-router.min.js")
		script(src="/vendor/angular-ui-mask/dist/mask.min.js")
		script(src="/vendor/angular-materialize/src/angular-materialize.js")
		script(src="/vendor/angular-cookies/angular-cookies.min.js")
		script(src="/build/oddin-home-build.min.js")

