doctype html
html(ng-app="oddin")
  head
    meta(charset="utf-8")/
    meta(http-equiv="X-UA-Compatible", content="IE=edge")/
    meta(name="viewport", content="width=device-width, initial-scale=1.0")/

    title Oddin

    link(rel="stylesheet", href="/stylesheets/material-icons.css")/
    link(rel="stylesheet", href="/stylesheets/materialize_custom.css")/
    link(rel="stylesheet", href="/stylesheets/login_style.css")/

body(ng-controller="LoginController")
  header(class="login-header")
    img(class="login-header__logo" src="/images/main_logo.png")/

  main
    .container
      .row
        .offset-m2.offset-l3.col.s12.m8.l6
          .card
            .login-box
              .div(ui-view)
          p.login-info Lorem ipsum dolor sit amet &#169;

  script(src="/vendor/jquery/dist/jquery.min.js")
  script(src="/vendor/materialize/dist/js/materialize.min.js")
  script(src="/vendor/angular/angular.js")
  script(src="/vendor/angular-ui-router/release/angular-ui-router.min.js")
  script(src="/vendor/angular-resource/angular-resource.js")
  script(src="/vendor/angular-materialize/src/angular-materialize.js")
  script(src="/vendor/angular-cookies/angular-cookies.min.js")
  script(src="/javascripts/angular/app.js")
  script(src="/javascripts/angular/config.js")
  script(src="/javascripts/angular/services/LoginService.js")
  script(src="/javascripts/angular/controllers/LoginController.js")
