//variáveis de cor
$primary-color: #00acc1;
$primary-color-darker: #007279;
$secondary-color: #ff9850;
$secondary-color-hover: #ffcb8b;
$background-color: #fafafa;
$error-color: #ff8a65;
$grey-color: #9e9e9e;
$grey-light-color: #d5d5d5;
$grey-light-color-disabled: #ececec;
$grey-light-color2: #f6f6f6;
$green-light-color: #81C784;
$green-light-color-hover: #B9E7B3;

//variáveis de posicionamento
$max-mobile-size: 600px;
$min-tablet-size: 601px;
$max-tablet-size: 992px;
$min-desktop-size: 993px;
$min: 8px;

//variáveis de cor da tipografia
$type-primary-color: rgba(33, 33, 33, 0.87);
$type-secondary-color: rgba(0, 0, 0, 0.54);

//mixins tipografia customizada
@mixin type-card-title($content: null) {
  font-size: 16px $content;
  font-weight: 500 $content;
}

@mixin type-list-section-title($content: null) {
  font-size: 16px $content;
  font-weight: 500 $content;
}

@mixin type-list-primary($content: null) {
  font-size: 16px $content;
  font-weight: 400 $content;
}

@mixin type-list-secondary($content: null) {
  font-size: 14px $content;
  font-weight: 400 $content;
}

//mixins de tipografia
@mixin type-button {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin type-caption {
  font-size: 12px;
  font-weight: 400;
}

@mixin type-body1 {
  font-size: 13px;
  font-weight: 400;
}

@mixin type-body2($content: null) {
  font-size: 13px $content;
  font-weight: 500 $content;
}

@mixin type-subheading {
  font-size: 15px;
  font-weight: 400;
}

@mixin type-title {
  font-size: 20px;
  font-weight: 500;
}

@mixin type-headline {
  font-size: 24px;
  font-weight: 400;
}

@mixin type-display1 {
  font-size: 34px;
  font-weight: 400;
}

@mixin type-display2 {
  font-size: 45px;
  font-weight: 400;
}

@mixin type-display3 {
  font-size: 56px;
  font-weight: 400;
}

@mixin type-display4 {
  font-size: 112px;
  font-weight: 300;
}

//mixins
@mixin unraise-button {
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
}
