@import 'variaveis';

//Configurações principais
$sideBarCompensation: 240px;
.side-nav {
  width: 240px;
}
body {
  background-color: $background-color;
}
//test
header, main, footer {
  padding-left: $sideBarCompensation;
  @media only screen and (max-width: $max-tablet-size) {
    padding-left: 0;
  }
}

.add-header, .add-main, .add-footer {
  padding-left: 0;
}

.navbar-fixed {
  z-index: 997;
}

.fixed-action-btn {
  z-index: 997;
}

main {
  margin-top: 4 * $min;
  @media (max-width: $max-mobile-size) {
    margin-top: 3 * $min;
  }
}

//Início
.barra-navegacao {
  &__container {
    margin: 0 (3 * $min) 0 (3 * $min);
    @media(min-width: $min-desktop-size) {
      margin: 0 $sideBarCompensation + (3 * $min) 0 (3 * $min);
    }
  }
  &__voltar {
    display: inline-block;
    vertical-align: middle;
  }
  &__title {
    display: inline-block;
    vertical-align: middle;
    max-width: 66%;
    margin: 0 0 0 (4 * $min);
    @media(min-width: $min-tablet-size) {
      max-width: 60%;
    }
    @media(min-width: $min-desktop-size) {
      max-width: 70%;
    }
    @include type-title;
  }
  &__logo {
    height: auto;
    max-height: 40px;
    margin: 12px 0 12px 0;
  }
}

.barra-lateral {
  &__header {
    padding: 2 * $min;
    background-color: $primary-color-darker;
    color: #fff;
  }
  &__user-avatar {
    margin-left: -4px;
    font-size: 9 * $min !important;
  }
  &__user-name {
    @include type-body2;
    margin: (2 * $min) 0 0 0;
  }
  &__user-email {
    @include type-body1;
    margin: 0 0 0 0;
  }
  &__item {
    background-color: #fff !important;
    & > a {
      padding-left: 2 * $min !important;
      font-weight: 500;
      &:hover {
        color: $secondary-color !important;
        background-color: transparent !important;
      }
      &.active {
        color: $primary-color !important;
        &:hover {
          color: $secondary-color !important;
          background-color: transparent !important;
        }
      }
    }

    & > p {
      padding-left: 2 * $min !important;
      font-weight: 500;
      margin: 0;
      &:hover {
        color: $secondary-color !important;
        background-color: transparent !important;
      }
      &.active {
        color: $primary-color !important;
        &:hover {
          color: $secondary-color !important;
          background-color: transparent !important;
        }
      }
    }

    &--collapsible {
      margin: 0 !important;
    }
  }
  &__subitem {
    a {
      font-weight: normal;
      &:hover {
        color: $secondary-color;
        background-color: transparent;
      }
    }
    p {
      font-weight: normal;
      padding: 0 0 0 31px;
      color: #fff;
      background-color: transparent;
    }
    &.active {
      &:hover {
        background-color: $secondary-color !important;
      }
    }
    &:hover {
      background-color: transparent !important;
    }
  }
}
