@import 'variaveis';
@import 'navbar_config';

//colocar em outro scss
.custom-badge {
  color: white;
  background-color: $grey-color;
  padding: 2px 6px 2px 6px;
  border-radius: 3px;
  font-size: 13px;
}

.custom-badge-voted {
  @extend .custom-badge;
  background-color: $secondary-color;
}

.custom-badge-disabled {
  @extend .custom-badge;
  background-color: $grey-light-color-disabled;
  &--prof {
    @extend .custom-badge;
    background-color: $grey-light-color;
  }
}

.custom-preloader {
  position: fixed;
  z-index: 399;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  @media (min-width: $min-desktop-size) {
    left: 240px;
  }
}

.custom-modal {
  &__header {
    font-size: 20px;
    font-weight: 500;
  }
  &__button {
    color: $secondary-color;
    @media(max-width: $max-mobile-size) {
      padding: 0 10px 0 10px;
    }
  }
}

.custom-card {
  &__header {
    margin-bottom: 8px;
    .title {
      @include type-list-section-title;
    }
    .secondary-info {
      float: right;
      @media (max-width: $max-mobile-size) {
        display: block;
        float: none;
      }
      @include type-list-section-title;
      color: $type-secondary-color;
    }
  }
}

.downvote-margin {
  margin-right: 5px;
}
//
.modal-criar-item {
  &__titulo {
    margin: 0;
    @include type-title;
    color: $type-primary-color;
  }
  &__file-button {
    padding: 0 22px 0 22px;
    border: 1px solid $secondary-color;
    @include unraise-button;
    color: $secondary-color;
    background-color: #fafafa !important;
  }
}

//Tela de Palestras
.lista-disciplinas {
  &__header {
    @include type-list-section-title(!important);
    color: $primary-color;
  }
  &__body {
    @include type-list-secondary;
    a {
      color: $type-primary-color !important;
    }
  }
}

//Tela de Aulas
.lista-tab {
  width: 100% !important;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  &__item {
    @include type-button;
    @media (max-width: 400px) {
      font-size: 12px !important;
    }
    & a:hover {
      color: $secondary-color !important;
    }
  }
}

.lista-aulas {
  &__item {
    a {
      color: $type-primary-color;
      span {
        @include type-list-primary(!important);
      }
      & > .circle {
        background-color: $green-light-color !important;
        &:hover {
          background-color: $green-light-color-hover !important;
        }
      }
    }
    p {
      @include type-list-secondary;
      color: $type-secondary-color;
    }
  }
}

//Tela de Materiais
.lista-material {
  &__header {
    padding: 20px !important;
    h2 {
      margin: 0;
      @include type-list-section-title(!important);
      color: $primary-color;
    }
  }
  &__item {
    span {
      @include type-list-primary(!important);
    }
    p {
      @include type-list-secondary;
      color: $type-secondary-color;
    }
    & > i {
      background-color: $secondary-color !important;
    }
    .secondary-content {
      i {
        color: $grey-color;
        &:hover {
          color: $grey-light-color
        }
      }
    }
  }
}

//Tela Participantes
.lista-participantes {
  &__item {
    min-height: 62px !important;
    span {
      @include type-list-primary(!important);
    }
    i {
      background-color: $grey-light-color !important;
    }
    .user--online {
      background-color: $secondary-color !important;
    }
  }
}

//Tela de Perguntas(Aluno)
.pergunta {
  &__header {
    margin-bottom: 8px;
    .autor {
      @include type-list-section-title;
    }
    .datahora {
      float: right;
      @media (max-width: $max-mobile-size) {
        display: block;
        float: none;
      }
      @include type-list-section-title;
      color: $type-secondary-color;
    }
  }
  &__action {
    .row {
      margin-bottom: 0;
    }
    .status {
      @media (min-width: $min-tablet-size) {
        border-right: 1px solid rgba(160, 160, 160, 0.2);
        //text-align: center;//
      }
    }
    .upvote {
      height: 36px;
      padding: 8px 0 8px 0;
      i {
        vertical-align: middle;
        color: $grey-color;
        &:hover {
          color:$grey-light-color;
        }
      }
      a {
        margin-right: 0 !important;
        color: $grey-color !important;
      }
      &--prof {
        @extend .upvote;
        display: inline-block;
      }
    }
    .upvote-voted {
      @extend .upvote;
      i {
        color: $secondary-color;
        &:hover {
          color: $secondary-color-hover;
        }
      }
    }
    .upvote-disabled {
      @extend .upvote;
      pointer-events: none;
      i {
        color: $grey-light-color-disabled;
      }
      &--prof {
        @extend .upvote-disabled;
        display: inline-block;
      }
    }
    .check-entendi {
      padding: 8px 0 8px 0;
      text-align: center !important;
      i{
        vertical-align: middle;
        color: $green-light-color;
      }
      @media (max-width: $max-mobile-size) {
        text-align: right !important;
      }
      &--prof {
        @extend .check-entendi;
        margin-left: 24px; //
        display: inline-block;
        @media (max-width: $max-mobile-size) {
          margin-left: 16px;
        }
      }
    }
    .check-nao-entendi {
      @extend .check-entendi;
      i {
        color: $grey-light-color-disabled;
      }
      &--prof {
        @extend .check-nao-entendi;
        margin-left: 24px; //
        display: inline-block;
        @media (max-width: $max-mobile-size) {
          margin-left: 16px;
        }
      }
    }
    //
    .ver-resposta {
      @media (min-width: $min-tablet-size) {
        text-align: right;
      }
      .btn-flat {
        margin-right: 0 !important;
        padding: 0;
        color: $secondary-color !important;
      }
      &--prof {
        @extend .ver-resposta;
        @media (min-width: $min-tablet-size) {
          text-align: center;
        }
        @media (max-width: $max-mobile-size) {
          font-size: 12px;
          text-align: center;
        }

      }
    }
    .responder {
      @extend .ver-resposta;
      @media (min-width: $min-tablet-size) {
        text-align: center;
      }
      @media (max-width: $max-mobile-size) {
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

.resposta {
  border-top: 4px solid rgba(160, 160, 160, 0.2);
  background-color: $grey-light-color2;
  &__header {
    margin-bottom: 8px;
    padding: 20px 20px 0 20px;
    .autor {
      @include type-list-section-title;
    }
    .datahora {
      float: right;
      @media (max-width: $max-mobile-size) {
        display: block;
        float: none;
      }
      @include type-list-section-title;
      color: $type-secondary-color;
    }
  }
  &__content {
    padding: 0 20px 0 20px;
  }
  &__action {
    padding: 0 20px 0 20px;
    border-top: 1px solid rgba(160, 160, 160, 0.1);
    .upvote {
      display: inline-block;
      padding: 16px 0 16px 0;
      height: 36px;
      i {
        vertical-align: middle;
        &:hover {
          color: $grey-light-color;
        }
      }
      a {
        margin-right: 0 !important;
        color: $grey-color !important;
      }
    }
    .upvote-disabled {
      @extend .upvote;
      pointer-events: none;
      a {
        color: $grey-light-color-disabled !important;
      }
      &--prof {
        @extend .upvote-disabled;
        a {
          color: $grey-light-color !important;
        }
      }
    }
    .upvote-voted {
      @extend .upvote;
      i:hover {
        color: $secondary-color-hover;
      }
      a {
        color: $secondary-color !important;
      }
    }
    .check-entendi {
      display: inline-block;
      margin-left: 24px;
      padding: 16px 0 16px 0;
      i,a {
        vertical-align: middle;
        color: $green-light-color;
      }
      &:hover {
        i,a {
          color: $green-light-color-hover;
        }
      }
    }
    .check-nao-entendi {
      @extend .check-entendi;
      i,a {
        color: $grey-light-color;
      }
    }
    .check-disabled {
      @extend .check-entendi;
      pointer-events: none;
      i,a {
        color: $grey-light-color2;
      }
    }
  }
}

.modal-post-duvida {
  .row {
    margin-bottom: 0 !important;
  }
  &__checkbox {
    margin-top: 0;
    margin-bottom: 16px !important;
  }
  &__submit {
    @media (min-width: $min-tablet-size) {
      float: right;
    }
  }
}

.modal-post-resposta {
  .row {
    margin-bottom: 0 !important;
  }
  &__options {

    a {
      margin-right: 3px;
      margin-bottom: 5px;
    }

    @media (max-width: $max-mobile-size) {
      margin-bottom: 16px;
    }

  }
  &__submit {
    @media (min-width: $min-tablet-size) {
      float: right;
    }
  }
}
