doctype html
div(ng-include="'partials/materials/index-menu.html'")

main
	#hidden-link
	oddin-preloader(load-var="load" side-bar="true")
	.container
		ul.collection.with-header.lista-material
			li.collection-header.lista-material__header
				h2 Material da Disciplina
			li.collection-item.avatar.lista-material__item(ng-repeat="material in materials | orderBy: 'name'")
				i.material-icons.circle insert_drive_file
				span.title
					a(href="" ng-click="downloadMaterial(material)") {{material.name}}
				p {{material.mime}}
