doctype html
div(ng-include="'partials/works/index-menu.html'")

main
	#hidden-link
	oddin-preloader(load-var="load" side-bar="true")
	.container
		p.empty-message.center-align(ng-if="works.length == 0") Nenhuma tarefa foi criada
		.card.custom-card(ng-repeat="work in works | orderBy: 'deadline'")
			.card-content
				.custom-card__header
					a(ui-sref="work-show({workID: work.id})")
						span.title.link-title {{work.subject}}
					span.secondary-info Entrega:&nbsp
						span.secondary-info--leading {{work.deadline | date:"dd/MM/yyyy"}}
				p {{work.description}}
			.card-action.custom-card__action
				.row
					.col.m6.s12
						.card-attachment.attachment-unique(ng-if="work.materials[0]")
							p Especificação:&nbsp
							a(href="" ng-click="downloadDescription(work)")
								span.card-filename {{work.materials[0].name}}
