<!DOCTYPE html>
<div ng-include="'partials/works/index-menu.html'"></div>
<main>
  <div id="hidden-link"></div>
  <oddin-preloader load-var="load" side-bar="true"></oddin-preloader>
  <div class="container">
    <p class="empty-message center-align" ng-if="works.length == 0">Nenhuma tarefa foi criada</p>
    <div class="card custom-card" ng-repeat="work in works | orderBy: 'deadline'">
      <div class="card-content">
        <div class="custom-card__header"><a ui-sref="work-show({workID: work.id})"><span class="title link-title">{{work.subject}}</span></a><span class="secondary-info">Entrega:&nbsp<span class="secondary-info--leading">{{work.deadline | date:"dd/MM/yyyy"}}</span></span></div>
        <p>{{work.description}}</p>
      </div>
      <div class="card-action custom-card__action">
        <div class="row">
          <div class="col m6 s12">
            <div class="card-attachment attachment-unique" ng-if="work.materials[0]">
              <p>Especificação:&nbsp</p><a href="" ng-click="downloadDescription(work)"><span class="card-filename">{{work.materials[0].name}}</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>