doctype html
div(ng-include="'partials/works/index-menu.html'")

main
	#hidden-link
	oddin-preloader(load-var="load" side-bar="true")
	//- Modals
	#modal-create.modal.bottom-sheet
		.modal-content.modal-criar-item
			.row
				form.offset-m2.offset-l3.col.s12.m8.l6(enctype="multipart/form-data" ng-submit="createWork(newWork)" name="uploadArchive")
					h1.modal-criar-item__titulo Criar tarefa
					.row
						.input-field.col.s12.m8
							input#new-work-subject(type="text" ng-model="newWork.subject" required)
							label(for="new-work-subject") Assunto
						.input-field.col.s12.m4
							input#new-work-deadline(type="text" ng-model="newWork.deadline" ui-mask="99/99/9999" ui-options="{addDefaultPlaceholder:false}" required)
							label(for="new-work-deadline") Data de Entrega
						.input-field.col.s12
							textarea#new-work-description.materialize-textarea(ng-model="newWork.description" required)
							label(for="new-work-description") Descrição
						.file-field.input-field.col.s12
							.btn.modal-criar-item__file-button
								span Anexo
								input#new-work-file(name="file" type="file")
							.file-path-wrapper
								input.file-path.validate(type="text" ng-model="newWork.materials[0]" placeholder="Acresente um arquivo com a descrição do trabalho")
					button.btn.waves-effect.waves-light.modal-close(type="submit" name="action") Criar
	#modal-edit.modal.bottom-sheet
		.modal-content.modal-criar-item
			.row
				form.offset-m2.offset-l3.col.s12.m8.l6(enctype="multipart/form-data" ng-submit="updateWork(modalWork)" name="updateArchive")
					h1.modal-criar-item__titulo Editar tarefa
					.row
						.input-field.col.s12.m8
							input#modal-work-subject(type="text" ng-model="modalWork.subject" required)
							label(for="modal-work-subject") Assunto
						.input-field.col.s12.m4
							input#modal-work-deadline(type="text" ng-model="modalWork.deadline" ui-mask="99/99/9999" ui-options="{addDefaultPlaceholder:false}" required)
							label(for="modal-work-deadline") Data de Entrega
						.input-field.col.s12
							textarea#modal-work-description.materialize-textarea(ng-model="modalWork.description" required)
							label(for="modal-work-description") Descrição
						.file-field.input-field.col.s12
							.btn.modal-criar-item__file-button
								span Anexo
								input#modal-work-file(name="file" type="file")
							.file-path-wrapper
								input.file-path.validate(type="text" ng-model="modalWork.materialName" placeholder="Acresente um arquivo com a descrição do trabalho")
					button.btn.waves-effect.waves-light.modal-close(type="submit" name="action") Atualizar
	#modal-delete.modal
		.modal-content
			h4.custom-modal__header Excluir Tarefa
			p Tem certeza que deseja excluir "{{modalWork.subject}}"?
		.modal-footer
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="" ng-click="deleteWork(modalWork)") Confirmar
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="") Cancelar
	//- Main Content
	.container
		oddin-fab(trigger="modal-create" modal-trigger="true" icon="add")
		p.empty-message.center-align(ng-if="works.length == 0") Nenhuma tarefa foi criada
		.card.custom-card(ng-repeat="work in works | orderBy: 'deadline'")
			.card-content
				.custom-card__header
					a(ui-sref="work-show({workID: work.id})")
						span.title.link-title {{work.subject}}
					span.secondary-info Entrega:&nbsp
						span.secondary-info--leading {{work.deadline | date:"dd/MM/yyyy"}}
				p {{work.description}}
			.card-action.custom-card__action
				.row
					.col.m6
						a(href="" ng-click="modalDelete(work)")
							i.material-icons delete
						a(href="" ng-click="modalEdit(work)")
							i.material-icons edit
					.col.m6.s12
						.card-attachment(ng-if="work.materials[0]")
							p Especificação:&nbsp
							a(href="" ng-click="downloadDescription(work)")
								span.card-filename(ng-if="work.materials") {{work.materials[0].name}}
