doctype html
div(ng-include="'partials/works/show-menu.html'")

main(ng-init="buscaSubmissoesAluno()")
	#hidden-link
	oddin-preloader(load-var="load" side-bar="true")
	//- Modals
	#modal-create.modal.bottom-sheet
		.modal-content.modal-criar-item
			.row
				form.offset-m2.offset-l3.col.s12.m8.l6(enctype="multipart/form-data" ng-submit="createSubmission(newSubmission)" name="uploadArchive")
					h1.modal-criar-item__titulo Submeter trabalho
					.row
						.input-field.col.s12
							textarea#new-submission-text.materialize-textarea(ng-model="newSubmission.text" required)
							label(for="new-submission-text") Descrição
						.file-field.input-field.col.s12
							.btn.modal-criar-item__file-button
								span Arquivo
								input#new-submission-file(name="file" type="file")
							.file-path-wrapper
								input.file-path.validate(type="text" ng-model="newSubmission.materials[0]" placeholder="Adicione o arquivo com o seu trabalho")
					button.btn.waves-effect.waves-light.modal-close(type="submit", name="action") Enviar
	#modal-edit.modal.bottom-sheet
		.modal-content.modal-criar-item
			.row
				form.offset-m2.offset-l3.col.s12.m8.l6(enctype="multipart/form-data" ng-submit="updateSubmission(modalMySubmission)" name="updateArchive")
					h1.modal-criar-item__titulo Editar trabalho
					.row
						.input-field.col.s12
							textarea#modal-my-submission-text.materialize-textarea(ng-model="modalMySubmission.text" required)
							label(for="modal-my-submission-text") Descrição
						.file-field.input-field.col.s12
							.btn.modal-criar-item__file-button
								span Arquivo
								input#modal-my-submission-file(name="file" type="file")
							.file-path-wrapper
								input.file-path.validate(type="text" ng-model="modalMySubmission.materialName" placeholder="Adicione o arquivo com o seu trabalho")
					button.btn.waves-effect.waves-light.modal-close(type="submit" name="action") Atualizar
	#modal-delete.modal
		.modal-content
			h4.custom-modal__header Excluir Trabalho
			p Tem certeza que deseja excluir "{{modalMySubmission.materials[0].name}}"?
		.modal-footer
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="" ng-click="deleteSubmission(modalMySubmission)") Confirmar
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="") Cancelar
	//- Main Content
	.container
		.card.custom-card(ng-if="!mySubmission")
			.card-content
				.custom-card__header
					span.title Nenhum arquivo foi postado
					span.secondary-info Entrega:&nbsp
						span.secondary-info--leading {{work.deadline | date:"dd/MM/yyyy"}}
			.card-action.custom-card__action
				.row
					.offset-m6.col.m6
						.card-right-button
							a.btn-flat(href="#modal-create" modal) Postar trabalho
		.card.custom-card(ng-if="mySubmission")
			.card-content
				.custom-card__header
					a(href="" ng-click="downloadSubmission(mySubmission)")
						span.title.file-title {{mySubmission.materials[0].name}}
						span.datahora {{mySubmission.created_at | date:"dd/MM/yyyy à's' HH:mm"}}
				p {{mySubmission.text}}
			.card-action.custom-card__action
				.row
					.col.m4
						a(href="" ng-click="modalDelete(mySubmission)")
							i.material-icons delete
						a(href="" ng-click="modalEdit(mySubmission)")
							i.material-icons edit
