<!DOCTYPE html>
<html ng-app="oddin">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Oddin</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="../css/materialize_custom.min.css"/>
  <link rel="stylesheet" href="../css/user_style.min.css"/>
  <link rel="shortcut icon" href="../img/oddin_favicon.png" type="image/x-icon"/>
</head>
<body>
  <div ui-view="viewContent"></div>

  <script src="../vendor/jquery/dist/jquery.min.js"></script>
  <script src="../vendor/Materialize/dist/js/materialize.min.js"></script>

  <script src="../vendor/angular/angular.js"></script>
  <script src="../vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="../vendor/angular-resource/angular-resource.js"></script>
  <script src="../vendor/angular-materialize/src/angular-materialize.js"></script>
  <script src="../js/angular/main.js"></script>
  <!--<script src="../js/angular/services/DisciplinasService.js"></script>-->
  <script src="../js/angular/services/DisciplinaService.js"></script>
  <script src="../js/angular/services/DisciplinaAulaService.js"></script>
  <script src="../js/angular/services/ProfileService.js"></script>
  <script src="../js/angular/services/AulaService.js"></script>
  <script src="../js/angular/services/MaterialService.js"></script>
  <script src="../js/angular/services/ParticipanteService.js"></script>
  <script src="../js/angular/services/DuvidaService.js"></script>
  <script src="../js/angular/controllers/DisciplinasController.js"></script>
  <script src="../js/angular/controllers/DisciplinaController.js"></script>
  <script src="../js/angular/controllers/AulaController.js"></script>

  <!--<script src="../js/initMaterialize.js"></script>-->
</body>
</html>
