header
	oddin-header(title="{{presentation.subject}} - Atendimento", btn-type="back", to-state-url="/disciplinas/{{presentation.instruction.id}}/aulas")
	ul#slide-out.side-nav.fixed.barra-lateral
		.barra-lateral__header
			i.barra-lateral__user-avatar.material-icons account_circle
			p.barra-lateral__user-name {{user.name}}
			p.barra-lateral__user-email {{user.email}}
		li.no-padding
			ul.collapsible(data-collapsible="expandable")
				li.barra-lateral__item
					a.barra-lateral__item--collapsible.collapsible-header.active.truncate {{presentation.subject}}
					.collapsible-body
						ul
							li.barra-lateral__subitem
								a(ui-sref="presentation-show({presentationID: presentation.id})") Dúvidas
							li.barra-lateral__subitem
								a(ui-sref="presentation-materials({presentationID: presentation.id})") Material
							li.barra-lateral__subitem.active
								p Atendimento presencial
		li.hide-on-large-only.no-padding.barra-lateral__item
			a(ui-sref="presentations({instructionID: presentation.instruction.id})") Aulas
		li.no-padding.barra-lateral__item
			a(ui-sref="instructions") Disciplinas
		li.no-padding.barra-lateral__item(ng-controller="LoginController")
			a(href="" ng-click="logout()") Logout