doctype html
div(ng-include="'partials/presentations/show-menu.html'")

main
	#hidden-link
	oddin-preloader(load-var="load" side-bar="true")
	//- Modals

	#modal-create-video.modal
		.modal-content.modal-criar-item.modal-post-resposta
			.row
				form#form-video.offset-m2.offset-l3.col.s12.m8.l6
					h1.modal-criar-item__titulo Criar Vídeo
					.row
						.input-field.col.s12
							input#material-name(type="text" ng-model="material.name" required)
							label(for="material-name") Nome do arquivo
					.row
						.input-field.col.s20
							video#gum(autoplay muted)
							video#recorded(autoplay)
					.row
						#recording
							p#pRecording Gravando
							.progress
								.indeterminate
						.col.s12.m9
							.modal-post-respostas__options
								button#record.btn.waves-effect.waves-light Gravar
								button#play.btn.waves-effect.waves-light(disabled) Visualizar
						.col.s12.m3
							button#upload.btn.waves-effect.waves-light.modal-post-resposta__submit.modal-close(disabled type="submit" name="action" ng-click="createAnswerWithMedia(newAnswer, material)") Enviar

	#modal-create-audio.modal.bottom-sheet
		.modal-content.modal-criar-item.modal-post-resposta
			.row
				form.offset-m2.offset-l3.col.s12.m8.l6
					h1.modal-criar-item__titulo Criar Áudio
					.row
						.input-field.col.s12
							input#material-name(type="text" ng-model="material.name" required)
							label(for="material-name") Nome do arquivo					
					.row
						.input-field.col.s12
							audio#gumAudio(muted)
							audio#recordedAudio(autoplay controls)
						#recordingAudio
							p#pRecording Gravando
							.progress
								.indeterminate
						.col.s12.m9
							.modal-post-respostas__options
								button#recordAudio.btn.waves-effect.waves-light Gravar
								button#playAudio.btn.waves-effect.waves-light(disabled) Visualizar
						.col.s12.m3
							button#uploadAudio.btn.waves-effect.waves-light.modal-post-resposta__submit.modal-close(disabled type="submit" name="action" ng-click="createAnswerWithMedia(newAnswer, material)") Enviar

	#modal-create-material.modal.bottom-sheet
			.modal-content.modal-criar-item.modal-post-resposta
				.row
					form.offset-m2.offset-l3.col.s12.m8.l6(enctype="multipart/form-data" ng-submit="createAnswerWithMaterial(newAnswer)" name="uploadArchive")
						h1.modal-criar-item__titulo Upload de material da resposta
						.file-field.input-field
							.btn.modal-criar-item__file-button
								span Arquivo
								input#new-material-file(name="file" type="file")
							.file-path-wrapper
								input#new-material-description.file-path.validate(type="text" placeholder="Faça Upload de um ou mais arquivos")
						button.btn.waves-effect.waves-light.modal-close(type="submit" name="action") Enviar

	#modal-create-answer.modal.bottom-sheet
		.modal-content.modal-criar-item.modal-post-resposta
			.row
				form.offset-m2.offset-l3.col.s12.m8.l6(ng-submit="createAnswer(newAnswer)")
					h1.modal-criar-item__titulo Responder Dúvida
					.row
						.input-field.col.s12
							textarea#new-answer-text.materialize-textarea(ng-model="newAnswer.text")
							label(for="new-answer-text") Resposta
					.row
						.col.s12.m9
							.modal-post-resposta__options
								a.btn-floating
									i.material-icons text_fields
								a.btn-floating(ng-click="modalCreateAudio()" href="")
									i.material-icons mic
								a.btn-floating(ng-click="modalCreateVideo()" href="")
									i.material-icons videocam
								a.btn-floating(ng-click="modalCreateMaterial()" href="")
									i.material-icons attach_file
						.col.s12.m3
							button.btn.waves-effect.waves-light.modal-post-resposta__submit.modal-close(type="submit" name="action") Enviar

	//- Main Content
	.container
		.row.dropdown-row
			.offset-m3.col.m6.s12
				a.dropdown-button.btn.custom-dropdown(href="" data-activates="dropdownOrderBy" data-beloworigin="true" data-alignment="right" data-hover="true" dropdown) Ordenar Dúvidas
				ul#dropdownOrderBy.dropdown-content
					li
						a#post-order.filter-item-active(href="" ng-click="disableFilter()") Por Postagem
					li
						a#ranking-order(href="" ng-click="enableFilter()") Por Ranking
		p.empty-message.center-align(ng-if="questions.length == 0") Nenhuma dúvida foi postada
		.card.pergunta(ng-repeat="question in questions | orderBy: ((filter || '') && '(upvotes - downvotes)') : true")
			.card-content
				.pergunta__header
					span.autor {{question.anonymous ? "Anônimo" : question.person.name}}
					span.datahora {{question.created_at | date:"dd/MM/yyyy à's' HH:mm"}}
				.pergunta__content
					p {{question.text}}
			.card-action.pergunta__action
				.row
					.col.s12.m4
						.status
							.upvote-disabled--prof
								i.material-icons keyboard_arrow_up
								span.custom-badge-disabled {{question.upvotes - question.downvotes}}
							div(ng-class="{'check-entendi--prof': question.answered, 'check-nao-entendi--prof': !question.answered}")
								i.material-icons check
					.col.m4
						.responder
							a.waves-effect.btn-flat.modal-trigger(ng-click="modalCreateAnswer(question)" href="") Responder
					.col.m4
						.ver-resposta--prof(ng-if="question.has_answer")
							a.waves-effect.btn-flat(id="button_{{question.id}}" ng-click="question.answers ? closeAnswers(question) : findAnswers(question)")
								span Ver Respostas							
			.resposta(ng-attr-id="{{answer.id}}" ng-repeat="answer in question.answers | orderBy: '(upvotes - downvotes)' : true")
				.resposta__header
					span.autor {{answer.person.name}}
					span.datahora {{answer.created_at | date:"dd/MM/yyyy à's' HH:mm"}}
				.resposta__content
					p  {{answer.text}}
					ul.collection.with-header.lista-material(ng-repeat="material in answer.materials")
						li.collection-item.avatar.lista-material__item(ng-if="material.id")
							i.material-icons.circle insert_drive_file
							span.title
								a(href="" ng-click="downloadMaterial(material)") {{material.name}}
							p {{material.mime}}
				.resposta__action
					.upvote-disabled--prof
						a: i.material-icons keyboard_arrow_up
						span.custom-badge-disabled--prof {{answer.upvotes - answer.downvotes}}
					div(ng-class="{'check-entendi': answer.accepted, 'check-disabled': !answer.accepted}")
						i.material-icons check
