doctype html
div(ng-include="'partials/presentations/show-menu.html'")

main
	#hidden-link
	oddin-preloader(load-var="load" side-bar="true")
	//- Modals
	#modal-create.modal.bottom-sheet
		.modal-content.modal-criar-item.modal-post-duvida
			.row
				form.offset-m2.offset-l3.col.s12.m8.l6(ng-submit="createQuestion(newQuestion)")
					h1.modal-criar-item__titulo Postar Dúvida
					.row
						.input-field.col.s12
							textarea#new-question-text.materialize-textarea(ng-model="newQuestion.text")
							label(for="new-question-text") Dúvida
					.row
						.col.s12.m9
							p.modal-post-duvida__checkbox
								input#new-question-anonymous.filled-in(type="checkbox" ng-model="newQuestion.anonymous")
								label(for="new-question-anonymous") Enviar como anônimo
						.col.s12.m3
							button.btn.waves-effect.waves-light.modal-post-duvida__submit.modal-close(type="submit" name="action") Enviar
	//- Main Content
	.container
		oddin-fab(trigger="modal-create" modal-trigger="true" icon="add")
		.row.dropdown-row
			.offset-m3.col.m6.s12
				a.dropdown-button.btn.custom-dropdown(href="" data-activates="dropdownOrderBy" data-beloworigin="true" data-alignment="right" data-hover="true" dropdown) Ordenar Dúvidas
				ul#dropdownOrderBy.dropdown-content
					li
						a#post-order.filter-item-active(href="" ng-click="disableFilter()") Por Postagem
					li
						a#ranking-order(href="" ng-click="enableFilter()") Por Ranking
		p.empty-message.center-align(ng-if="questions.length == 0") Nenhuma dúvida foi postada
		.card.pergunta(ng-repeat="question in questions | orderBy: ((filter || '') && '(upvotes - downvotes)') : true")
			.card-content
				.pergunta__header
					span.autor {{question.anonymous ? "Anônimo" : question.person.name}}
					span.datahora {{question.created_at | date:"dd/MM/yyyy à's' HH:mm"}}
				.pergunta__content
					p {{question.text}}
			.card-action.pergunta__action
				.row
					.col.s6.m4
						.upvote(ng-class="{'upvote-disabled': question.person.id == user.id, 'upvote-voted': question.my_vote == 1}")
							a(href="" ng-click="question.my_vote == 0 ? upvoteQuestion(question) : unvoteQuestion(question)")
								i.material-icons keyboard_arrow_up
							span(ng-class="{'custom-badge': question.my_vote == 0, 'custom-badge-voted': question.my_vote != 0, 'custom-badge-disabled': user.id == question.person.id}") {{question.upvotes - question.downvotes}}
					.col.s6.m4
							div(ng-class="{'check-entendi': question.answered, 'check-nao-entendi': !question.answered}")
								i.material-icons check
					.col.s6.m4
							.ver-resposta(ng-if="question.has_answer")
								a.waves-effect.btn-flat(id="button_{{question.id}}" ng-click="question.answers ? closeAnswers(question) : findAnswers(question)") Ver Respostas
			.resposta(ng-attr-id="{{answer.id}}" ng-repeat="answer in question.answers")
				.resposta__header
						span.autor {{answer.person.name}}
						span.datahora {{answer.created_at | date:"dd/MM/yyyy à's' HH:mm"}}
				.resposta__content
						p  {{answer.text}}
						ul.collection.with-header.lista-material(ng-repeat="material in answer.materials")
							li.collection-item.avatar.lista-material__item(ng-if="material.id")
								i.material-icons.circle insert_drive_file
								span.title
									a(href="" ng-click="downloadMaterial(material)") {{material.name}}
								p {{material.mime}}
				.resposta__action
						div(ng-class="{'upvote-voted': answer.my_vote == 1, 'upvote': answer.my_vote != 1}")
								a(href="" ng-click="answer.my_vote != 1 ? upvoteAnswer(answer) : unvoteAnswer(answer)")
										i.material-icons keyboard_arrow_up
						div(ng-class="{'upvote-voted': answer.my_vote == -1, 'upvote': answer.my_vote != -1}")
								a(href="" ng-click="answer.my_vote != -1 ? downvoteAnswer(answer) : unvoteAnswer(answer)")
										i.material-icons.downvote-margin keyboard_arrow_down
								span(ng-class="{'custom-badge': answer.my_vote == 0, 'custom-badge-voted': answer.my_vote != 0}") {{answer.upvotes - answer.downvotes}}
						div(ng-class="{'check-disabled': question.person.id != user.id || question.answered && !answer.accepted, 'check-entendi': answer.accepted, 'check-nao-entendi': !answer.accepted}")
								a.material-icons(href="" ng-if="!answer.accepted" ng-click="acceptAnswer(answer)" tooltipped  data-position="right" data-tooltip="Selecionar resposta") check
								a.material-icons(href="" ng-if="answer.accepted" ng-click="rejectAnswer(answer)" tooltipped  data-position="right" data-tooltip="Recusar resposta") check
