<ul class="collapsible lista-disciplinas" data-collapsible="expandable" watch>
    <li>
        <!--Cabeçalho da Lista-->
        <div class="collapsible-header lista-disciplinas__header active">
            <i class="material-icons">collections_bookmark</i>
            Disciplinas Correntes
        </div>
        <!--Corpo da Lista-->
        <div class="collection collapsible-body lista-disciplinas__body">
            <a href="#!" class="collection-item" data-ng-repeat="disciplina in disciplinas">
                {{disciplina.nome}} - Turma: {{disciplina.turma}}
            </a>
        </div>
    </li>
</ul>