<header>
  <!--Barra de navegação superior-->
  <div class="navbar-fixed">
    <nav class="navbar-fixed barra-navegacao">
      <div class="nav-wrapper barra-navegacao__container">
        <a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only" data-sidenav="left" data-closeonclick="true"><i class="material-icons">menu</i></a>
        <a class="barra-navegacao__voltar hide-on-med-and-down" href="#/disciplina/{{aula.instruction.id}}/aulas"><i class="material-icons">arrow_back</i></a>
        <h1 class="barra-navegacao__title truncate">{{aula.subject}}</h1>
        <a href="/" class="brand-logo right hide-on-small-only"><img class="barra-navegacao__logo" src="../img/oddin_horizontal_logo.png"/></a>
      </div>
    </nav>
  </div>
  <!--Barra de navegação lateral-->
  <ul id="slide-out" class="side-nav fixed barra-lateral">
    <div class="barra-lateral__header">
      <i class="barra-lateral__user-avatar material-icons">account_circle</i>
      <p class="barra-lateral__user-name">Aluno Teste</p>
      <p class="barra-lateral__user-email">aluno@email.com</p>
    </div>
    <li class="hide-on-large-only no-padding barra-lateral__item"><a href="#/disciplina/{{aula.instruction.id}}/aulas">Sair de {{aula.subject}}</a></li>
    <li class="no-padding barra-lateral__item"><a href="#/disciplinas">Voltar Para Disciplinas</a></li>
    <li data-ng-controller="LoginController" class="no-padding barra-lateral__item"><a href="" data-ng-click="logout()">Logout</a></li>
  </ul>
</header>
<main data-ng-init = "buscaDuvidas()">
  <div class="container">
    <!--FAB-->
    <div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
      <a class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#postar-duvida" modal>
        <i class="large material-icons">add</i>
      </a>
    </div>
    <!--Postar dúvida-->
    <div id="postar-duvida" class="modal bottom-sheet">
      <div class="modal-content modal-criar-item modal-post-duvida">
        <div class="row">
          <form class="offset-m2 offset-l3 col  s12 m8 l6" data-ng-submit="postaDuvida()">
            <h1 class="modal-criar-item__titulo">Postar Dúvida</h1>
            <div class="row">
              <div class="input-field col s12">
                <textarea name="texto" data-ng-model="duvida.text" class="materialize-textarea" id="textarea_duvida"></textarea>
                <label for="textarea_duvida">Dúvida</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m9">
                <p class="modal-post-duvida__checkbox">
                  <input type="checkbox" class="filled-in" id="checkbox-anonimo" data-ng-model="duvida.anonymous"/>
                  <label for="checkbox-anonimo">Enviar como anônimo</label>
                </p>
              </div>
              <div class="col s12 m3">
                <button class="btn waves-effect waves-light modal-post-duvida__submit modal-close" type="submit" name="action">Enviar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--->
    <div class="card pergunta" data-ng-repeat="duvida in duvidas ">
      <div class="card-content">
        <div class="pergunta__header">
          <span class="autor">{{duvida.person.name}}</span>
          <span class="datahora">{{duvida.created_at}}</span>
        </div>
        <div class="pergunta__content">
          <p>{{duvida.text}}
          </p>
        </div>
      </div>
      <div class="card-action pergunta__action">
        <div class="row">
          <div class="col s6 m4">
            <div class="upvote interactive_checked" data-ng-class="{'interactive_checked': duvida.upvote}">
              <a href="" data-ng-click="upvoteDuvida(duvida)">
                <i class="material-icons">keyboard_arrow_up</i>
              </a>
              <span class="custom-badge">{{duvida.upvotes}}</span>
            </div>
          </div>
          <div class="col s6 m4">
            <div data-ng-class="{'check-entendi': duvida.anwered, 'check-nao-entendi': !duvida.answered}">
              <i class="material-icons">check</i>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="ver-resposta" data-ng-if="duvida.has_answer">
              <a id="button_{{duvida.id}}" class="waves-effect btn-flat" data-ng-click="buscaRespostas(duvida)">
                Ver Respostas
              </a>
            </div>
          </div>
        </div>
      </div>

      <!--Resposta-->
      <div class="resposta" data-ng-attr-id="{{answer.id}}" data-ng-repeat="answer in duvida.answers">
        <div class="resposta__header">
          <span class="autor">{{answer.person.name}}</span>
          <span class="datahora">{{answer.createdat}}<!--{{answer.date}} {{answer.time}}--></span>
        </div>
        <div class="resposta__content">
          <p>
            {{answer.text}}
          </p>
        </div>
        <div class="resposta__action">
          <div class="upvote" data-ng-class="{interactive_checked: doubt.like}">
            <a href="" data-ng-click="likeDoubt(doubt)">
              <i class="material-icons">keyboard_arrow_up</i>
            </a>
            <span class="custom-badge">{{answer.upvotes}}</span>
          </div>

          <div data-ng-class="{'check-entendi': answer.accepted, 'check-nao-entendi': !answer.accepted}">
            <i class="material-icons">check</i>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>
</main>
