<header>
    <!--Barra de navegação superior-->
    <div class="navbar-fixed">
        <nav class="navbar-fixed barra-navegacao">
            <div class="nav-wrapper barra-navegacao__container">
                <a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only" data-sidenav="left" data-closeonclick="true"><i class=" material-icons">menu</i></a>
                <a class="barra-navegacao__voltar hide-on-med-and-down" href="#/disciplinas"><i class="material-icons">arrow_back</i></a>
                <h1 class="barra-navegacao__title truncate">{{disciplina.nome}} - Participantes</h1>
                <a href="#" class="brand-logo right hide-on-small-only"><img class="barra-navegacao__logo" src="../img/oddin_horizontal_logo.png"/></a>
            </div>
        </nav>
    </div>
    <!--Barra de navegação lateral-->
    <ul id="slide-out" class="side-nav fixed barra-lateral">
        <div class="barra-lateral__header">
            <i class="barra-lateral__user-avatar material-icons">account_circle</i>
            <p class="barra-lateral__user-name">Usuário Teste</p>
            <p class="barra-lateral__user-email">usuario@email.com</p>
        </div>
        <!--<li><a href="./presentation/current">Aula Atual</a></li>-->
        <li class="no-padding">
            <ul class="collapsible" data-collapsible="expandable">
                <li class="barra-lateral__item">
                    <a class="barra-lateral__item--collapsible collapsible-header active truncate">
                        {{disciplina.nome}}
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="barra-lateral__subitem"><a  href="#/disciplina/{{disciplina._id}}/aulas">Aulas</a></li>
                            <li class="barra-lateral__subitem"><a href="#/disciplina/{{disciplina._id}}/materiais">Material</a></li>
                            <li class="barra-lateral__subitem active"><a href="#">Participantes</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="hide-on-large-only no-padding barra-lateral__item"><a href="#/disciplinas">Voltar Para Disciplinas</a></li>
        <li class="no-padding barra-lateral__item"><a href="/controller/logout">Sair</a></li>
    </ul>
</header>
<main data-ng-init="buscaParticipantes()">
    <div class="container">
        <ul class="collection lista-participantes">
            <li data-ng-repeat="participante in participantes" class="collection-item avatar lista-participantes__item">
                <i class="material-icons circle" data-ng-class="{'user--online' : participante.online}">person</i>
                <span class="title">{{participante.nome}}</span>
            </li>
        </ul>
    </div>
</main>