doctype html
div(ng-include="'partials/notices/index-menu.html'")

main
	oddin-preloader(load-var="load" side-bar="true")
	.container
		p.empty-message.center-align(ng-if="notices.length == 0") Nenhum aviso foi postado
		.card.custom-card(data-ng-repeat="notice in notices | orderBy : 'created_at' : true")
			.card-content
				.custom-card__header
					span.title {{notice.subject}}
					span.secondary-info {{notice.created_at | date:"dd/MM/yyyy à's' HH:mm"}}
				p {{notice.text}}
