<!DOCTYPE html>
<html data-ng-app="BossEdu">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Atribuição</title>

  <link rel="stylesheet" href="/view/vendor/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/view/vendor/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/view/css/custom.css" />
  <link rel="stylesheet" href="/view/css/custom_admin.css"/>
</head>
<body data-ng-controller="atribuicaoCtrl">
  <!-- Inicio do cabecalho -->
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!--Cabeçalho-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mirage</a>
        </div>
        <!--Navegação-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span>&#32;&#32;Usuário <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/controller/logout"><span class="glyphicon glyphicon-log-out"></span>  Sair</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span>&#32;Voltar</a></li>
          </ul>
        </div>
      </div>
      <!-- -->
    </nav>
    <!-- fim Navbar -->
  </header>

  <main>
    <div class="container admin-padding-top">
      <div class="row">
        <div class="col-md-3">
          <div class="atribuicao_info admin_info admin_box">
            <h4>Info</h4>
            <ul>
              <li><h6>ID:</h6><p>000124</p></li>
              <li><h6>Turma:</h6><p>ADS-20326</p></li>
              <li><h6>Data de início:</h6><p>10/04/2011</p></li>
              <li><h6>Data de encerramento:</h6><p>22/05/2022</p></li>
              <li><h6>Alunos cadastrados:</h6><p>34</p></li>
            </ul>
          </div>
        </div>

        <div class="col-md-9">
          <div class="tabela-horarios-box admin_box">
            <h4>Salas/Horários</h4>
            <div class="table-responsive tabela-horarios">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Dia da Semana</th>
                    <th>Hora - Início</th>
                    <th>Hora - Fim</th>
                    <th>Prédio</th>
                    <th>Sala</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="disponibilidade in salas_horarios_cadastrados">
                    <td>{{disponibilidade.dia}}</td>
                    <td>{{disponibilidade.hora_ini}}</td>
                    <td>{{disponibilidade.hora_fim}}</td>
                    <td>{{disponibilidade.predio}}</td>
                    <td>{{disponibilidade.sala}}</td>
                    <td><button class="btn-remove-list"><span class="fa fa-close"></span></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <button type="button" class="custom-button-sm" data-toggle="modal" data-target="#modal-atribui-horario">Atribuir nova sala/horário</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="atribuicao_lista_professores admin_box">
            <h4>Professores</h4>
            <ul class="list-group custom-list-group list-group-box">
              <li class="list-group-item clearfix" data-ng-repeat="professor in usuarios_matriculados" data-ng-if="professor.status==1">
                <a href="#"><span class="fa fa-user"></span>&#32;{{professor.nome}}</a>
                <div class="custom-list-options">
                  <button class="btn-remove-list" data-ng-click="confirmarRemocaoUsuario(professor)"><span class="fa fa-close"></span></button>
                </div>
              </li>
            </ul>
            <button type="button" class="custom-button-sm" data-toggle="modal" data-target="#modal-atribui-professor">Atribuir novo professor</button>
          </div>
        </div>

        <div class="col-sm-6">
         <div class="atribuicao_lista_alunos admin_box">
            <h4>Alunos</h4>
            <form>
              <div class="input-group">
               <!-- <label for="busca-palestra" class="control-label">Buscar Palestra</label-->
                <input type="search" class="form-control" id="busca-aluno" placeholder="Buscar aluno por nome">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
              </div>
            </form>
            <ul class="list-group custom-list-group list-group-box">
              <li class="list-group-item clearfix" data-ng-repeat="aluno in usuarios_matriculados" data-ng-if="aluno.status==0">
                <a href="#"><span class="fa fa-user"></span>&#32;{{aluno.nome}}</a>
                <div class="custom-list-options">
                  <button class="btn-remove-list" data-ng-click="confirmarRemocaoUsuario(aluno)"><span class="fa fa-close"></span></button>
                </div>
              </li>
            </ul>
            <button type="button" class="custom-button-sm" data-toggle="modal" data-target="#modal-atribui-aluno">Atribuir novos alunos</button>
          </div>
        </div>
      </div>
      </div>
    </div>

   <!-- Modal de atribuição de horarios -->
    <div class="modal fade" id="modal-atribui-horario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUpload">Atribuir Horário/Sala</h4>

          </div>
          <div class="modal-body-tabela-horarios modal-body">

            <div class="row">
              <form class="atribuir-horarios">
                <div class="form-group">
                    <div class="col-md-2 col-sm-6">
                      <label for="dia-semana" class="control-label">Dia da Semana</label>
                      <select id="dia-semana" class="form-control" data-ng-options="item as item.dia for item in salas_horarios track by item.id" ng-model="selected">
                        <!--<option value="Domingo">Dom</option>
                        <option value="Segunda">Seg</option>
                        <option value="Terça">Ter</option>
                        <option value="Quarta">Qua</option>
                        <option value="Quinta">Qui</option>
                        <option value="Sexta">Sex</option>
                        <option value="Sábado">Sab</option>-->
                      </select>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <label for="horario-aula" class="control-label">Horário</label>
                      <select id="horario-aula" class="form-control" data-ng-disabled="!(selected)">
                        <!--<option>18:00 - 18:30</option>
                        <option>22:15 - 23:00</option>-->
                      </select>
                    </div>

                    <div class="col-md-3 col-sm-6">
                      <label for="predio-aula" class="control-label">Prédio</label>
                      <select id="predio-aula" class="form-control">
                        <option>AT - 785</option>
                        <option>Area - 51</option>
                      </select>
                    </div>

                    <div class="col-md-3 col-sm-6">
                      <label for="predio-aula" class="control-label">Sala</label>
                      <select id="sala-aula" class="form-control">
                        <option>Sala 134</option>
                        <option>Lab 697</option>
                      </select>
                    </div>
                    <div class="col-md-1">
                      <button type="button" id="add-sala-horario" class="custom-button-lg"><span class="fa fa-plus"></span></button>
                    </div>
                  </div>
              </form>
            </div>

            <div class="table-responsive">
              <table class="tabela-horarios-custom table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Dia da Semana</th>
                    <th>Horário</th>
                    <th>Prédio</th>
                    <th>Sala</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Seg</td>
                    <td>18:00 - 19:30</td>
                    <td>AT-84</td>
                    <td>Sala 435</td>
                  </tr>
                  <tr>
                    <td>Seg</td>
                    <td>18:00 - 19:30</td>
                    <td>AT-84</td>
                    <td>Sala 435</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="modal-footer">
            <div class="modal_table">

              <button type="button" class="custom-button-sm"> Incluir novos horários</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->

   <!-- Modal de atribuição de professor -->
    <div class="modal fade" id="modal-atribui-professor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUpload">Atribuir Professores</h4>
          </div>
          <div class="modal-footer">
            <div class="atribuir_prof modal_list">
              <form>
                <div class="input-group">
                 <!-- <label for="busca-palestra" class="control-label">Buscar Palestra</label-->
                  <input type="search" class="form-control" id="busca-professor" placeholder="Buscar professor por nome">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
              </form>
              <ul class="list-group custom-list-group list-group-box">
                <li class="list-group-item clearfix" data-ng-repeat="professor in usuarios" data-ng-if="professor.status==1">
                  <a href="#"><span class="fa fa-user"></span>&#32;{{professor.nome}}</a>
                  <div class="custom-list-options">
                    <button class="btn-atribui" data-ng-click="selecionarUsuario(professor)"><span data-ng-attr-id="{{professor.id}}" class="fa fa-circle-o"></span></button>
                  </div>
                </li>
              </ul>
              <button type="button" class="custom-button-sm" data-ng-click="incluirProfessores()">Incluir novos professores</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <!-- Modal de atribuição de aluno -->
    <div class="modal fade" id="modal-atribui-aluno" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUpload">Atribuir Alunos</h4>
          </div>
          <div class="modal-footer">
            <div class="atribuir_alunos modal_list">
              <form>
                <div class="input-group">
                 <!-- <label for="busca-palestra" class="control-label">Buscar Palestra</label-->
                  <input type="search" class="form-control" id="busca-aluno" placeholder="Buscar aluno por nome">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
              </form>
              <div class="select-all">
                     <p>Selecionar Todos</p>
                    <button class="btn-atribui" data-ng-click="selecionarTodos()"><span id="select-all" class="fa fa-circle-o"></span></button>
              </div>
              <ul class="list-group custom-list-group list-group-box">
                <li class="list-group-item clearfix" data-ng-repeat="aluno in usuarios" data-ng-if="aluno.status==0">
                  <a href="#"><span class="fa fa-user"></span>&#32;{{aluno.nome}}</a>
                  <div class="custom-list-options">
                    <button class="btn-atribui" data-ng-click="selecionarUsuario(aluno)"><span data-ng-attr-id="{{aluno.id}}" class="fa fa-circle-o"></span></button>
                  </div>
                </li>
              </ul>
              <button type="button" class="custom-button-sm" data-ng-click="incluirAlunos()"> Incluir novos alunos</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <!-- Modal de confirmação de adição de usuário -->
    <div class="modal fade" id="modal-confirma-adicao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="fa fa-check-circle"></span>&#32;Usuário adicionado com sucesso!
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- -->

  <!-- Modal de exclusão de usuário -->
  <div class="modal fade" id="modal-deleta-usuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabelUpload">Remover {{modalData.nome}}</h4>
        </div>
        <div class="modal-footer">
          <div class="upload-form">
            <form>
              <div class="form-group">
                <label for="nome-usuario" class="control-label">Nome</label>
                <input type="text" class="form-control" id="nome-usuario" data-ng-model="modalData.nome" disabled>
              </div>

              <div class="form-group">
                <label for="email-usuario" class="control-label">E-mail</label>
                <input type="text" class="form-control" id="email-usuario" data-ng-model="modalData.email" disabled>
              </div>
              <div class="form-group cancel-confirm">
                <button type="submit" class="custom-button-sm delete-confirm" data-ng-click="removerUsuario(modalData)">Confirmar
                </button>
                <button type="submit" class="custom-button-sm delete-cancel"  data-dismiss="modal">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -->

  <!-- Modal de confirmação de remoção de usuário -->
  <div class="modal fade" id="modal-confirma-remocao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="fa fa-check-circle"></span>&#32;Usuário removido com sucesso!
        </div>
      </div>
    </div>
  </div>
  </main>
  <!-- -->
  </main>

  <script src="/view/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/view/vendor/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../js/script-admin.js"></script>

  <!-- AngularJS Scripts -->
  <script src="/view/vendor/angular/angular.js"></script>
  <script src="/view/js/app.js"></script>
  <script src="/view/js/controller_test/atribuicaoCtrl.js"></script>
</body>
</html>
