<!DOCTYPE html>
<html data-ng-app="BossEdu">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Criar Turma</title>

  <link rel="stylesheet" href="/view/vendor/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/view/vendor/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/view/css/custom.css" />
  <link rel="stylesheet" href="/view/css/custom_admin.css"/>
</head>
<body data-ng-controller="criarTurmaCtrl">
  <!-- Inicio do cabecalho -->
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!--Cabeçalho-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mirage</a>
        </div>
        <!--Navegação-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span>&#32;&#32;Usuário <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/controller/logout"><span class="glyphicon glyphicon-log-out"></span>  Sair</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span>&#32;Voltar</a></li>            
          </ul>
        </div>
      </div>
      <!-- -->
    </nav>
    <!-- fim Navbar -->    
  </header>

  <!-- Conteúdo Principal -->
  <main>
    <div class="container admin-padding-top">
      <div class="row">
        <div class="col-sm-5">
          <div class="admin_info admin_box">
            <h4>Palestra X em Evento Y</h4>
            <ul class="info-list">
              <li>x Turmas</li>
              <li>Lorem isum dolor sit</li>
              <li>Lorem ipsum dolor sit amet, consectetur</li>
              <li>teste</li>
            </ul>
          </div>
          <div class="turma_form admin_box">
            <h4>Criar nova turma</h4>
            <form data-ng-submit="criarTurma(turma)">
              <div class="form-group">
                <label for="nome" class="control-label">Nome</label>
                <input type="text" class="form-control" data-ng-model="turma.nome" id="nome" placeholder="Insira o código/nome da turma">                
              </div>

              <div class="form-group">
                <label for="data-inicio" class="control-label">Data de Início</label>                
                <input type="date" class="form-control" data-ng-model="turma.data_ini" id="data-inicio" placeholder="Insira a data de início">
              </div>

              <div class="form-group">
                <label for="data-fim" class="control-label">Data de Encerramento</label>                
                <input type="date" class="form-control" data-ng-model="turma.data_fim" id="data-fim" placeholder="Insira a data de encerramento">
              </div>

              <div class="form-group">                
                <button type="submit" class="custom-button-sm">Cadastrar</button>                
              </div>
            </form>
          </div>
        </div>

        <div class="col-sm-7">
          <div class="turma_lista_turmas admin_box">
            <h4>Turmas</h4>
            <form>   
              <div class="input-group">
                <!-- <label for="busca-palestra" class="control-label">Buscar Palestra</label-->                
                <input type="search" class="form-control" id="busca-turma" placeholder="Buscar turma por nome">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>                
              </div>
            </form>  
            <ul class="list-group custom-list-group list-group-box">     
              <li class="list-group-item clearfix" data-ng-repeat="turma in turmas">
                <a href="#">
                  <span class="glyphicon glyphicon-blackboard"></span>&#32;{{turma.id}} - {{turma.nome}}
                </a>
                <div class="custom-list-options">
                  <span data-ng-class="{'fa fa-unlock-alt': turma.status == 0, 'fa fa-lock': turma.status == 1}">
                  </span>             
                  <button class="btn-edit-list" data-ng-click="editarTurma(turma)" data-toggle="modal" data-target="#modal-edita-turma"><span class="fa fa-edit"></span></button>                
                  <button class="btn-remove-list" data-ng-click="editarTurma(turma)" data-toggle="modal" data-target="#modal-deleta-turma"><span class="fa fa-close"></span></button>
                </div>
              </li>              
            </ul>            
          </div>
        </div>
      </div>      
    </div>

  <!-- Modal de remoção de instruções -->
  <div class="modal fade" id="modal-deleta-turma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabelUpload">Deseja deletar {{modalData.nome}}?</h4>
        </div>          
        <div class="modal-footer">
          <div class="upload-form">
            <form data-ng-submit="atualizarTurma(modalData)">
              <div class="form-group">
                <label for="id-turma" class="control-label">ID</label>                
                <input type="text" class="form-control" id="id-turma" data-ng-model="modalData.id" disabled>               
              </div>

              <div class="form-group">
                <label for="nome" class="control-label">Turma</label>
                <input type="text" class="form-control" id="nome" data-ng-model="modalData.nome" disabled>                
              </div>

              <div class="form-group">
                <label for="data-inicio" class="control-label">Data de Início</label>                
                <input type="date" class="form-control" id="data-inicio" data-ng-model="modalData.dataIni" disabled>
              </div>

              <div class="form-group">
                <label for="data-fim" class="control-label">Data de Encerramento</label>                
                <input type="date" class="form-control" id="data-fim" data-ng-model="modalData.dataFim" disabled>
              </div>

              <div class="form-group cancel-confirm">                
                <button type="submit" class="custom-button-sm delete-confirm" data-ng-click="deletarTurma(modalData)" data-toggle="modal" data-target="#modal-confirma-remocao" data-dismiss="modal">Confirmar
                </button> 
                <button type="submit" class="custom-button-sm delete-cancel"  data-dismiss="modal">Cancelar</button>                  
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -->

  <!-- Modal de confirmação de remoção-->
    <div class="modal fade" id="modal-confirma-remocao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="fa fa-check-circle"></span>&#32;Turma removida com sucesso!                         
          </div>
        </div>
      </div>
    </div>
    <!-- -->

  <!-- Modal de edição de instruções -->
    <div class="modal fade" id="modal-edita-turma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUpload">Editar {{modalData.nome}}</h4>
          </div>          
          <div class="modal-footer">
            <div class="upload-form">
              <form data-ng-submit="atualizarTurma(modalData)">
                <div class="form-group">
                  <label for="id-turma" class="control-label">ID</label>                
                  <input type="text" class="form-control" id="id-turma" data-ng-model="modalData.id" disabled>               
                </div>

                <div class="form-group">
                  <label for="nome-turma" class="control-label">Turma</label>
                  <input type="text" class="form-control" id="nome-turma" data-ng-model="modalData.nome" placeholder="Insira o código/nome da turma">                
                </div>

                <div class="form-group">
                  <label for="data-inicio" class="control-label">Data de Início</label>                
                  <input type="date" class="form-control" id="data-inicio" data-ng-model="modalData.dataIni" placeholder="Insira a data de início">
                </div>

                <div class="form-group">
                  <label for="data-fim" class="control-label">Data de Encerramento</label>                
                  <input type="date" class="form-control" id="data-fim" data-ng-model="modalData.dataFim" placeholder="Insira a data de encerramento">
                </div>

                <div class="form-group">                
                  <button type="submit" class="custom-button-sm" data-toggle="modal" data-target="#modal-confirma-edicao" data-dismiss="modal">Atualizar</button>                
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <!-- Modal de confirmação de remoção-->
    <div class="modal fade" id="modal-confirma-edicao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="fa fa-check-circle"></span>&#32;Turma atualizada com sucesso!               
          </div>
        </div>
      </div>
    </div>
    <!-- -->
  </main>

  <script src="/view/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/view/vendor/bootstrap/dist/js/bootstrap.js"></script> 
  <script src="../js/script-admin.js"></script>  

  <!-- AngularJS Scripts -->
  <script src="/view/vendor/angular/angular.js"></script>
  <script src="/view/js/app.js"></script>
  <script src="/view/js/controller/criarTurmaCtrl.js"></script>

</body>
</html>