<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Criar Instrução</title>

  <link rel="stylesheet" href="/view/vendor/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/view/vendor/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/view/css/custom.css" />
  <link rel="stylesheet" href="/view/css/custom_admin.css"/>
</head>
<body>
  <!-- Inicio do cabecalho -->
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!--Cabeçalho-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mirage</a>
        </div>
        <!--Navegação-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span>&#32;&#32;Usuário <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/controller/logout"><span class="glyphicon glyphicon-log-out"></span>  Sair</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span>&#32;Voltar</a></li>            
          </ul>
        </div>
      </div>
      <!-- -->
    </nav>
    <!-- fim Navbar -->    
  </header>

  <main>
    <div class="container admin-padding-top">
      <div class="row">
        <div class="col-sm-5">
          <div class="admin_info admin_box">
            <h4>Palestra X em Evento Y</h4>
            <ul class="info-list">
              <li>x Intruções</li>
              <li>Lorem isum dolor sit</li>
              <li>Lorem ipsum dolor sit amet, consectetur</li>
              <li>teste</li>
            </ul>
          </div>
          <div class="instrucao_form admin_box">
            <h4>Criar nova instrução</h4>
            <form>
              <div class="form-group">
                <label for="id-instrucao" class="control-label">ID</label>                
                 <input type="text" class="form-control" id="id-instrucao" placeholder="Insira o ID da instrução">               
              </div>

              <div class="form-group">
                <label for="turma" class="control-label">Turma</label>
                <input type="text" class="form-control" id="turma" placeholder="Insira o código/nome da turma">                
              </div>

              <div class="form-group">
                <label for="data-inicio" class="control-label">Data de Início</label>                
                  <input type="date" class="form-control" id="data-inicio" placeholder="Insira a data de início">
              </div>

              <div class="form-group">
                <label for="data-fim" class="control-label">Data de Encerramento</label>                
                  <input type="date" class="form-control" id="data-fim" placeholder="Insira a data de encerramento">
              </div>

              <div class="form-group">                
                  <button type="submit" class="custom-button-sm">Cadastrar</button>                
              </div>
            </form>
          </div>
        </div>

        <div class="col-sm-7">
          <div class="instrucao_lista_instrucoes admin_box">
            <h4>Instruções</h4>
            <form>   
              <div class="input-group">
               <!-- <label for="busca-palestra" class="control-label">Buscar Palestra</label-->                
                <input type="search" class="form-control" id="busca-instrucao" placeholder="Buscar instrução por nome">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>                
              </div>
            </form>  
            <ul class="list-group custom-list-group list-group-box">     
              <li class="list-group-item clearfix">
                <a href="#"><span class="glyphicon glyphicon-blackboard"></span>&#32;123 - Turma 555</a>
                <div class="custom-list-options">
                  <span class="fa fa-lock"></span>             
                  <button class="btn-edit-list" data-toggle="modal" data-target="#modal-edita-instrucao"><span class="fa fa-edit"></span></button>                
                  <button class="btn-remove-list"><span class="fa fa-close"></span></button>
                </div>
              </li>

              <li class="list-group-item clearfix">
                <a href="#"><span class="glyphicon glyphicon-blackboard"></span>&#32;123 - Turma 555</a>
                <div class="custom-list-options">
                  <span class="fa fa-unlock-alt"></span>             
                  <button class="btn-edit-list" data-toggle="modal" data-target="#modal-edita-instrucao"><span class="fa fa-edit"></span></button>                
                  <button class="btn-remove-list"><span class="fa fa-close"></span></button>
                </div>
              </li>

              <li class="list-group-item clearfix">
                <a href="#"><span class="glyphicon glyphicon-blackboard"></span>&#32;123 - Turma 555</a>
                <div class="custom-list-options">
                  <span class="fa fa-lock"></span>             
                  <button class="btn-edit-list" data-toggle="modal" data-target="#modal-edita-instrucao"><span class="fa fa-edit"></span></button>                
                  <button class="btn-remove-list"><span class="fa fa-close"></span></button>
                </div>
              </li>

              <li class="list-group-item clearfix">
                <a href="#"><span class="glyphicon glyphicon-blackboard"></span>&#32;123 - Turma 555</a>
                <div class="custom-list-options">
                  <span class="fa fa-unlock-alt"></span>             
                  <button class="btn-edit-list" data-toggle="modal" data-target="#modal-edita-instrucao"><span class="fa fa-edit"></span></button>                
                  <button class="btn-remove-list"><span class="fa fa-close"></span></button>
                </div>
              </li>

              <li class="list-group-item clearfix">
                <a href="#"><span class="glyphicon glyphicon-blackboard"></span>&#32;123 - Turma 555</a>
                <div class="custom-list-options">
                  <span class="fa fa-lock"></span>             
                  <button class="btn-edit-list" data-toggle="modal" data-target="#modal-edita-instrucao"><span class="fa fa-edit"></span></button>                
                  <button class="btn-remove-list"><span class="fa fa-close"></span></button>
                </div>
              </li>

              <li class="list-group-item clearfix">
                <a href="#"><span class="glyphicon glyphicon-blackboard"></span>&#32;123 - Turma 555</a>
                <div class="custom-list-options">
                  <span class="fa fa-unlock-alt"></span>             
                  <button class="btn-edit-list" data-toggle="modal" data-target="#modal-edita-instrucao"><span class="fa fa-edit"></span></button>                
                  <button class="btn-remove-list"><span class="fa fa-close"></span></button>
                </div>
              </li>   
            </ul>            
          </div>
        </div>
      </div>      
    </div>

     <!-- Modal de edição de instruções -->
    <div class="modal fade" id="modal-edita-instrucao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUpload">Editar Instrucao X</h4>
          </div>          
          <div class="modal-footer">
            <div class="upload-form">
              <form>
                <div class="form-group">
                <label for="id-instrucao" class="control-label">ID</label>                
                 <input type="text" class="form-control" id="id-instrucao" placeholder="Insira o ID da instrução">               
              </div>

              <div class="form-group">
                <label for="turma" class="control-label">Turma</label>
                <input type="text" class="form-control" id="turma" placeholder="Insira o código/nome da turma">                
              </div>

              <div class="form-group">
                <label for="data-inicio" class="control-label">Data de Início</label>                
                  <input type="date" class="form-control" id="data-inicio" placeholder="Insira a data de início">
              </div>

              <div class="form-group">
                <label for="data-fim" class="control-label">Data de Encerramento</label>                
                  <input type="date" class="form-control" id="data-fim" placeholder="Insira a data de encerramento">
              </div>

              <div class="form-group">                
                  <button type="submit" class="custom-button-sm">Atualizar</button>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->
  </main>

  <script src="/view/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/view/vendor/bootstrap/dist/js/bootstrap.js"></script> 
  <script src="../js/script-admin.js"></script>  
</body>
</html>