<!DOCTYPE html>
<html data-ng-app="BossEdu">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>evento x</title>

  <link rel="stylesheet" href="/view/vendor/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/view/vendor/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/view/css/custom.css" />
  <link rel="stylesheet" href="/view/css/custom_admin.css"/>
</head>
<body data-ng-controller="eventoCtrl">
  <!-- Inicio do cabecalho -->
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!--Cabeçalho-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mirage</a>
        </div>
        <!--Navegação-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span>&#32;&#32;Usuário <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/controller/logout"><span class="glyphicon glyphicon-log-out"></span>  Sair</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span>&#32;Voltar para Eventos</a></li>           
          </ul>
        </div>
      </div>
      <!-- -->
    </nav>
    <!-- fim Navbar -->    
  </header>

  <main>
    <div class="container admin-padding-top">
      <div class="row">
        <div class="col-sm-5">
          <div class="admin_info admin_box">
            <h4>Info</h4>
            <ul>
              <li><h6>Código:</h6><p>{{evento.codigo}}</p></li>
              <li><h6>Nome:</h6><p>{{evento.nome}}</p></li>
              <li><h6>Carga horária:</h6><p>{{evento.carga}} horas</p></li>
            </ul>            
          </div>
          <div class="evento_evento_palestras admin_box">
            <h4>Palestras de Evento X</h4>
            <button type="button" data-toggle="modal" data-target="#modal-cadastro-palestra" class="custom-button-sm">Criar nova palestra</button> 
            <ul class="list-group custom-list-group list-group-box">     
              <li class="list-group-item clearfix" data-ng-repeat="palestra in palestrasInEvento">
                <a href="#"><span class="fa fa-book"></span>&#32;{{palestra.nome}}</a>
                <div class="custom-list-options">                                  
                  <button class="btn-remove-list" data-ng-click="confirmarRemocaoPalestra(palestra)">
                    <span class="fa fa-close"></span>
                  </button>
                </div>
              </li>                             
            </ul>            
          </div>
        </div>

        <div class="col-sm-7">
          <div class="evento_lista_palestras admin_box">
            <h4>Adicionar Nova Palestra</h4>
            <form>   
              <div class="input-group">
               <!-- <label for="busca-palestra" class="control-label">Buscar Palestra</label-->                
                <input type="search" class="form-control" id="busca-palestra" placeholder="Buscar palestra por nome">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>                
              </div>
            </form>            
            <ul class="list-group custom-list-group list-group-box">     
              <li class="list-group-item clearfix" data-ng-repeat="palestra in palestras">
                <a href="#"><span class="fa fa-book"></span>&#32;{{palestra.nome}}</a>
                <div class="custom-list-options">                                    
                  <button class="add-palestra" data-ng-click="confirmarAdicaoPalestra(palestra)"><span class="fa fa-plus"></span>&#32;Adicionar a Evento</button>
                </div>
              </li>              
            </ul>    
          </div>
        </div>
      </div>      
    </div>

    <!-- Modal de criação de nova palestra -->
    <div class="modal fade" id="modal-cadastro-palestra" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUpload">{{evento.nome}} - Cadastrar Nova Palestra</h4>
          </div>          
          <div class="modal-footer">
            <div class="upload-form">
              <form data-ng-submit="cadastrarPalestra(palestra)">
                <div class="form-group">
                  <label for="codigo-palestra" class="control-label">Código</label>                
                  <input type="text" class="form-control" id="codigo-palestra" data-ng-model="palestra.codigo" placeholder="Insira o código da palestra">          
                </div>

                <div class="form-group">
                  <label for="nome-palestra" class="control-label">Nome</label>
                  <input type="text" class="form-control" id="nome-palestra" data-ng-model="palestra.nome" placeholder="Insira o nome da palestra">              
                </div>

                <div class="form-group">
                  <label for="carga-palestra" class="control-label">Carga Horária</label>                
                  <input type="text" class="form-control" id="carga-palestra" data-ng-model="palestra.carga" placeholder="Insira a carga horária da palestra">
                </div>
                <div class="form-group">                
                    <button type="submit" class="custom-button-sm">Cadastrar</button>                
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <!-- Modal de confirmação de cadastro -->
    <div class="modal fade" id="modal-confirma-cadastro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="fa fa-check-circle"></span>&#32;Palestra cadastrada com sucesso!               
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- -->

   <!-- Modal de exclusão de palestra -->
    <div class="modal fade" id="modal-deleta-palestra" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUpload">Remover {{modalData.nome}}</h4>
          </div>          
          <div class="modal-footer">
            <div class="upload-form">
              <form>
                <div class="form-group">
                  <label for="codigo-palestra" class="control-label">Código</label>                
                  <input type="text" class="form-control" id="codigo-palestra" data-ng-model="modalData.codigo" disabled>
                </div>

                <div class="form-group">
                  <label for="nome-palestra" class="control-label">Nome</label>
                  <input type="text" class="form-control" id="nome-palestra" data-ng-model="modalData.nome" disabled>              
                </div>

                <div class="form-group">
                  <label for="carga-palestra" class="control-label">Carga Horária</label>                
                  <input type="text" class="form-control" id="carga-palestra" data-ng-model="modalData.carga" disabled>
                </div>
                <div class="form-group cancel-confirm">   
                  <button type="submit" class="custom-button-sm delete-confirm" data-ng-click="removerPalestra(modalData)">Confirmar
                  </button> 
                  <button type="submit" class="custom-button-sm delete-cancel"  data-dismiss="modal">Cancelar</button> 
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <!-- Modal de confirmação de remoção -->
    <div class="modal fade" id="modal-confirma-remocao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="fa fa-check-circle"></span>&#32;Palestra removida com sucesso!               
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- -->

  <!-- Modal de exclusão de palestra -->
    <div class="modal fade" id="modal-adiciona-palestra" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUpload">Adicionar {{modalData.nome}}</h4>
          </div>          
          <div class="modal-footer">
            <div class="upload-form">
              <form>
                <div class="form-group">
                  <label for="codigo-palestra" class="control-label">Código</label>                
                  <input type="text" class="form-control" id="codigo-palestra" data-ng-model="modalData.codigo" disabled>
                </div>

                <div class="form-group">
                  <label for="nome-palestra" class="control-label">Nome</label>
                  <input type="text" class="form-control" id="nome-palestra" data-ng-model="modalData.nome" disabled>              
                </div>

                <div class="form-group">
                  <label for="carga-palestra" class="control-label">Carga Horária</label>                
                  <input type="text" class="form-control" id="carga-palestra" data-ng-model="modalData.carga" disabled>
                </div>
                <div class="form-group cancel-confirm">   
                  <button type="submit" class="custom-button-sm delete-confirm" data-ng-click="adicionarPalestra(modalData)">Confirmar
                  </button> 
                  <button type="submit" class="custom-button-sm delete-cancel"  data-dismiss="modal">Cancelar</button> 
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <!-- Modal de confirmação de adição -->
    <div class="modal fade" id="modal-confirma-adicao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="fa fa-check-circle"></span>&#32;Palestra adicionada com sucesso!               
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- -->

  </main>

  <script src="/view/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/view/vendor/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../js/script-admin.js"></script>

  <!-- AngularJS Scripts -->
  <script src="/view/vendor/angular/angular.js"></script>
  <script src="/view/js/app.js"></script>
  <script src="/view/js/controller_test/eventoCtrl.js"></script>      
</body>
</html>