<!DOCTYPE html>
<html data-ng-app="BossEdu">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Eventos</title>

  <link rel="stylesheet" href="/view/vendor/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/view/vendor/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/view/css/custom.css" />
  <link rel="stylesheet" href="/view/css/custom_admin.css"/>
</head>
<body data-ng-controller="cadastrarEventoCtrl">
  <!-- Inicio do cabecalho -->
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!--Cabeçalho-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mirage</a>
        </div>
        <!--Navegação-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span>&#32;&#32;Usuário <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/controller/logout"><span class="glyphicon glyphicon-log-out"></span>  Sair</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#"><span class="fa fa-institution"></span>&#32;Eventos</a></li>
            <li><a href="#"><span class="fa fa-book"></span>&#32;Palestras</a></li>
            <li><a href="#"><span class="fa fa-user"></span>&#32;Usuários</a></li>
            <li><a href="#"><span class="fa fa-building"></span>&#32;Prédios</a></li>
            <li><a href="#"><span class="fa fa-clock-o"></span>&#32;Horários</a></li>
          </ul>
        </div>
      </div>
      <!-- -->
    </nav>
    <!-- fim Navbar -->    
  </header>

  <main>
    <div class="container admin-padding-top">
      <div class="row">
        <div class="col-sm-5">
          <div class="admin_info admin_box">
            <h4>Info</h4>
            <ul class="info-list">
              <li>{{eventos.length}} eventos cadastrados</li>
              <li>x eventos não possuem palestras associadas</li>
              <li>Lorem ipsum dolor sit amet, consectetur</li>
              <li>teste</li>
            </ul>
          </div>
          <div class="evento_form admin_box">
            <h4>Cadastrar novo evento</h4>
            <form data-ng-submit="cadastrarEvento(evento)">
              <div class="form-group">
                <label for="codigo-evento" class="control-label">Código</label>                
                 <input type="text" class="form-control" data-ng-model="evento.codigo" id="codigo-evento" placeholder="Insira o código do evento">                
              </div>

              <div class="form-group">
                <label for="nome-evento" class="control-label">Nome</label>
                <input type="text" class="form-control" data-ng-model="evento.nome" id="nome-evento" placeholder="Insira o nome do evento">                
              </div>

              <div class="form-group">
                <label for="carga-evento" class="control-label">Carga Horária</label>                
                  <input type="text" class="form-control" data-ng-model="evento.carga" id="carga-evento" placeholder="Insira a carga horária do evento">
              </div>

              <div class="form-group">                
                  <button type="submit" class="custom-button-sm">Cadastrar</button>                
              </div>
            </form>
          </div>
        </div>

        <div class="col-sm-7">
          <div class="eventos_lista_eventos admin_box">
            <h4>Eventos</h4>
            <form>   
              <div class="input-group">
               <!-- <label for="busca-palestra" class="control-label">Buscar Palestra</label-->                
                <input type="search" class="form-control" id="busca-evento" placeholder="Buscar evento por nome">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>                
              </div>
            </form>  
            <ul class="list-group custom-list-group list-group-box">     
              <li class="list-group-item clearfix" data-ng-repeat="evento in eventos">
                <a href="#"><span class="fa fa-institution"></span>&#32;{{evento.nome}}</a>
                <div class="custom-list-options">                  
                  <button class="btn-edit-list" data-ng-click="editarEvento(evento)">
                    <span class="fa fa-edit"></span>
                  </button>                
                  <button class="btn-remove-list" data-ng-click="confirmarRemocaoEvento(evento)">
                    <span class="fa fa-close"></span>
                  </button>
                </div>
              </li>
            </ul>            
          </div>
        </div>
      </div>      
    </div>

    <!-- Modal de edição de evento -->
    <div class="modal fade" id="modal-edita-evento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUpload">Editar {{modalData.nome}}:</h4>
          </div>          
          <div class="modal-footer">
            <div class="upload-form">
              <form>
                <div class="form-group">
                  <label for="codigo-evento" class="control-label">Código</label>                
                   <input type="text" class="form-control" id="codigo-evento" data-ng-model="modalData.codigo">              
                </div>

                <div class="form-group">
                  <label for="nome-evento" class="control-label">Nome</label>
                  <input type="text" class="form-control" id="nome-evento" data-ng-model="modalData.nome">                
                </div>

                <div class="form-group">
                  <label for="carga-evento" class="control-label">Carga Horária</label>                
                    <input type="text" class="form-control" id="carga-evento" data-ng-model="modalData.carga">
                </div>

                <div class="form-group">                
                    <button type="submit" class="custom-button-sm" data-ng-click="atualizarEvento(modalData)">Atualizar
                    </button>                
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <!-- Modal de confirmação de edição -->
    <div class="modal fade" id="modal-confirma-edicao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="fa fa-check-circle"></span>&#32;Evento atualizado com sucesso!               
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- -->

  <!-- Modal de remoção de evento -->
    <div class="modal fade" id="modal-deleta-evento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUpload">Deletar {{modalData.nome}}:</h4>
          </div>          
          <div class="modal-footer">
            <div class="upload-form">
              <form>
                <div class="form-group">
                  <label for="codigo-evento" class="control-label">Código</label>                
                   <input type="text" class="form-control" id="codigo-evento" data-ng-model="modalData.codigo" disabled>                
                </div>

                <div class="form-group">
                  <label for="nome-evento" class="control-label">Nome</label>
                  <input type="text" class="form-control" id="nome-evento" data-ng-model="modalData.nome" disabled>                
                </div>

                <div class="form-group">
                  <label for="carga-evento" class="control-label">Carga Horária</label>                
                    <input type="text" class="form-control" id="carga-evento" data-ng-model="modalData.carga" disabled>
                </div>

                <div class="form-group cancel-confirm">   
                  <button type="submit" class="custom-button-sm delete-confirm" data-ng-click="deletarEvento(modalData)">Confirmar
                  </button> 
                  <button type="submit" class="custom-button-sm delete-cancel"  data-dismiss="modal">Cancelar</button> 
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->

     <!-- Modal de confirmação de remoção -->
    <div class="modal fade" id="modal-confirma-remocao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="fa fa-check-circle"></span>&#32;Evento removido com sucesso!               
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- -->

  <!-- Modal de confirmação de cadastro -->
    <div class="modal fade" id="modal-confirma-cadastro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="fa fa-check-circle"></span>&#32;Evento cadastrado com sucesso!               
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- -->

  <script src="/view/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/view/vendor/bootstrap/dist/js/bootstrap.js"></script> 
  <script src="../js/script-admin.js"></script>

    <!-- AngularJS Scripts -->
  <script src="/view/vendor/angular/angular.js"></script>
  <script src="/view/js/app.js"></script>
  <script src="/view/js/controller_test/cadastrarEventoCtrl.js"></script>  
</body>
</html>