<!DOCTYPE html>
<html data-ng-app="BossEdu">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Horários</title>

  <link rel="stylesheet" href="/view/vendor/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/view/vendor/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/view/css/custom.css" />
  <link rel="stylesheet" href="/view/css/custom_admin.css"/>
</head>
<body data-ng-controller="cadastrarHorarioCtrl">
  <!-- Inicio do cabecalho -->
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!--Cabeçalho-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mirage</a>
        </div>
        <!--Navegação-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span>&#32;&#32;Usuário <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/controller/logout"><span class="glyphicon glyphicon-log-out"></span>  Sair</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="#"><span class="fa fa-institution"></span>&#32;Eventos</a></li>
            <li><a href="#"><span class="fa fa-book"></span>&#32;Palestras</a></li>
            <li><a href="#"><span class="fa fa-user"></span>&#32;Usuários</a></li>
            <li><a href="#"><span class="fa fa-building"></span>&#32;Prédios</a></li>
            <li class="active"><a href="#"><span class="fa fa-clock-o"></span>&#32;Horários</a></li>
          </ul>
        </div>
      </div>
      <!-- -->
    </nav>
    <!-- fim Navbar -->    
  </header>

  <main>
    <div class="container admin-padding-top">
      <div class="row">
        <div class="col-sm-5">
          <div class="admin_info admin_box">
            <h4>Info</h4>
            <ul class="info-list">
              <li>x horários cadastrados</li>
              <li>x lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet, consectetur</li>
              <li>teste</li>
            </ul>
          </div>
          <div class="horario_form admin_box">
            <h4>Cadastrar novo horário</h4>
            <form data-ng-submit="cadastrarHorario(horario)">
              <div class="form-group">
                <label for="dia-semana" class="control-label">Dia da semana</label>
                <select id="dia-semana" class="form-control" data-ng-model="horario.dia">
                  <option value="Domingo">Domingo</option>
                  <option value="Segunda">Segunda</option>
                  <option value="Terca">Terça</option>
                  <option value="Quarta">Quarta</option>
                  <option value="Quinta">Quinta</option>
                  <option value="Sexta">Sexta</option>
                  <option value="Sabado">Sábado</option> 
                </select>                
              </div>

              <div class="form-group">
                <label for="hora-inicio" class="control-label">Horário de início</label>                
                 <input type="text" class="form-control" data-ng-model="horario.inicio" id="hora-inicio" placeholder="Insira o horário de início">                
              </div>

              <div class="form-group">
                <label for="hora-fim" class="control-label">Horário de encerramento</label>                
                 <input type="text" class="form-control" data-ng-model="horario.fim" id="hora-fim" placeholder="Insira o horário de encerramento">                
              </div>                            

              <div class="form-group">                
                  <button type="submit" class="custom-button-sm">Cadastrar</button>                
              </div>
            </form>
          </div>
        </div>

        <div class="col-sm-7">
          <div class="tabela-horarios-cadastrados-box admin_box">
            <h4>Horários cadastrados</h4>
            <div class="table-responsive tabela-horarios-cadastrados">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Domingo</th>
                    <th>Segunda</th>
                    <th>Terça</th>
                    <th>Quarta</th>
                    <th>Quinta</th> 
                    <th>Sexta</th>
                    <th>Sábado</th>                       
                  </tr>
                </thead>
                <tbody>
                  <tr>                    
                    <td>
                      <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="horario in domingo">{{horario.inicio}} - {{horario.fim}} 
                          <button class="btn-remove-list" data-ng-click="confirmaDeletaHorario(horario)" data-toggle="modal" data-target="#modal-deleta-horario"><span class="fa fa-close"></span>
                          </button>
                        </li>                                                      
                      </ul>
                    </td>

                    <td>
                      <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="horario in segunda">{{horario.inicio}} - {{horario.fim}} 
                          <button class="btn-remove-list" data-ng-click="confirmaDeletaHorario(horario)" data-toggle="modal" data-target="#modal-deleta-horario"><span class="fa fa-close"></span>
                          </button>
                        </li>                                                           
                      </ul>
                    </td> 
                    <td>
                      <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="horario in terca">{{horario.inicio}} - {{horario.fim}}
                          <button class="btn-remove-list" data-ng-click="confirmaDeletaHorario(horario)" data-toggle="modal" data-target="#modal-deleta-horario"><span class="fa fa-close"></span>
                          </button>
                        </li>                                                        
                      </ul>
                    </td> 
                    <td>
                      <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="horario in quarta">{{horario.inicio}} - {{horario.fim}}
                          <button class="btn-remove-list" data-ng-click="confirmaDeletaHorario(horario)" data-toggle="modal" data-target="#modal-deleta-horario"><span class="fa fa-close"></span>
                          </button>
                        </li>                                                       
                      </ul>
                    </td> 
                    <td>
                      <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="horario in quinta">{{horario.inicio}} - {{horario.fim}} 
                          <button class="btn-remove-list" data-ng-click="confirmaDeletaHorario(horario)" data-toggle="modal" data-target="#modal-deleta-horario"><span class="fa fa-close"></span>
                          </button>
                        </li>                                                  
                      </ul>
                    </td> 
                    <td>
                      <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="horario in sexta">{{horario.inicio}} - {{horario.fim}} 
                          <button class="btn-remove-list" data-ng-click="confirmaDeletaHorario(horario)" data-toggle="modal" data-target="#modal-deleta-horario"><span class="fa fa-close"></span>
                          </button>
                        </li>                                                      
                      </ul>
                    </td> 
                    <td>
                      <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="horario in sabado">{{horario.inicio}} - {{horario.fim}}
                          <button class="btn-remove-list" data-ng-click="confirmaDeletaHorario(horario)" data-toggle="modal" data-target="#modal-deleta-horario"><span class="fa fa-close"></span>
                          </button>
                        </li>                                      
                      </ul>
                    </td>
                  </tr>                                
                </tbody>
              </table>
            </div>                       
          </div>
        </div>
      </div>      
    </div>    

    <!-- Modal de remoção de horario -->
    <div class="modal fade" id="modal-deleta-horario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUpload">Deletar</h4>
          </div>          
          <div class="modal-footer">
            <div class="upload-form">
              <form data-ng-submit="deletarHorario(modalData)">
                <div class="form-group">
                  <label for="dia-semana" class="control-label">Dia da semana</label>                
                   <input type="text" class="form-control" id="dia-semana" data-ng-model="modalData.dia" disabled>              
                </div>

                <div class="form-group">
                  <label for="hora-inicio" class="control-label">Horário de início</label>                
                   <input type="text" class="form-control" data-ng-model="modalData.inicio" id="hora-inicio" disabled>               
                </div>

                <div class="form-group">
                  <label for="hora-fim" class="control-label">Horário de encerramento</label>                
                   <input type="text" class="form-control" data-ng-model="modalData.fim" id="hora-fim" disabled>                
                </div> 

                <div class="form-group cancel-confirm">   
                  <button type="submit" class="custom-button-sm delete-confirm" data-ng-click="deletarHorario(modalData)" data-toggle="modal" data-target="#modal-confirma-remocao" data-dismiss="modal">Confirmar
                  </button> 
                  <button type="submit" class="custom-button-sm delete-cancel"  data-dismiss="modal">Cancelar</button> 
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <!-- Modal de confirmação de remoção-->
    <div class="modal fade" id="modal-confirma-remocao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="fa fa-check-circle"></span>&#32;Horário removido com sucesso!               
          </div>
        </div>
      </div>
    </div>
    <!-- -->
    
  </main>

  <script src="/view/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/view/vendor/bootstrap/dist/js/bootstrap.js"></script> 
  <script src="../js/script-admin.js"></script> 

   <!-- AngularJS Scripts -->
  <script src="/view/vendor/angular/angular.js"></script>
  <script src="/view/js/app.js"></script>
  <script src="/view/js/controller/cadastrarHorarioCtrl.js"></script>
</body>
</html>