<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>palestra x</title>

  <link rel="stylesheet" href="/view/vendor/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/view/vendor/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/view/css/custom.css" />
  <link rel="stylesheet" href="/view/css/custom_admin.css"/>
</head>
<body>
  <!-- Inicio do cabecalho -->
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!--Cabeçalho-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mirage</a>
        </div>
        <!--Navegação-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span>&#32;&#32;Usuário <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/controller/logout"><span class="glyphicon glyphicon-log-out"></span>  Sair</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span>&#32;Voltar para Palestras</a></li>            
          </ul>
        </div>
      </div>
      <!-- -->
    </nav>
    <!-- fim Navbar -->    
  </header>

  <main>
    <div class="container admin-padding-top">
      <div class="row">
        <div class="col-sm-5">
          <div class="admin_info admin_box">
            <h4>Info</h4>
            <ul>
              <li><h5>Código:</h5><p>03524</p></li>
              <li><h5>Nome:</h5><p>Introdução a Sistemas Operacionais</p></li>
              <li><h5>Carga horária:</h5><p>30 horas</p></li>
            </ul>            
          </div>
          <div class="palestra_palestra_eventos admin_box">
            <h4>Associada aos Eventos:</h4>             
            <ul class="list-group custom-list-group list-group-box">     
              <li class="list-group-item clearfix">
                <a href="#"><span class="fa fa-institution"></span>&#32;Evento teste 1 asdf asdf</a>
                <div class="custom-list-options">
                  <span class="fa fa-check-circle-o"></span>                  
                  <button class="btn-remove-list"><span class="fa fa-close"></span></button>
                </div>
              </li>

              <li class="list-group-item clearfix">
                <a href="#"><span class="fa fa-institution"></span>&#32;Evento teste 1 asdf asdf</a>
                <div class="custom-list-options">
                  <span class="fa fa-circle-o"></span>                  
                  <button class="btn-remove-list"><span class="fa fa-close"></span></button>
                </div>
              </li>

              <li class="list-group-item clearfix">
                <a href="#"><span class="fa fa-institution"></span>&#32;Evento teste 1 asdf asdf</a>
                <div class="custom-list-options">
                  <span class="fa fa-check-circle-o"></span>                  
                  <button class="btn-remove-list"><span class="fa fa-close"></span></button>
                </div>
              </li>

              <li class="list-group-item clearfix">
                <a href="#"><span class="fa fa-institution"></span>&#32;Evento teste 1 asdf asdf</a>
                <div class="custom-list-options">
                  <span class="fa fa-circle-o"></span>                  
                  <button class="btn-remove-list"><span class="fa fa-close"></span></button>
                </div>
              </li>

              <li class="list-group-item clearfix">
                <a href="#"><span class="fa fa-institution"></span>&#32;Evento teste 1 asdf asdf</a>
                <div class="custom-list-options">
                  <span class="fa fa-check-circle-o"></span>                  
                  <button class="btn-remove-list"><span class="fa fa-close"></span></button>
                </div>
              </li>

              <li class="list-group-item clearfix">
                <a href="#"><span class="fa fa-institution"></span>&#32;Evento teste 1 asdf asdf</a>
                <div class="custom-list-options">
                  <span class="fa fa-circle-o"></span>                  
                  <button class="btn-remove-list"><span class="fa fa-close"></span></button>
                </div>
              </li>

              <li class="list-group-item clearfix">
                <a href="#"><span class="fa fa-institution"></span>&#32;Evento teste 1 asdf asdf</a>
                <div class="custom-list-options">
                  <span class="fa fa-check-circle-o"></span>                  
                  <button class="btn-remove-list"><span class="fa fa-close"></span></button>
                </div>
              </li>

              <li class="list-group-item clearfix">
                <a href="#"><span class="fa fa-institution"></span>&#32;Evento teste 1 asdf asdf</a>
                <div class="custom-list-options">
                  <span class="fa fa-check-circle-o"></span>                  
                  <button class="btn-remove-list"><span class="fa fa-close"></span></button>
                </div>
              </li>                
            </ul>            
          </div>
        </div>

        <div class="col-sm-7">
          <div class="palestra_lista_eventos admin_box">
            <h4>Adicionar a novo evento</h4>
            <form>   
              <div class="input-group">
               <!-- <label for="busca-palestra" class="control-label">Buscar Palestra</label-->                
                <input type="search" class="form-control" id="busca-evento" placeholder="Buscar evento por nome">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>                
              </div>
            </form>            
            <ul class="list-group custom-list-group list-group-box">     
              <li class="list-group-item clearfix">
                <a href="#"><span class="fa fa-institution"></span>&#32;Evento teste 1 asdf asdf</a>
                <div class="custom-list-options">                                    
                  <button class="add-palestra"><span class="fa fa-plus"></span>&#32;Associar Palestra</button>
                </div>
              </li>
              <li class="list-group-item added clearfix">
                <a href="#"><span class="fa fa-institution"></span>&#32;Evento teste 1 asdf asdf</a>
                <div class="custom-list-options">                                    
                  <button class="add-palestra" disabled><span class="fa fa-plus"></span>&#32;Associar Palestra</button>
                </div>
              </li> 

              <li class="list-group-item clearfix">
                <a href="#"><span class="fa fa-institution"></span>&#32;Evento teste 1 asdf asdf</a>
                <div class="custom-list-options">                                    
                  <button class="add-palestra"><span class="fa fa-plus"></span>&#32;Associar Palestra</button>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <a href="#"><span class="fa fa-institution"></span>&#32;Evento teste 1 asdf asdf</a>
                <div class="custom-list-options">                                    
                  <button class="add-palestra"><span class="fa fa-plus"></span>&#32;Associar Palestra</button>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <a href="#"><span class="fa fa-institution"></span>&#32;Evento teste 1 asdf asdf</a>
                <div class="custom-list-options">                                    
                  <button class="add-palestra"><span class="fa fa-plus"></span>&#32;Associar Palestra</button>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <a href="#"><span class="fa fa-institution"></span>&#32;Evento teste 1 asdf asdf</a>
                <div class="custom-list-options">                                    
                  <button class="add-palestra"><span class="fa fa-plus"></span>&#32;Associar Palestra</button>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <a href="#"><span class="fa fa-institution"></span>&#32;Evento teste 1 asdf asdf</a>
                <div class="custom-list-options">                                    
                  <button class="add-palestra"><span class="fa fa-plus"></span>&#32;Associar Palestra</button>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <a href="#"><span class="fa fa-institution"></span>&#32;Evento teste 1 asdf asdf</a>
                <div class="custom-list-options">                                    
                  <button class="add-palestra"><span class="fa fa-plus"></span>&#32;Associar Palestra</button>
                </div>
              </li>
            </ul>    
          </div>
        </div>
      </div>      
    </div>
  </main>

  <script src="/view/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/view/vendor/bootstrap/dist/js/bootstrap.js"></script> 
  <script src="/view/js/scripts-admin.js"></script>
</body>
</html>