<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Usuários</title>

  <link rel="stylesheet" href="/view/vendor/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/view/vendor/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/view/css/custom.css" />
  <link rel="stylesheet" href="/view/css/custom_admin.css"/>
</head>
<body>
  <!-- Inicio do cabecalho -->
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!--Cabeçalho-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mirage</a>
        </div>
        <!--Navegação-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span>&#32;&#32;Usuário <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/controller/logout"><span class="glyphicon glyphicon-log-out"></span>  Sair</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="#"><span class="fa fa-institution"></span>&#32;Eventos</a></li>
            <li><a href="#"><span class="fa fa-book"></span>&#32;Palestras</a></li>
            <li class="active"><a href="#"><span class="fa fa-user"></span>&#32;Usuários</a></li>
            <li><a href="#"><span class="fa fa-building"></span>&#32;Prédios</a></li>
            <li><a href="#"><span class="fa fa-clock-o"></span>&#32;Horários</a></li>
          </ul>
        </div>
      </div>
      <!-- -->
    </nav>
    <!-- fim Navbar -->    
  </header>

  <main>
    <div class="container admin-padding-top">

      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
          <div class="admin_info admin_box">            
            <h4>Info</h4>                             
            <ul class="info-list">
              <li>x usuários cadastrados</li>
              <li>x usuários xxxx xxx xxx</li>              
            </ul>    
          </div>       
    
        <div class="admin_box">            
          <div class="pessoas_lista_pessoas">
            <h4>Usuários</h4>
            <div class="row">
              <div class="col-sm-offset-4 col-sm-4">
                <a href="#" class="new-user-button custom-button-sm">Criar novo usuário</a>
              </div>
            </div>
            <form>   
              <div class="input-group">
               <!-- <label for="busca-palestra" class="control-label">Buscar Palestra</label-->                
               <input type="search" class="form-control" id="busca-evento" placeholder="Buscar usuário por nome">
               <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
              </span>                
            </div>
          </form> 
          <ul class="list-group custom-list-group list-group-box">     
            <li class="list-group-item clearfix">
              <a href="#"><span class="fa fa-user"></span>&#32;Usuário x</a>
              <div class="custom-list-options">
                <button class="btn-edit-list"><span class="fa fa-edit"></span></button>                
                <button class="btn-remove-list"><span class="fa fa-close"></span></button>
              </div>
            </li>

            <li class="list-group-item clearfix">
              <a href="#"><span class="fa fa-user"></span>&#32;Usuário x</a>
              <div class="custom-list-options">
                <button class="btn-edit-list"><span class="fa fa-edit"></span></button>                
                <button class="btn-remove-list"><span class="fa fa-close"></span></button>
              </div>
            </li>

            <li class="list-group-item clearfix">
              <a href="#"><span class="fa fa-user"></span>&#32;Usuário x</a>
              <div class="custom-list-options">
                <button class="btn-edit-list"><span class="fa fa-edit"></span></button>                
                <button class="btn-remove-list"><span class="fa fa-close"></span></button>
              </div>
            </li>

            <li class="list-group-item clearfix">
              <a href="#"><span class="fa fa-user"></span>&#32;Usuário x</a>
              <div class="custom-list-options">
                <button class="btn-edit-list"><span class="fa fa-edit"></span></button>                
                <button class="btn-remove-list"><span class="fa fa-close"></span></button>
              </div>
            </li>

            <li class="list-group-item clearfix">
              <a href="#"><span class="fa fa-user"></span>&#32;Usuário x</a>
              <div class="custom-list-options">
                <button class="btn-edit-list"><span class="fa fa-edit"></span></button>                
                <button class="btn-remove-list"><span class="fa fa-close"></span></button>
              </div>
            </li>
          </ul> 
        </div>
      </div>        
    </div>     
  </main>

  <script src="/view/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/view/vendor/bootstrap/dist/js/bootstrap.js"></script> 
</body>
</html>