<!DOCTYPE html>
<html data-ng-app="BossEdu">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Usuários</title>

  <link rel="stylesheet" href="/view/vendor/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/view/vendor/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/view/css/custom.css" />
  <link rel="stylesheet" href="/view/css/custom_admin.css"/>
</head>
<body data-ng-controller="usuariosCtrl">
  <!-- Inicio do cabecalho -->
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!--Cabeçalho-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mirage</a>
        </div>
        <!--Navegação-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span>&#32;&#32;Usuário <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/controller/logout"><span class="glyphicon glyphicon-log-out"></span>  Sair</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="#"><span class="fa fa-institution"></span>&#32;Eventos</a></li>
            <li><a href="#"><span class="fa fa-book"></span>&#32;Palestras</a></li>
            <li class="active"><a href="#"><span class="fa fa-user"></span>&#32;Usuários</a></li>
            <li><a href="#"><span class="fa fa-building"></span>&#32;Prédios</a></li>
            <li><a href="#"><span class="fa fa-clock-o"></span>&#32;Horários</a></li>
          </ul>
        </div>
      </div>
      <!-- -->
    </nav>
    <!-- fim Navbar -->    
  </header>

  <main>
    <div class="container admin-padding-top">
      <div class="row">
        <div class="col-sm-12 col-md-2">         
          <a href="#" class="new-user-button custom-button-sm">
            <span class="fa fa-user-plus"></span>&#32;Criar novo usuário
          </a>
          <div class="pessoas_info admin_info admin_box">            
            <h4>Info</h4>                             
            <ul class="info-list">
              <li>{{usuarios.length}} usuários cadastrados</li>
              <li>x usuários xxxx xxx xxx</li> 
              <li>x usuários xxxx xxx xxx</li>             
            </ul> 
          </div>  
        </div>   

        <div class="col-sm-6 col-md-5">    
          <div class="pessoas_lista_pessoas admin_box"> 
            <h4>Alunos</h4>              
            <form>   
                <div class="input-group">                                
                 <input type="search" class="form-control" id="busca-aluno" placeholder="Buscar usuário por nome">
                 <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>                
              </div>
            </form> 
            <ul class="list-group custom-list-group list-group-box">     
              <li class="list-group-item clearfix" data-ng-repeat="aluno in usuarios" data-ng-if="aluno.status==0">
                <a href="#"><span class="fa fa-user"></span>&#32;{{aluno.nome}}</a>
                <div class="custom-list-options">
                  <button class="btn-edit-list" data-ng-click="editarUsuario(aluno)"><span class="fa fa-edit"></span></button>
                  <button class="btn-remove-list" data-ng-click="confirmarRemocaoUsuario(aluno)"><span class="fa fa-close"></span></button>
                </div>
              </li>
            </ul> 
        </div>
      </div>

      <div class="col-sm-6 col-md-5">
        <div class="pessoas_lista_pessoas admin_box"> 
          <h4>Professores</h4>              
          <form>   
            <div class="input-group">                                
             <input type="search" class="form-control" id="busca-professor" placeholder="Buscar usuário por nome">
             <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>                
          </div>
        </form> 
        <ul class="list-group custom-list-group list-group-box">     
          <li class="list-group-item clearfix" data-ng-repeat="professor in usuarios" data-ng-if="professor.status==1">
            <a href="#"><span class="fa fa-user"></span>&#32;{{professor.nome}}</a>
            <div class="custom-list-options">
              <button class="btn-edit-list" data-ng-click="editarUsuario(professor)"><span class="fa fa-edit"></span></button>
              <button class="btn-remove-list" data-ng-click="confirmarRemocaoUsuario(professor)">
                <span class="fa fa-close"></span>
              </button>
            </div>
          </li>          
        </ul>           
        </div>
      </div>              
    </div>  

  <!-- Modal de edição de usuário -->
    <div class="modal fade" id="modal-edita-usuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUpload">Editar {{modalData.nome}}:</h4>
          </div>          
          <div class="modal-footer">
            <div class="upload-form">
               <form>              
                  <fielset>
                    <legend>Informações Pessoais</legend>
                      <div class="form-group">
                        <label for="id-pessoa" class="control-label">ID</label>                
                        <input type="text" class="form-control" id="id-pessoa" data-ng-model="modalData.id">

                        <label for="nome-pessoa" class="control-label">Nome</label>                
                        <input type="text" class="form-control" id="nome-pessoa" data-ng-model="modalData.nome">

                        <label for="cpf-pessoa" class="control-label">CPF</label>
                        <input type="text" class="form-control" id="cpf-pessoa" data-ng-model="modalData.cpf">

                        <label for="nasc-pessoa" class="control-label">Data de Nascimento</label>
                        <input type="date" class="form-control" id="nasc-pessoa" data-ng-model="modalData.data_nasc">  

                        <label for="tel-pessoa" class="control-label">Telefone</label>
                        <input type="text" class="form-control" id="tel-pessoa" data-ng-model="modalData.tel">                           
                      </div>
                  </fieldset>
                  <hr>  

                  <fieldset>
                    <legend>Endereço</legend>
                    <div class="form-group">
                      <label for="rua-pessoa" class="control-label">Rua</label>                
                      <input type="text" class="form-control" id="rua-pessoa" data-ng-model="modalData.rua">

                      <label for="numero_end-pessoa" class="control-label">Número</label>
                      <input type="text" class="form-control" id="numero_end-pessoa" data-ng-model="modalData.numero">
                    
                      <label for="bairro-pessoa" class="control-label">Bairro</label>
                      <input type="text" class="form-control" id="bairro-pessoa" data-ng-model="modalData.bairro">    
                    <div class="form-group">                      
                      <label for="pais-pessoa" class="control-label">País</label>
                      <select id="pais-pessoa" class="form-control" data-ng-model="modalData.pais">
                        <option value="pais1">País 1</option>
                        <option value="pais2">País 2</option>
                        <option value="Brasil">Brasil</option>
                      </select> 

                      <label for="estado-pessoa" class="control-label">Estado</label>
                      <select id="estado-pessoa" class="form-control" data-ng-model="modalData.estado">
                        <option value="estado1">Estado 1</option>
                        <option value="estado2">Estado 2</option>
                        <option value="São Paulo">São Paulo</option>
                      </select>
                    
                      <label for="cidade-pessoa" class="control-label">Cidade</label>
                      <select id="cidade-pessoa" class="form-control" data-ng-model="modalData.cidade">
                        <option value="pais1">País 1</option>
                        <option value="pais2">País 2</option>
                      </select>               
                    </div>
                  </fieldset>
                  <hr>      
                
                  <fieldset>
                    <legend>Dados de Usuário</legend>
                    <div class="form-group">
                      <label for="email-pessoa" class="control-label">Email</label>                
                      <input type="email" class="form-control" id="email-pessoa" data-ng-model="modalData.email">
                    </div>

                    <div class="form-group">
                      <label for="senha-pessoa" class="control-label">Senha</label>                
                      <input type="password" class="form-control" id="senha-pessoa" data-ng-model="modalData.senha">
                    </div>                   
                  </fieldset>  
                  <div class="form-group">                
                    <button type="submit" class="custom-button-sm" data-ng-click="atualizarUsuario(modalData)">Atualizar</button>                
                  </div> 
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <!-- Modal de confirmação de edição-->
    <div class="modal fade" id="modal-confirma-edicao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <span class="fa fa-check-circle"></span>&#32;Usuário atualizado com sucesso!               
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <!-- Modal de remoção de usuário -->
    <div class="modal fade" id="modal-deleta-usuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUpload">Deletar {{modalData.nome}}:</h4>
          </div>          
          <div class="modal-footer">
            <div class="upload-form">
              <form>              
                  <fielset>
                    <legend>Informações Pessoais</legend>
                      <div class="form-group">
                        <label for="id-pessoa" class="control-label">ID</label>                
                        <input type="text" class="form-control" id="id-pessoa" data-ng-model="modalData.id" disabled>

                        <label for="nome-pessoa" class="control-label">Nome</label>                
                        <input type="text" class="form-control" id="nome-pessoa" data-ng-model="modalData.nome" disabled>

                        <label for="cpf-pessoa" class="control-label">CPF</label>
                        <input type="text" class="form-control" id="cpf-pessoa" data-ng-model="modalData.cpf" disabled>

                        <label for="nasc-pessoa" class="control-label">Data de Nascimento</label>
                        <input type="date" class="form-control" id="nasc-pessoa" data-ng-model="modalData.data_nasc" disabled>  

                        <label for="tel-pessoa" class="control-label">Telefone</label>
                        <input type="text" class="form-control" id="tel-pessoa" data-ng-model="modalData.tel" disabled>
                      </div>
                  </fieldset>
                  <hr>  

                  <fieldset>
                    <legend>Endereço</legend>
                    <div class="form-group">
                      <label for="rua-pessoa" class="control-label">Rua</label>                
                      <input type="text" class="form-control" id="rua-pessoa" data-ng-model="modalData.rua" disabled>

                      <label for="numero_end-pessoa" class="control-label">Número</label>
                      <input type="text" class="form-control" id="numero_end-pessoa" data-ng-model="modalData.numero" disabled>
                    
                      <label for="bairro-pessoa" class="control-label">Bairro</label>
                      <input type="text" class="form-control" id="bairro-pessoa" data-ng-model="modalData.bairro" disabled>    
                    <div class="form-group">                      
                      <label for="pais-pessoa" class="control-label">País</label>
                      <select class="form-control" data-ng-model="modalData.pais" disabled>
                        <option value="pais1">País 1 çalksjfçl çalksdfj çlk çalskjdf</option>
                        <option value="pais2">País 2</option>
                        <option value="Brasil">Brasil</option>
                      </select> 

                      <label for="estado-pessoa" class="control-label">Estado</label>
                      <select class="form-control" data-ng-model="modalData.estado" disabled>
                        <option value="estado1">Estado 1</option>
                        <option value="estado2">Estado 2</option>
                        <option value="São Paulo">São Paulo</option>
                      </select>
                    
                      <label for="pais-pessoa" class="control-label">Cidade</label>
                      <select class="form-control" data-ng-model="modalData.cidade" disabled>
                        <option value="pais1">País 1</option>
                        <option value="pais2">País 2</option>
                      </select>               
                    </div>
                  </fieldset>
                  <hr>      
                
                  <fieldset>
                    <legend>Dados de Usuário</legend>
                    <div class="form-group">
                      <label for="email-pessoa" class="control-label">Email</label>                
                      <input type="email" class="form-control" id="email-pessoa" data-ng-model="modalData.email" disabled>
                    </div>

                    <div class="form-group">
                      <label for="senha-pessoa" class="control-label">Senha</label>                
                      <input type="password" class="form-control" id="senha-pessoa" data-ng-model="modalData.senha" disabled>
                    </div>                   
                  </fieldset>                 

                  <div class="form-group cancel-confirm">   
                    <button type="submit" class="custom-button-sm delete-confirm" data-ng-click="deletarUsuario(modalData)">Confirmar
                    </button> 
                    <button type="submit" class="custom-button-sm delete-cancel"  data-dismiss="modal">Cancelar</button> 
                </div> 
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <!-- Modal de confirmação de remoção-->
    <div class="modal fade" id="modal-confirma-remocao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <span class="fa fa-check-circle"></span>&#32;Usuário removido com sucesso!               
          </div>
        </div>
      </div>
    </div>
    <!-- -->

  </main>

  <script src="/view/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/view/vendor/bootstrap/dist/js/bootstrap.js"></script> 
  <script src="../js/script-admin.js"></script>

  <!-- AngularJS Scripts -->
  <script src="/view/vendor/angular/angular.js"></script>
  <script src="/view/js/app.js"></script>
  <script src="/view/js/controller_test/usuariosCtrl.js"></script>
</body>
</html>