<!DOCTYPE html>
<html data-ng-app="BossEdu">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Prédio X</title>

  <link rel="stylesheet" href="/view/vendor/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/view/vendor/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/view/css/custom.css" />
  <link rel="stylesheet" href="/view/css/custom_admin.css"/>
</head>
<body data-ng-controller="criarSalaCtrl">
  <!-- Inicio do cabecalho -->
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!--Cabeçalho-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mirage</a>
        </div>
        <!--Navegação-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span>&#32;&#32;Usuário <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/controller/logout"><span class="glyphicon glyphicon-log-out"></span>  Sair</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span>&#32;Voltar para Prédios</a></li>            
          </ul>
        </div>
      </div>
      <!-- -->
    </nav>
    <!-- fim Navbar -->    
  </header>

  <!-- Conteúdo Principal -->
  <main>
    <div class="container admin-padding-top">
      <div class="row">
        <div class="col-sm-5">
          <div class="admin_info admin_box">
            <h4>Prédio X</h4>
            <ul class="info-list">
              <li>{{salas.length}} salas cadastradas</li>
              <li>Lorem isum dolor sit</li>
              <li>Lorem ipsum dolor sit amet, consectetur</li>
              <li>teste</li>
            </ul>
          </div>
          <div class="sala_form admin_box">
            <h4>Criar nova sala</h4>
            <form data-ng-submit="criarSala(sala)">
              <div class="form-group">
                <label for="numero" class="control-label">Número</label>
                <input type="text" class="form-control" data-ng-model="sala.numero" id="numero" placeholder="Insira o número da sala">
              </div>

              <div class="form-group">
                <label for="tipo" class="control-label">Tipo de Sala</label>                
                <input type="text" class="form-control" data-ng-model="sala.tipo" id="tipo" placeholder="Insira o tipo da sala">
              </div>

              <div class="form-group">
                <label for="capacidade" class="control-label">Capacidade</label>                
                <input type="number" class="form-control" data-ng-model="sala.capacidade" id="capacidade" placeholder="Insira a capacidade da sala">
              </div>

              <div class="form-group">                
                <button type="submit" class="custom-button-sm">Cadastrar</button>                
              </div>
            </form>
          </div>
        </div>

        <div class="col-sm-7">
          <div class="predio_lista_salas admin_box">
            <h4>Salas</h4>
            <form>   
              <div class="input-group">
                <!-- <label for="busca-palestra" class="control-label">Buscar Palestra</label-->                
                <input type="search" class="form-control" id="busca-turma" placeholder="Buscar sala por número">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>                
              </div>
            </form>  
            <ul class="list-group custom-list-group list-group-box">     
              <li class="list-group-item clearfix" data-ng-repeat="sala in salas">
                <a href="#">
                  <span class="glyphicon glyphicon-blackboard"></span>&#32;Sala {{sala.numero}}
                </a>
                <div class="custom-list-options">
                  <span data-ng-class="{'fa fa-circle-o': sala.status == 0, 'fa fa-circle': sala.status == 1}">
                  </span>             
                  <button class="btn-edit-list" data-ng-click="editarSala(sala)"><span class="fa fa-edit"></span></button>
                  <button class="btn-remove-list" data-ng-click="confirmarRemocaoSala(sala)"><span class="fa fa-close"></span></button>
                </div>
              </li>              
            </ul>            
          </div>
        </div>
      </div>      
    </div>

  <!-- Modal de remoção de salas -->
  <div class="modal fade" id="modal-deleta-sala" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabelUpload">Deseja deletar Sala {{modalData.numero}}?</h4>
        </div>          
        <div class="modal-footer">
          <div class="upload-form">
            <form>  
              <div class="form-group">
                <label for="numero" class="control-label">Número</label>
                <input type="text" class="form-control" data-ng-model="modalData.numero" id="numero" disabled>
              </div>

              <div class="form-group">
                <label for="tipo" class="control-label">Tipo de Sala</label>                
                <input type="text" class="form-control" data-ng-model="modalData.tipo" id="tipo" disabled>
              </div>

              <div class="form-group">
                <label for="capacidade" class="control-label">Capacidade</label>                
                <input type="number" class="form-control" data-ng-model="modalData.capacidade" id="capacidade" disabled>
              </div>              

              <div class="form-group cancel-confirm">                
                <button type="submit" class="custom-button-sm delete-confirm" data-ng-click="deletarSala(modalData)">Confirmar
                </button> 
                <button type="submit" class="custom-button-sm delete-cancel"  data-dismiss="modal">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -->

  <!-- Modal de confirmação de remoção-->
    <div class="modal fade" id="modal-confirma-remocao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="fa fa-check-circle"></span>&#32;Sala removida com sucesso!                         
          </div>
        </div>
      </div>
    </div>
  <!-- -->

  <!-- Modal de edição de salas -->
  <div class="modal fade" id="modal-edita-sala" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabelUpload">Editar Sala {{modalData.numero}}?</h4>
        </div>          
        <div class="modal-footer">
          <div class="upload-form">
            <form>  
              <div class="form-group">
                <label for="numero" class="control-label">Número</label>
                <input type="text" class="form-control" data-ng-model="modalData.numero" id="numero">
              </div>

              <div class="form-group">
                <label for="tipo" class="control-label">Tipo de Sala</label>                
                <input type="text" class="form-control" data-ng-model="modalData.tipo" id="tipo">
              </div>

              <div class="form-group">
                <label for="capacidade" class="control-label">Capacidade</label>                
                <input type="number" class="form-control" data-ng-model="modalData.capacidade" id="capacidade">
              </div>
              
              <div class="form-group">                
                  <button type="submit" class="custom-button-sm" data-ng-click="atualizarSala(modalData)">Atualizar</button>                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- -->

    <!-- Modal de confirmação de edição-->
    <div class="modal fade" id="modal-confirma-edicao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <span class="fa fa-check-circle"></span>&#32;Sala atualizada com sucesso!               
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <!-- Modal de confirmação de cadastro-->
    <div class="modal fade" id="modal-confirma-cadastro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <span class="fa fa-check-circle"></span>&#32;Sala cadastrada com sucesso!               
          </div>
        </div>
      </div>
    </div>
    <!-- -->
  </main>

  <script src="/view/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/view/vendor/bootstrap/dist/js/bootstrap.js"></script> 
  <script src="../js/script-admin.js"></script>  

  <!-- AngularJS Scripts -->
  <script src="/view/vendor/angular/angular.js"></script>
  <script src="/view/js/app.js"></script>
  <script src="/view/js/controller_test/criarSalaCtrl.js"></script>

</body>
</html>