<!DOCTYPE html>
<html data-ng-app="BossEdu">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Sala X</title>

  <link rel="stylesheet" href="/view/vendor/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/view/vendor/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/view/css/custom.css" />
  <link rel="stylesheet" href="/view/css/custom_admin.css"/>
</head>
<body data-ng-controller="cadastrarDisponibilidadeCtrl">
  <!-- Inicio do cabecalho -->
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!--Cabeçalho-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mirage</a>
        </div>
        <!--Navegação-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span>&#32;&#32;Usuário <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/controller/logout"><span class="glyphicon glyphicon-log-out"></span>  Sair</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span>&#32;Voltar</a></li>            
          </ul>
        </div>
      </div>
      <!-- -->
    </nav>
    <!-- fim Navbar -->    
  </header>

  <main>
    <div class="container admin-padding-top">
      <div class="row">
        <div class="col-sm-5">
          <div class="sala_info admin_info admin_box">
            <h4>Info</h4>
            <ul>
              <li><h6>Prédio:</h6><p>PRE001</p></li>
              <li><h6>Número da Sala:</h6><p>172</p></li>
              <li><h6>Tipo:</h6><p>Aulas Teóricas</p></li>
              <li><h6>Capacidade:</h6><p>100 alunos</p></li>                           
            </ul>           
          </div> 
        
          <div class="disponibilidade-box admin_box">
            <h4>Disponibilidade</h4>
            <div class="table-responsive disponibilidade-horarios">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Dia da Semana</th>
                    <th>Hora - Início</th>
                    <th>Hora - Fim</th>
                    <th>Data - Início</th>
                    <th>Data - Fim</th> 
                    <th></th>                       
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="horario in horarios_disp">                    
                    <td>{{horario.dia}}</td>
                    <td>{{horario.inicio}}</td>
                    <td>{{horario.fim}}</td>
                    <td>{{horario.data_ini}}</td>
                    <td>{{horario.data_fim}}</td>
                    <td>
                      <button class="btn-remove-list" data-ng-click="confirmaRemoverHorarioDisp(horario)"  data-toggle="modal" data-target="#modal-remove-horarioDisp">
                        <span class="fa fa-close"></span>
                      </button>
                    </td>
                  </tr>                       
                </tbody>
              </table>
            </div>
          </div>
        </div>        
      
        <div class="col-sm-7">
          <div class="tabela-horarios-disponiveis-box admin_box">
            <h4>Horários disponíveis</h4>
            <div class="table-responsive tabela-horarios-disponiveis">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Domingo</th>
                    <th>Segunda</th>
                    <th>Terça</th>
                    <th>Quarta</th>
                    <th>Quinta</th> 
                    <th>Sexta</th>
                    <th>Sábado</th>                       
                  </tr>
                </thead>
                <tbody>
                  <tr>                    
                    <td>
                      <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="horario in domingo">{{horario.inicio}} - {{horario.fim}} 
                          <button class="btn-remove-list" data-ng-click="confirmaAdicionarHorario(horario)" data-toggle="modal" data-target="#modal-adiciona-horario">
                            <span class="fa fa-plus-square"></span>
                          </button>
                        </li>                                                           
                      </ul>
                    </td>
                    <td>
                      <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="horario in segunda">{{horario.inicio}} - {{horario.fim}} 
                          <button class="btn-remove-list" data-ng-click="confirmaAdicionarHorario(horario)" data-toggle="modal" data-target="#modal-adiciona-horario">
                            <span class="fa fa-plus-square"></span>
                          </button>
                        </li>                                                           
                      </ul>
                    </td>
                    <td>
                      <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="horario in terca">{{horario.inicio}} - {{horario.fim}} 
                          <button class="btn-remove-list" data-ng-click="confirmaAdicionarHorario(horario)" data-toggle="modal" data-target="#modal-adiciona-horario">
                            <span class="fa fa-plus-square"></span>
                          </button>
                        </li>                                                           
                      </ul>
                    </td>
                    <td>
                      <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="horario in quarta">{{horario.inicio}} - {{horario.fim}} 
                          <button class="btn-remove-list" data-ng-click="confirmaAdicionarHorario(horario)" data-toggle="modal" data-target="#modal-adiciona-horario">
                            <span class="fa fa-plus-square"></span>
                          </button>
                        </li>                                                           
                      </ul>
                    </td>
                    <td>
                      <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="horario in quinta">{{horario.inicio}} - {{horario.fim}} 
                          <button class="btn-remove-list" data-ng-click="confirmaAdicionarHorario(horario)" data-toggle="modal" data-target="#modal-adiciona-horario">
                            <span class="fa fa-plus-square"></span>
                          </button>
                        </li>                                                           
                      </ul>
                    </td>
                    <td>
                      <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="horario in sexta">{{horario.inicio}} - {{horario.fim}} 
                          <button class="btn-remove-list" data-ng-click="confirmaAdicionarHorario(horario)" data-toggle="modal" data-target="#modal-adiciona-horario">
                            <span class="fa fa-plus-square"></span>
                          </button>
                        </li>                                                           
                      </ul>
                    </td>
                    <td>
                      <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="horario in sabado">{{horario.inicio}} - {{horario.fim}} 
                          <button class="btn-remove-list" data-ng-click="confirmaAdicionarHorario(horario)" data-toggle="modal" data-target="#modal-adiciona-horario">
                            <span class="fa fa-plus-square"></span>
                          </button>
                        </li>                                                           
                      </ul>
                    </td>                    
                  </tr>                                
                </tbody>
              </table>
            </div>                       
          </div>         
        </div>       
      </div>     
    </div>   

    <!-- Modal de remoção de disponibilidade -->
    <div class="modal fade" id="modal-remove-horarioDisp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUpload">Remover disponibilidade</h4>
          </div>          
          <div class="modal-footer">
            <div class="upload-form">
              <form data-ng-submit="removerHorarioDisp(modalData)">  
                <div class="form-group">
                  <label for="dia-semana" class="control-label">Dia da semana</label>
                  <input type="text" class="form-control" data-ng-model="modalData.dia" id="dia-semana" disabled>
                </div>

                <div class="form-group">
                  <label for="hora-inicio" class="control-label">Horário de início</label>                
                  <input type="text" class="form-control" data-ng-model="modalData.inicio" id="hora-inicio" disabled>
                </div>

                <div class="form-group">
                  <label for="hora-fim" class="control-label">Horário de encerramento</label>                
                  <input type="text" class="form-control" data-ng-model="modalData.fim" id="hora-fim" disabled>
                </div>

                <div class="form-group">
                  <label for="data-ini" class="control-label">Data de Início</label>                
                  <input type="text" class="form-control" data-ng-model="modalData.data_ini" id="data-ini" disabled>
                </div>

                <div class="form-group">
                  <label for="data-fim" class="control-label">Data de Encerramento</label>                
                  <input type="text" class="form-control" data-ng-model="modalData.data_fim" id="data-fim" disabled>
                </div>                           

                <div class="form-group cancel-confirm">                
                  <button type="submit" class="custom-button-sm delete-confirm" data-ng-click="removerHorarioDisp(modalData)" data-toggle="modal" data-target="#modal-confirma-remocao" data-dismiss="modal">Confirmar
                  </button> 
                  <button type="submit" class="custom-button-sm delete-cancel"  data-dismiss="modal">Cancelar</button>                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <!-- Modal de confirmação de remoção-->
    <div class="modal fade" id="modal-confirma-remocao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="fa fa-check-circle"></span>&#32;Horário removido com sucesso!               
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <!-- Modal de adição de horario -->
    <div class="modal fade" id="modal-adiciona-horario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUpload">Adicionar disponibilidade</h4>
          </div>          
          <div class="modal-footer">
            <div class="upload-form">
              <form data-ng-submit="adicionarHorario(modalData)">  
                <div class="form-group">
                  <label for="dia-semana" class="control-label">Dia da semana</label>
                  <input type="text" class="form-control" data-ng-model="modalData.dia" id="dia-semana" disabled>
                </div>

                <div class="form-group">
                  <label for="hora-inicio" class="control-label">Horário de início</label>                
                  <input type="text" class="form-control" data-ng-model="modalData.inicio" id="hora-inicio" disabled>
                </div>

                <div class="form-group">
                  <label for="hora-fim" class="control-label">Horário de encerramento</label>                
                  <input type="text" class="form-control" data-ng-model="modalData.fim" id="hora-fim" disabled>
                </div>

                <div class="form-group">
                  <label for="data-ini" class="control-label">Data de Início</label>                
                  <input type="text" class="form-control" data-ng-model="modalData.data_ini" id="data-ini" placeholder="Insira a data de início" required>
                </div>

                <div class="form-group">
                  <label for="data-fim" class="control-label">Data de Encerramento</label>                
                  <input type="text" class="form-control" data-ng-model="modalData.data_fim" id="data-fim" placeholder="Insira a data de encerramento" required>
                </div>                           

                <div class="form-group cancel-confirm">                
                  <button type="submit" class="custom-button-sm delete-confirm" data-ng-click="adicionarHorario(modalData)" data-toggle="modal" data-target="#modal-confirma-adicao" data-dismiss="modal">Confirmar
                  </button> 
                  <button type="submit" class="custom-button-sm delete-cancel"  data-dismiss="modal">Cancelar</button>               
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <!-- Modal de confirmação de remoção-->
    <div class="modal fade" id="modal-confirma-adicao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="fa fa-check-circle"></span>&#32;Horário adicionado com sucesso!               
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    
  </main>

  <script src="/view/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/view/vendor/bootstrap/dist/js/bootstrap.js"></script> 
  <script src="../js/script-admin.js"></script>

  <!-- AngularJS Scripts -->
  <script src="/view/vendor/angular/angular.js"></script>
  <script src="/view/js/app.js"></script>
  <script src="/view/js/controller/cadastrarDisponibilidadeCtrl.js"></script>
</body>
</html>