doctype html
header.add-header
	oddin-header(title="Adicionar Participantes" btn-type="close" to-state-url="/admin-disciplinas-cadastradas/{{instruction.id}}" logo="false" side-bar="none")

main.add-main(ng-init="findAvailableParticipants()")
	oddin-preloader(load-var="load")
	//- Modals
	#modal-remove.modal
		.modal-content
			h4.custom-modal__header Remover Usuário
			p Tem certeza que deseja remover "{{modalParticipant.person.name}}"?
		.modal-footer
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="" ng-click="deleteEnroll(modalParticipant)") Confirmar
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="") Cancelar
	//- Main Content
	.container
		oddin-fab(trigger="/admin-disciplinas-cadastradas/{{instruction.id}}" icon="check")
		h5.main-title {{instruction.lecture.name}} - Turma {{instruction.class_code}}
		.row
			.col.l6.s12
				ul.collection.with-header.custom-list
					li.collection-header.custom-list__header
						h2 Usuários Disponíveis
					p.empty-message.add-menu.center-align(ng-if="availableUsers.length == 0") Não há usuários cadastrados no sistema
					li.collection-item.avatar.custom-list__item.one-option(ng-repeat="availableUser in availableUsers | orderBy : 'name'")
						i.material-icons.circle person
						span.title {{availableUser.name}}
						p {{availableUser.email}}
						p.list-checkbox
							input.filled-in(id="user-{{availableUser.id}}" type="checkbox" ng-model="availableUser.enrollProfile")/
							label(for="user-{{availableUser.id}}") Professor
						a.secondary-content(href="" ng-click="createEnroll(availableUser)")
							i.material-icons add_circle
			.col.l6.s12
				ul.collection.with-header.custom-list
					li.collection-header.custom-list__header
						h2 Professores Cadastrados
					p.empty-message.add-menu.center-align(ng-if="participants.length == 0") Não há usuários cadastrados nessa disciplina
					li.collection-item.avatar.custom-list__item.one-option(ng-repeat="participant in participants | orderBy: 'person.name'", ng-if="participant.profile == 1")
						i.material-icons.circle person
						span.title {{participant.person.name}}
						p {{participant.person.email}}
						a.secondary-content(href="" ng-click="modalRemove(participant)")
							i.material-icons remove_circle
				ul.collection.with-header.custom-list
					li.collection-header.custom-list__header
						h2 Alunos Matriculados
					p.empty-message.add-menu.center-align(ng-if="participants.length == 0") Não há usuários cadastrados nessa disciplina
					li.collection-item.avatar.custom-list__item.one-option(ng-repeat="participant in participants | orderBy: 'person.name'", ng-if="participant.profile == 0")
						i.material-icons.circle person
						span.title {{participant.person.name}}
						p {{participant.person.email}}
						a.secondary-content(href="" ng-click="modalRemove(participant)")
							i.material-icons remove_circle
