doctype html
header
	oddin-header(title="{{event.name}}" btn-type="back" to-state-url="/admin-cursos")
	ul#slide-out.side-nav.fixed.barra-lateral
		.barra-lateral__header
			i.barra-lateral__user-avatar.material-icons account_circle
			p.barra-lateral__user-name {{user.name}}
			p.barra-lateral__user-email {{user.email}}
		li.no-padding
			ul.collapsible(data-collapsible="expandable")
				li.barra-lateral__item
					a.barra-lateral__item--collapsible.collapsible-header.active.truncate Principal
					.collapsible-body
						ul
							li.barra-lateral__subitem
								a(ui-sref="admin-events") Cursos
							li.barra-lateral__subitem
								a(ui-sref="admin-lectures") Disciplinas
							li.barra-lateral__subitem
								a(ui-sref="admin-users") Usuarios
		li.no-padding.barra-lateral__item(ng-controller="LoginController")
			a(href="" ng-click="logout()") Logout

main
	oddin-preloader(load-var="load" side-bar="true")
	//- Modals
	#modal-remove.modal
		.modal-content
			h4.custom-modal__header Remover Disciplina
			p Tem certeza que deseja remover "{{modalInstruction.lecture.name}}"?
		.modal-footer
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="" ng-click="deleteInstruction(modalInstruction)") Confirmar
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="") Cancelar
	//- Main Content
	.container
		oddin-fab(trigger="/add-instructions/{{event.id}}" icon="add")
		.card.custom-card
			.card-content
				.custom-card__header
					span.title.info-title Informações do curso
				.custom-card__content
					ul.info
						li
							span Nome:
							p {{event.name}}
						li
							span Código:
							p {{event.code}}
						li
							span Carga Horária:
							p {{event.workload}}
		p.empty-message.center-align(ng-if="instructions.length == 0") Nenhuma disciplina foi adicionada a este curso
		ul.collection.with-header.custom-list(ng-if="instructions.length > 0")
			li.collection-header.custom-list__header
				h2 Disciplinas do curso
			li.collection-item.avatar.custom-list__item.one-option(ng-repeat="instruction in instructions | orderBy : 'season' : true")
				i.material-icons.circle book
				a(ui-sref="admin-instruction-show({instructionID: instruction.id})")
					span.title {{instruction.lecture.name}}
					p {{instruction.class_code}}
						br
						| {{instruction.season}}
				a.secondary-content(href="" ng-click="modalRemove(instruction)")
					i.material-icons remove_circle
