doctype html
header
	oddin-header(title="{{instruction.lecture.name}}" btn-type="back" to-state-url="/admin-cursos/{{instruction.event.id}}")
	ul#slide-out.side-nav.fixed.barra-lateral
		.barra-lateral__header
			i.barra-lateral__user-avatar.material-icons account_circle
			p.barra-lateral__user-name {{user.name}}
			p.barra-lateral__user-email {{user.email}}
		li.no-padding
			ul.collapsible(data-collapsible="expandable")
				li.barra-lateral__item
					a.barra-lateral__item--collapsible.collapsible-header.active.truncate Principal
					.collapsible-body
						ul
							li.barra-lateral__subitem
								a(ui-sref="admin-events") Cursos
							li.barra-lateral__subitem
								a(ui-sref="admin-lectures") Disciplinas
							li.barra-lateral__subitem
								a(ui-sref="admin-users") Usuarios
		li.no-padding.barra-lateral__item
			a.truncate(ui-sref="admin-event-show({eventID: instruction.event.id})") {{instruction.event.name}}
		li.no-padding.barra-lateral__item(ng-controller="LoginController")
			a(href="" ng-click="logout()") Logout

main(ng-init="findParticipants()")
	oddin-preloader(load-var="load" side-bar="true")
	//- Modals
	#modal-remove.modal
		.modal-content
			h4.custom-modal__header Remover Usuário
			p Tem certeza que deseja remover "{{modalParticipant.person.name}}"?
		.modal-footer
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="" ng-click="deleteEnroll(modalParticipant)") Confirmar
			a.modal-action.modal-close.waves-effect.btn-flat.custom-modal__button(href="") Cancelar
	//- Main Content
	.container
		oddin-fab(trigger="/add-participants/{{instruction.id}}" icon="add")
		.card.custom-card
			.card-content
				.custom-card__header
					span.title.info-title Informações da disciplina
				.custom-card__content
					ul.info
						li
							span Nome:
							p {{instruction.lecture.name}}
						li
							span Turma:
							p {{instruction.class_code}}
						li
							span Código:
							p {{instruction.lecture.code}}
						li
							span Carga Horária:
							p {{instruction.lecture.workload}}
		p.empty-message.center-align(ng-if="participants.length == 0") Nenhum participante foi adicionado a esta disciplina
		div(ng-if="participants.length > 0")
			ul.collection.with-header.custom-list
				li.collection-header.custom-list__header
					h2 Professor da disciplina
				li.collection-item.avatar.custom-list__item.one-option(ng-repeat="participant in participants | orderBy: 'person.name'" ng-if="participant.profile == 1")
					i.material-icons.circle person
					span.title {{participant.person.name}}
					p {{participant.person.email}}
					a.secondary-content(href="" ng-click="modalRemove(participant)")
						i.material-icons remove_circle
			ul.collection.with-header.custom-list
				li.collection-header.custom-list__header
					h2 Alunos da disciplina
				li.collection-item.avatar.custom-list__item.one-option(ng-repeat="participant in participants | orderBy: 'person.name'" ng-if="participant.profile == 0")
					i.material-icons.circle person
					span.title {{participant.person.name}}
					p {{participant.person.email}}
					a.secondary-content(href="" ng-click="modalRemove(participant)")
						i.material-icons remove_circle
