<!DOCTYPE html>
<html data-ng-app="BossEdu" data-ng-controller="presentationCtrl" data-ng-init="getPresentation()">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Aula - {{presentation.lecture.code}}</title>

  <link rel="stylesheet" href="/view/vendor/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/view/vendor/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/view/vendor/slick-carousel/slick/slick.css" />
  <link rel="stylesheet" href="/view/vendor/slick-carousel/slick/slick-theme.css" />
  <link rel="stylesheet" href="/view/css/custom.css" />
</head>
<body data-ng-cloak="true">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mirage</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span>  Usuário <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/controller/logout"><span class="glyphicon glyphicon-log-out"></span>  Sair</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="/app/instruction"><span class="glyphicon glyphicon-chevron-left"></span>Disciplinas</a></li>
            <li><a href="../historic">Histórico</a></li>
            <li><a href="../material">Material</a></li>
            <li><a href="../participants">Participantes</a></li>
            <li><a href="#" data-toggle="modal" data-target="#modal-uploads"><span class="glyphicon glyphicon-upload">
              </span>&#32;Uploads</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--Título Página-->
    <div class="page-header container">
      <h1>{{presentation.subject}}</h1>
    </div>
  </header>

  <main>
    <div class="container">
      <slick init-onload="true" data="doubts" slides-to-show=3 slides-to-scroll=3>
        <div class="item" data-ng-repeat="doubt in doubts">
          <div class="doubt">
            <div class="doubt__header">
              <h4 class="doubt__pessoa">{{doubt.person.name}}</h4>
              <h4 class="doubt__time">{{doubt.date}} {{doubt.time}}</h4>
            </div>
            <div class="ranking">
              <span class="status-duvida-prof"><span class="badge">{{doubt.likes}}</span><span>&#32;</span><span class="glyphicon glyphicon-thumbs-up"></span></span>
              <span class="status-duvida-prof"><span class="badge">{{doubt.likes}}</span><span>&#32;</span><span class="glyphicon glyphicon glyphicon-check btn-entendi"></span></span>
              <span class="status-duvida-prof"><span class="glyphicon glyphicon-lock btn-resp-fechada"></span></span>
            </div>
            <div class="doubt__content">
              <div class="doubt__textbox">
                <p class="more">{{doubt.text}}
                </p>
              </div>
            </div>
            <div class="btn-options-prof">
              <button data-ng-click="seeDoubt(doubt)" class="button-standard" type="button" data-toggle="modal" data-target="#modal-duvida">Ver Dúvida</button>
              <button class="button-standard" type="button">Fechar Resposta</button>
            </div>
          </div>
        </div>
      </slick>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-duvida" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{modal.doubt.person.name}}</h4>
          </div>
          <div class="modal-body">
            <p class="modal-duvida">{{modal.doubt.text}}</p>
          </div>
          <div class="modal-footer">
            <div class="abas_respostas">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#texto" aria-controls="texto" role="tab" data-toggle="tab"><span class="fa fa-font fa-lg"></span></a></li>
                <li role="presentation"><a href="#audio" aria-controls="audio" role="tab" data-toggle="tab"><span class="fa fa-microphone fa-lg"></span></a></li>
                <li role="presentation"><a href="#video" aria-controls="video" role="tab" data-toggle="tab"><span class="fa fa-video-camera fa-lg"></span></a></li>
                <li role="presentation"><a href="#arquivo" aria-controls="arquivo" role="tab" data-toggle="tab"><span class="fa fa-paperclip fa-lg"></span></a></li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="texto">
                  <div class="section_respostas_text">
                    <div class="respostas_section respostas_prof" data-ng-repeat="answer in answers">
                      <div class="row">
                        <div class="col-md-4 col-sm-6"><h4 class="resposta__pessoa">{{answer.pessoa}}</h4></div>
                        <div class="col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-4"><h4 class="resposta__time">{{answer.date}} {{answer.time}}</h4></div>
                      </div>
                      <div class="resposta__textbox">
                        <p>
                          {{answer.text}}
                        </p>
                      </div>
                    </div>
                  </div>

                  <form class="form_responder_duvida" data-ng-submit="answerDoubt(modal.doubt, answer)">
                    <fieldset>
                      <textarea name="texto" placeholder="Insira sua resposta" data-ng-model="answer.text" class="form-control" id="textarea_resposta"></textarea>
                    </fieldset>

                    <div class="row">
                      <div class="col-sm-offset-8 col-sm-4">
                        <input type="submit" value="Responder" class="custom-button-md"/>
                      </div>
                    </div>
                  </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="audio"><p>Gravar Áudio</p></div>
                <div role="tabpanel" class="tab-pane" id="video"><p>Gravar Vídeo</p></div>
                <div role="tabpanel" class="tab-pane" id="arquivo"><p>Upload de Arquivo</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <!-- Modal Upload -->
    <div class="modal fade" id="modal-uploads" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelUpload">Upload de Arquivos - Disciplina X</h4>
          </div>
          <div class="modal-footer">
            <div class="upload-form">
              <form enctype="multipart/form-data">
                <div class="row">
                  <div class="form-group">
                    <div class="col-sm-12">
                      <label for="tema">Tema</label>
                      <input name="tema"type="text" class="form-control" id="tema" placeholder="Insira o tema do material a ser enviado"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <label for="file">Arquivos</label>
                      <input name="files[]" type="file" id="file" class="custom-file" multiple/>
                    </div>
                  </div>
                </div>
                <input type="submit" value="Upload" class="custom-button-sm"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->

  </main>
  <script src="/view/vendor/jquery/dist/jquery.js"></script>
  <script src="/view/vendor/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/view/vendor/slick-carousel/slick/slick.js"></script>

  <!-- <script src="/view/js/custom-carousel.js"></script> -->
  <script src="/view/js/ver_mais-duvida_modal.js"></script>
  <script src="/view/js/checkbox_status_resposta.js"></script>
  <script src="/view/js/utils.js"></script>
  <script type="application/javascript" src="/controller/config/app?callback=Util.setEnvironment"></script>
  <script src="/view/assets/socket.io-client/socket.io.js"></script>

  <script src="/view/vendor/angular/angular.js"></script>
  <script src="/view/vendor/angular-slick/dist/slick.js"></script>
  <script>
    var app = angular.module("BossEdu", ["slick"]);
  </script>
  <script src="/view/js/filter/orderObjectBy.js"></script>
  <script src="/view/js/controller/presentationCtrl.js"></script>
</body>
</html>
