<!DOCTYPE html>
<html data-ng-app="BossEdu">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Recuperação de Senha</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons" >
  <link rel="stylesheet" href="/view/vendor/Materialize/dist/css/materialize.min.css">
  <link rel="stylesheet" href="/view/css/build/login_style.min.css" />
  <link rel="shortcut icon" href="/view/img/oddin_favicon.png" type="image/x-icon" />
</head>
<body data-ng-controller="loginCtrl">
  <header class="login-header">
    <!--LOGO-->
    <img class="login-header__logo" src="/view/img/oddin_logo-01.png"/>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="offset-m2 offset-l3 col s12 m8 l6">
          <!--card-->
          <div class="card">
            <div class="login-box">
              <!-- Título -->
              <h1 class="login-box__title">Recuperar Senha</h1>
              <div class="row">
                <div class="login-box__alert col s12">
                  <p>Um link para recuperação de senha foi enviado para seu e-mail.</p>
                </div>
              </div>
              <button class="login-box__main-button btn waves-effect waves-light">Voltar</button>
            </div>
          </div>
          <p class="login-info">Lorem ipsum dolor sit amet &#169;</p>
        </div>
      </div>
    </div>
  </main>
  <script src="/view/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/view/vendor/Materialize/dist/js/materialize.min.js"></script>

  <script src="/view/js/utils.js"></script>
  <script type="application/javascript" src="/controller/config/app?callback=Util.setEnvironment"></script>

  <script src="/view/vendor/angular/angular.js"></script>
  <script src="/view/js/app.js"></script>
  <script src="/view/js/controller/loginCtrl.js"></script>
</body>
</html>
