<!DOCTYPE HTML>
<html data-ng-app="BossEdu" data-ng-controller="instructionCtrl" data-ng-init="getInfo()">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{instruction.name}}</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="/view/css/build/materialize_custom.min.css" />
  <link rel="stylesheet" href="/view/css/build/user_style.min.css" />
  <link rel="shortcut icon" href="/view/img/oddin_favicon.png" type="image/x-icon" />
</head>

<body data-ng-cloak="true">
  <header>
    <!--Barra de navegação superior-->
    <div class="navbar-fixed">
      <nav class="navbar-fixed barra-navegacao">
        <div class="nav-wrapper barra-navegacao__container">
          <a href="#" data-activates="slide-out" class="button-collapse"><i class=" material-icons">menu</i></a>
          <a class="barra-navegacao__voltar hide-on-med-and-down" href="/app/instruction"><i class="material-icons">arrow_back</i></a>
          <h1 class="barra-navegacao__title truncate">{{instruction.name}}</h1>
          <a href="#" class="brand-logo right hide-on-small-only"><img class="barra-navegacao__logo" src="/view/img/oddin_logo_horizontal-01.png"/></a>
        </div>
      </nav>
    </div>
    <!--Barra de navegação lateral-->
    <ul id="slide-out" class="side-nav fixed barra-lateral">
      <div class="barra-lateral__header">
        <i class="barra-lateral__user-avatar material-icons">account_circle</i>
        <p class="barra-lateral__user-name">Aluno Teste</p>
        <p class="barra-lateral__user-email">aluno@email.com</p>
      </div>
      <!--<li><a href="./presentation/current">Aula Atual</a></li>-->
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li class="barra-lateral__item">
            <a class="barra-lateral__item--collapsible collapsible-header active truncate">
              {{instruction.name}}
            </a>
            <div class="collapsible-body">
              <ul>
                <li class="barra-lateral__subitem active"><a  href="#">Aulas</a></li>
                <li class="barra-lateral__subitem"><a href="./material">Material</a></li>
                <li class="barra-lateral__subitem"><a href="./participants">Participantes</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="hide-on-large-only no-padding barra-lateral__item"><a href="/app/instruction">Voltar Para Disciplinas</a></li>
      <li class="no-padding barra-lateral__item"><a href="/controller/logout">Logout</a></li>
    </ul>
    <!---->
  </header>
  <main data-ng-init="getHistoric()">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <ul class="tabs lista-tab">
            <li class="tab col s6 lista-tab__item"><a href="#aulas-abertas">Abertas</a></li>
            <li class="tab col s6 lista-tab__item"><a href="#aulas-encerradas">Encerradas</a></li>
          </ul>
        </div>
        <div id="aulas-abertas" class="col s12">
          <ul class="collection lista-aulas">
            <li data-ng-repeat="presentation in presentations | filter: {status: 0}: true" class="collection-item avatar lista-aulas__item">
              <i class="material-icons circle green lighten-2">lock_open</i>
              <a data-ng-attr-href="{{buildURI(instruction, '/app', '/presentation/' + presentation.id)}}">
                <span class="title">{{presentation.subject}}</span>
                <p>{{presentation.date}} <br>
                  {{presentation.time}}
                </p>
              </a>
              <!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
            </li>
          </ul>
        </div>
        <div id="aulas-encerradas" class="col s12">
          <ul class="collection lista-aulas">
            <li data-ng-repeat="presentation in presentations | filter: {status: 1}: true" class="collection-item avatar lista-aulas__item">
              <i class="material-icons circle red lighten-2">lock_outline</i>
              <a data-ng-attr-href="{{buildURI(instruction, '/app', '/presentation/' + presentation.id)}}">
                <span class="title">
                    {{presentation.subject}}  <!-- ID: {{presentation.id}}-->
                </span>
                <p>{{presentation.date}} <br>
                  {{presentation.time}}
                </p>
              </a>
              <!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <!-- Rodapé -->
  <footer></footer>

  <!-- Scripts -->
  <script src="/view/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/view/vendor/Materialize/dist/js/materialize.min.js"></script>

  <script src="/view/js/utils.js"></script>
  <script type="application/javascript" src="/controller/config/app?callback=Util.setEnvironment"></script>

  <script src="/view/vendor/angular/angular.js"></script>
  <script src="/view/js/app.js"></script>
  <script src="/view/js/controller/instructionCtrl.js"></script>

  <script src="/view/js/initMaterialize.js"></script>
</body>
</html>
